Repository felangel/bloc, pull requests merged in 2019-04, with the labels that each got.

#196 update intellij plugin to work with version 2019.1.0
  extensions/intellij/intellij_generator_plugin/build.gradle
  extensions/intellij/intellij_generator_plugin/gradle/wrapper/gradle-wrapper.jar
  extensions/intellij/intellij_generator_plugin/gradle/wrapper/gradle-wrapper.properties
Labels: enhancement, extension

#207 add BlocListener to flutter_bloc
  packages/flutter_bloc/CHANGELOG.md
  packages/flutter_bloc/README.md
  packages/flutter_bloc/lib/flutter_bloc.dart
  packages/flutter_bloc/lib/src/bloc_builder.dart
  packages/flutter_bloc/lib/src/bloc_listener.dart
  packages/flutter_bloc/lib/src/bloc_provider.dart
  packages/flutter_bloc/pubspec.yaml
  packages/flutter_bloc/test/bloc_listener_test.dart
Labels: enhancement

#214 Bug fix where BlocListener skips initialState
  packages/flutter_bloc/lib/src/bloc_listener.dart
  packages/flutter_bloc/test/bloc_listener_test.dart
Labels: bug

#225 Enable Advanced Control/Usage with updated transform
  packages/bloc/README.md
  packages/bloc/lib/src/bloc.dart
  packages/bloc/test/helpers/complex/complex_bloc.dart
Labels: enhancement

#228 Fix IntelliJ Plugin Compatibility Issues
  extensions/intellij/intellij_generator_plugin/build.gradle
  extensions/intellij/intellij_generator_plugin/gradle/wrapper/gradle-wrapper.properties
  extensions/intellij/intellij_generator_plugin/src/main/java/com/bloc/intellij_generator_plugin/action/GenerateBlocAction.kt
  extensions/intellij/intellij_generator_plugin/src/main/resources/META-INF/plugin.xml
Labels: bug, extension

#237 Create Flutter Firebase Login Tutorial
  docs/_sidebar.md
  docs/flutterfirebaselogintutorial.md
  examples/flutter_firebase_login/lib/authentication/authentication.dart
  examples/flutter_firebase_login/lib/authentication_bloc/authentication_bloc.dart
  examples/flutter_firebase_login/lib/authentication_bloc/authentication_event.dart
  examples/flutter_firebase_login/lib/authentication_bloc/authentication_state.dart
  examples/flutter_firebase_login/lib/authentication_bloc/bloc.dart
  examples/flutter_firebase_login/lib/forms/forms.dart
  examples/flutter_firebase_login/lib/forms/login/bloc/bloc.dart
  examples/flutter_firebase_login/lib/forms/login/bloc/login_event.dart
  examples/flutter_firebase_login/lib/home_screen.dart
  examples/flutter_firebase_login/lib/login/bloc/bloc.dart
  examples/flutter_firebase_login/lib/login/bloc/login_bloc.dart
  examples/flutter_firebase_login/lib/login/bloc/login_event.dart
  examples/flutter_firebase_login/lib/login/bloc/login_state.dart
  examples/flutter_firebase_login/lib/login/create_account_button.dart
  examples/flutter_firebase_login/lib/login/google_login_button.dart
  examples/flutter_firebase_login/lib/login/login.dart
  examples/flutter_firebase_login/lib/login/login_button.dart
  examples/flutter_firebase_login/lib/login/login_form.dart
  examples/flutter_firebase_login/lib/login/login_screen.dart
  examples/flutter_firebase_login/lib/main.dart
  examples/flutter_firebase_login/lib/register/bloc/bloc.dart
  examples/flutter_firebase_login/lib/register/bloc/register_bloc.dart
  examples/flutter_firebase_login/lib/register/bloc/register_event.dart
  examples/flutter_firebase_login/lib/register/bloc/register_state.dart
  examples/flutter_firebase_login/lib/register/register.dart
  examples/flutter_firebase_login/lib/register/register_button.dart
  examples/flutter_firebase_login/lib/register/register_form.dart
  examples/flutter_firebase_login/lib/register/register_screen.dart
  examples/flutter_firebase_login/lib/user_repository.dart
  examples/flutter_firebase_login/pubspec.yaml
Labels: documentation, example
