Repository felangel/bloc, pull requests merged in 2019-08, with the labels that each got.

#452 Updated login tutorial documentation to correct LoginForm BlocBuilde…
  docs/flutterlogintutorial.md
Labels: bug, documentation

#463 Prevent implicit dynamic
  extensions/vscode/snippets/snippets.json
Labels: enhancement, extension

#468 Fix File Overwrites
  extensions/intellij/intellij_generator_plugin/build.gradle
  extensions/intellij/intellij_generator_plugin/src/main/java/com/bloc/intellij_generator_plugin/action/GenerateBlocAction.kt
  extensions/intellij/intellij_generator_plugin/src/main/resources/templates/with_equatable/bloc_event.dart.template
  extensions/intellij/intellij_generator_plugin/src/main/resources/templates/with_equatable/bloc_state.dart.template
Labels: enhancement, extension

#480 Add transformStates to bloc
  packages/bloc/CHANGELOG.md
  packages/bloc/README.md
  packages/bloc/lib/src/bloc.dart
  packages/bloc/pubspec.yaml
  packages/bloc/test/bloc_test.dart
  packages/bloc/test/helpers/complex/complex_bloc.dart
  packages/bloc/test/helpers/complex/complex_event.dart
  packages/bloc/test/helpers/complex/complex_state.dart
  packages/bloc/test/helpers/counter/counter_bloc.dart
  packages/bloc/test/transition_test.dart
Labels: enhancement
