Repository felangel/bloc, pull requests merged in 2019-11, with the labels that each got.

#643 Handle exceptions in onTransition
  packages/bloc/lib/src/bloc.dart
  packages/bloc/test/bloc_test.dart
  packages/bloc/test/helpers/counter/counter.dart
  packages/bloc/test/helpers/counter/on_transition_error_bloc.dart
Labels: bug

#638 update bloc.close to process pending events
  packages/bloc/README.md
  packages/bloc/lib/src/bloc.dart
  packages/bloc/test/bloc_test.dart
Labels: enhancement candidate, feedback wanted

#644 add blocTest and emitsExactly
  packages/bloc_test/example/main.dart
  packages/bloc_test/lib/bloc_test.dart
  packages/bloc_test/lib/src/bloc_test.dart
  packages/bloc_test/lib/src/emits_exactly.dart
  packages/bloc_test/pubspec.yaml
  packages/bloc_test/test/bloc_test_test.dart
  packages/bloc_test/test/emits_exactly_test.dart
  packages/bloc_test/test/helpers/async_counter_bloc.dart
  packages/bloc_test/test/helpers/helpers.dart
  packages/bloc_test/test/helpers/multi_counter_bloc.dart
  packages/bloc_test/test/helpers/sum_bloc.dart
Labels: enhancement

#645 bloc v2.0.0
  packages/bloc/CHANGELOG.md
  packages/bloc/pubspec.yaml
Labels: pkg:bloc, release candidate

#648 flutter_bloc v2.0.0
  packages/flutter_bloc/CHANGELOG.md
  packages/flutter_bloc/README.md
  packages/flutter_bloc/pubspec.yaml
  packages/flutter_bloc/test/bloc_provider_test.dart
  packages/flutter_bloc/test/multi_bloc_provider_test.dart
Labels: pkg:flutter_bloc, release candidate

#649 bloc_test v2.0.0
  packages/bloc_test/CHANGELOG.md
  packages/bloc_test/README.md
  packages/bloc_test/pubspec.yaml
Labels: pkg:bloc_test, release candidate

#650 angular_bloc v2.0.0
  packages/angular_bloc/CHANGELOG.md
  packages/angular_bloc/README.md
  packages/angular_bloc/pubspec.yaml
Labels: pkg:angular_bloc, release candidate

#654 Add MockBloc to bloc_test
  packages/bloc_test/CHANGELOG.md
  packages/bloc_test/README.md
  packages/bloc_test/example/main.dart
  packages/bloc_test/lib/bloc_test.dart
  packages/bloc_test/lib/src/mock_bloc.dart
  packages/bloc_test/pubspec.yaml
  packages/bloc_test/test/emits_exactly_test.dart
  packages/bloc_test/test/mock_bloc_test.dart
Labels: enhancement, pkg:bloc_test

#554 PT-BR Docs
  docs/pt-br/README.md
  docs/pt-br/_navbar.md
  docs/pt-br/_sidebar.md
  docs/pt-br/gettingstarted.md
  docs/pt-br/testing.md
  docs/pt-br/whybloc.md
Labels: documentation, translation

#677 Correct minor typo in Core Concepts documentation
  docs/coreconcepts.md
Labels: documentation, enhancement

#678 [Patch] flutter_bloc condition (previous state)
  .gitignore
  packages/flutter_bloc/CHANGELOG.md
  packages/flutter_bloc/lib/src/bloc_builder.dart
  packages/flutter_bloc/lib/src/bloc_listener.dart
  packages/flutter_bloc/pubspec.yaml
  packages/flutter_bloc/test/bloc_builder_test.dart
  packages/flutter_bloc/test/bloc_listener_test.dart
Labels: enhancement

#696 bloc_test emitsExactly supports Iterable<Matcher>
  packages/bloc_test/CHANGELOG.md
  packages/bloc_test/README.md
  packages/bloc_test/lib/src/bloc_test.dart
  packages/bloc_test/lib/src/emits_exactly.dart
  packages/bloc_test/pubspec.yaml
  packages/bloc_test/test/bloc_test_test.dart
  packages/bloc_test/test/emits_exactly_test.dart
  packages/bloc_test/test/helpers/complex_bloc.dart
  packages/bloc_test/test/helpers/helpers.dart
Labels: enhancement, pkg:bloc_test

#698 Deprecate builder for create in BlocProvider/RepositoryProvider
  packages/flutter_bloc/CHANGELOG.md
  packages/flutter_bloc/README.md
  packages/flutter_bloc/example/lib/main.dart
  packages/flutter_bloc/lib/src/bloc_provider.dart
  packages/flutter_bloc/lib/src/multi_bloc_provider.dart
  packages/flutter_bloc/lib/src/multi_repository_provider.dart
  packages/flutter_bloc/lib/src/repository_provider.dart
  packages/flutter_bloc/pubspec.yaml
  packages/flutter_bloc/test/bloc_provider_test.dart
  packages/flutter_bloc/test/multi_bloc_provider_test.dart
  packages/flutter_bloc/test/multi_repository_provider_test.dart
  packages/flutter_bloc/test/repository_provider_test.dart
Labels: enhancement, pkg:flutter_bloc

#704 Replace Gitter with Discord
  CONTRIBUTING.md
  README.md
  docs/_coverpage.md
  docs/blocvscodeextension.md
  docs/cs/README.md
  docs/cs/_coverpage.md
  docs/cs/blocvscodeextension.md
  docs/fr/README.md
  docs/fr/_coverpage.md
  docs/ko-kr/README.md
  docs/ko-kr/_coverpage.md
  docs/pt-br/README.md
  docs/pt-br/_coverpage.md
  extensions/vscode/README.md
  packages/angular_bloc/README.md
  packages/bloc/README.md
  packages/bloc_test/README.md
  packages/flutter_bloc/README.md
Labels: documentation
