Repository felangel/bloc, pull requests merged in 2020-07, with the labels that each got.

#1374 feat(vscode): v4.1.0
  extensions/vscode/CHANGELOG.md
  extensions/vscode/README.md
  extensions/vscode/package.json
  extensions/vscode/snippets/bloc.json
  extensions/vscode/snippets/cubit.json
  extensions/vscode/src/commands/index.ts
  extensions/vscode/src/commands/new-bloc.command.ts
  extensions/vscode/src/commands/new-cubit.command.ts
  extensions/vscode/src/extension.ts
  extensions/vscode/src/templates/cubit-state.template.ts
  extensions/vscode/src/templates/cubit.template.ts
  extensions/vscode/src/templates/index.ts
  extensions/vscode/src/utils/analyze-dependencies.ts
  extensions/vscode/src/utils/has-dependency.ts
  extensions/vscode/src/utils/index.ts
Labels: enhancement, extension, release candidate

#1375 fix(vscode): include dev_dependencies in package analysis
  extensions/vscode/CHANGELOG.md
  extensions/vscode/package.json
  extensions/vscode/src/utils/analyze-dependencies.ts
  extensions/vscode/src/utils/update-pubspec-dependency.ts
Labels: bug, extension, release candidate

#1386 docs: document lazy parameter on BlocProvider
  docs/_snippets/flutter_bloc_core_concepts/bloc_provider_lazy.dart.md
  docs/flutterbloccoreconcepts.md
  packages/flutter_bloc/README.md
Labels: documentation, enhancement

#1394 Traduction migration.md to french
  docs/fr/migration.md
Labels: documentation, translation

#1056 Upgrade IntelliJ Plugin to v1.7.0
  extensions/intellij/intellij_generator_plugin/build.gradle
  extensions/intellij/intellij_generator_plugin/src/main/java/com/bloc/intellij_generator_plugin/action/GenerateBlocDialog.form
  extensions/intellij/intellij_generator_plugin/src/main/java/com/bloc/intellij_generator_plugin/generator/BlocGeneratorFactory.kt
  extensions/intellij/intellij_generator_plugin/src/main/java/com/bloc/intellij_generator_plugin/generator/components/BlocExportsGenerator.kt
  extensions/intellij/intellij_generator_plugin/src/main/resources/META-INF/plugin.xml
  extensions/intellij/intellij_generator_plugin/src/main/resources/META-INF/pluginIcon.svg
  extensions/intellij/intellij_generator_plugin/src/main/resources/icons/bloc.png
  extensions/intellij/intellij_generator_plugin/src/main/resources/templates/with_equatable/bloc.dart.template
  extensions/intellij/intellij_generator_plugin/src/main/resources/templates/with_equatable/bloc_event.dart.template
  extensions/intellij/intellij_generator_plugin/src/main/resources/templates/with_equatable/bloc_exports.dart.template
  extensions/intellij/intellij_generator_plugin/src/main/resources/templates/with_equatable/bloc_state.dart.template
  extensions/intellij/intellij_generator_plugin/src/main/resources/templates/without_equatable/bloc.dart.template
  extensions/intellij/intellij_generator_plugin/src/main/resources/templates/without_equatable/bloc_event.dart.template
  extensions/intellij/intellij_generator_plugin/src/main/resources/templates/without_equatable/bloc_exports.dart.template
  extensions/intellij/intellij_generator_plugin/src/main/resources/templates/without_equatable/bloc_state.dart.template
Labels: enhancement, extension

#1397 fix(intelliJ): handle trailing _bloc in name
  extensions/intellij/intellij_generator_plugin/build.gradle
  extensions/intellij/intellij_generator_plugin/src/main/java/com/bloc/intellij_generator_plugin/generator/Generator.kt
Labels: bug, extension

#1093 Translation of BLoC into Azerbaijani
  docs/az/fluttercountertutorial.md
Labels: documentation, translation

#1402 fix(vscode): BlocObserver and CubitObserver snippets
  extensions/vscode/CHANGELOG.md
  extensions/vscode/package.json
  extensions/vscode/snippets/bloc.json
  extensions/vscode/snippets/cubit.json
Labels: bug, extension

#1403 docs: removing unused lines of code in snippets
  docs/_snippets/flutter_weather_tutorial/integrate_gradient_container.dart.md
  docs/_snippets/flutter_weather_tutorial/settings.dart.md
Labels: documentation

#1405 fix(bloc): bump cubit to ^0.1.2
  packages/bloc/CHANGELOG.md
  packages/bloc/README.md
  packages/bloc/pubspec.yaml
Labels: bug, pkg:bloc, release candidate

#1406 fix(flutter_bloc): upgrade to bloc 5.0.1
  packages/bloc/CHANGELOG.md
  packages/flutter_bloc/CHANGELOG.md
  packages/flutter_bloc/README.md
  packages/flutter_bloc/pubspec.yaml
Labels: bug, pkg:flutter_bloc, release candidate

#1407 fix(bloc_test): upgrade to bloc 5.0.1
  packages/bloc_test/CHANGELOG.md
  packages/bloc_test/README.md
  packages/bloc_test/pubspec.yaml
Labels: bug, pkg:bloc_test, release candidate

#1409 Fix/angular bloc v6.0.0 dev.6
  packages/angular_bloc/CHANGELOG.md
  packages/angular_bloc/README.md
  packages/angular_bloc/pubspec.yaml
Labels: bug, pkg:angular_bloc, release candidate

#1436 fix(vscode): fix pubspec.yaml file read on windows
  extensions/vscode/CHANGELOG.md
  extensions/vscode/package-lock.json
  extensions/vscode/package.json
  extensions/vscode/src/commands/new-bloc.command.ts
  extensions/vscode/src/commands/new-cubit.command.ts
  extensions/vscode/src/utils/analyze-dependencies.ts
  extensions/vscode/src/utils/get-pubspec-path.ts
  extensions/vscode/src/utils/get-pubspec.ts
  extensions/vscode/src/utils/has-dependency.ts
Labels: bug, extension

#1435 docs: fix in snippets/bloc_listener_explicit_bloc
  docs/_snippets/flutter_bloc_core_concepts/bloc_listener_explicit_bloc.dart.md
Labels: documentation

#1457 fix(hydrated_bloc): storage.write error + e2e
  .github/workflows/hydrated_bloc.yaml
  packages/hydrated_bloc/lib/src/hydrated_cubit.dart
  packages/hydrated_bloc/pubspec.yaml
  packages/hydrated_bloc/test/cubits/cubits.dart
  packages/hydrated_bloc/test/cubits/freezed_cubit.dart
  packages/hydrated_bloc/test/cubits/freezed_cubit.freezed.dart
  packages/hydrated_bloc/test/cubits/freezed_cubit.g.dart
  packages/hydrated_bloc/test/cubits/json_serializable_cubit.dart
  packages/hydrated_bloc/test/cubits/json_serializable_cubit.g.dart
  packages/hydrated_bloc/test/cubits/list_cubit.dart
  packages/hydrated_bloc/test/cubits/manual_cubit.dart
  packages/hydrated_bloc/test/cubits/simple_cubit.dart
  packages/hydrated_bloc/test/e2e_test.dart
  packages/hydrated_bloc/test/hydrated_bloc_test.dart
  packages/hydrated_bloc/test/hydrated_cubit_test.dart
Labels: bug, pkg:hydrated_bloc

#1460 fix(hydrated_bloc): traversals, e2e, list fix
  packages/hydrated_bloc/lib/src/hydrated_cubit.dart
  packages/hydrated_bloc/test/cubits/bad_cubit.dart
  packages/hydrated_bloc/test/cubits/cyclic_cubit.dart
  packages/hydrated_bloc/test/cubits/freezed_cubit.dart
  packages/hydrated_bloc/test/e2e_test.dart
  packages/hydrated_bloc/test/hydrated_bloc_test.dart
Labels: bug, pkg:hydrated_bloc

#1481 fix(hydrated_bloc): wip: list traverse
  packages/hydrated_bloc/lib/src/hydrated_cubit.dart
  packages/hydrated_bloc/test/cubits/list_cubit.dart
  packages/hydrated_bloc/test/e2e_test.dart
Labels: bug, pkg:hydrated_bloc

#1482 fix(hydrated bloc): traversal empty list
  packages/hydrated_bloc/CHANGELOG.md
  packages/hydrated_bloc/lib/src/hydrated_cubit.dart
  packages/hydrated_bloc/pubspec.yaml
  packages/hydrated_bloc/test/cubits/list_cubit.dart
  packages/hydrated_bloc/test/e2e_test.dart
Labels: bug, pkg:hydrated_bloc

#1499 docs: fix BlocBuilder condition description in fluttertimertutorial.md
  docs/fluttertimertutorial.md
Labels: documentation, example

#1513 Update README.md
  packages/flutter_bloc/README.md
Labels: bug, documentation

#1516 docs(bloc): fix onError BlocObserver usage in README
  packages/bloc/README.md
Labels: bug, documentation, pkg:bloc

#1527 docs(flutter_login): updated tutorial
  docs/_sidebar.md
  docs/_snippets/flutter_login_tutorial/authentication_bloc.dart.md
  docs/_snippets/flutter_login_tutorial/authentication_bloc_constructor.dart.md
  docs/_snippets/flutter_login_tutorial/authentication_bloc_initial_state.dart.md
  docs/_snippets/flutter_login_tutorial/authentication_bloc_map_event_to_state.dart.md
  docs/_snippets/flutter_login_tutorial/authentication_event.dart.md
  docs/_snippets/flutter_login_tutorial/authentication_state.dart.md
  docs/_snippets/flutter_login_tutorial/flutter_create.sh.md
  docs/_snippets/flutter_login_tutorial/flutter_packages_get.sh.md
  docs/_snippets/flutter_login_tutorial/home_page.dart.md
  docs/_snippets/flutter_login_tutorial/loading_indicator.dart.md
  docs/_snippets/flutter_login_tutorial/login_bloc.dart.md
  docs/_snippets/flutter_login_tutorial/login_event.dart.md
  docs/_snippets/flutter_login_tutorial/login_form.dart.md
  docs/_snippets/flutter_login_tutorial/login_page.dart.md
  docs/_snippets/flutter_login_tutorial/login_state.dart.md
  docs/_snippets/flutter_login_tutorial/main.dart.md
  docs/_snippets/flutter_login_tutorial/pubspec.yaml.md
  docs/_snippets/flutter_login_tutorial/splash_page.dart.md
  docs/_snippets/flutter_login_tutorial/user_repository.dart.md
  docs/assets/gifs/flutter_login.gif
  docs/cs/_sidebar.md
  docs/cs/flutterlogintutorial.md
  docs/es/_sidebar.md
  docs/es/flutterlogintutorial.md
  docs/flutterlogintutorial.md
  docs/fr/_sidebar.md
  docs/fr/flutterlogintutorial.md
  docs/jp/_sidebar.md
  docs/jp/flutterlogintutorial.md
  docs/pt-br/_sidebar.md
  docs/pt-br/flutterlogintutorial.md
  docs/ru/_sidebar.md
  docs/ru/flutterlogintutorial.md
  docs/zh-cn/_sidebar.md
  docs/zh-cn/flutterlogintutorial.md
  examples/flutter_login/pubspec.yaml
Labels: documentation, example

#1533 docs: update pt-BR flutterlogintutorial
  docs/pt-br/flutterlogintutorial.md
Labels: documentation, translation

#1465 docs: [ES] advanced tutorials, migration and recipes added.
  docs/es/README.md
  docs/es/_sidebar.md
  docs/es/blocintellijextension.md
  docs/es/coreconcepts.md
  docs/es/flutterbloccoreconcepts.md
  docs/es/flutterfirebaselogintutorial.md
  docs/es/flutterfirestoretodostutorial.md
  docs/es/flutterlogintutorial.md
  docs/es/fluttertodostutorial.md
  docs/es/flutterweathertutorial.md
  docs/es/migration.md
  docs/es/recipesflutterblocaccess.md
  docs/es/recipesflutternavigation.md
  docs/es/recipesfluttershowsnackbar.md
Labels: documentation, translation

#1538 docs(flutter_login): FR Translations
  docs/fr/flutterlogintutorial.md
Labels: documentation, translation
