Repository felangel/bloc, pull requests merged in 2020-10, with the labels that each got.

#1793 docs: add a reference to complete flutter reference
  README.md
Labels: documentation

#1798 fix(bloc_test): update to mockito ^4.1.2
  .github/workflows/bloc_test.yaml
  packages/bloc_test/CHANGELOG.md
  packages/bloc_test/README.md
  packages/bloc_test/lib/src/mock_bloc.dart
  packages/bloc_test/pubspec.yaml
  packages/bloc_test/test/main.dart
  scripts/ci.sh
  scripts/ci_build_flutter.sh
  scripts/ci_build_web.sh
  scripts/retry.sh
  tool/coverage.sh
Labels: bug, pkg:bloc_test

#1799 fix(bloc_test): revert sdk version to >=2.7.0
  .gitignore
  packages/bloc_test/CHANGELOG.md
  packages/bloc_test/README.md
  packages/bloc_test/pubspec.yaml
  tool/coverage.sh
Labels: bug, pkg:bloc_test

#1800 docs: update examples to flutter v1.22.0
  examples/flutter_firebase_login/pubspec.yaml
  examples/flutter_firestore_todos/lib/widgets/tab_selector.dart
  examples/flutter_todos/lib/widgets/tab_selector.dart
Labels: chore, example

#1792 docs(flutter_bloc): improve inline docs for buildWhen
  packages/flutter_bloc/lib/src/bloc_builder.dart
Labels: documentation, pkg:flutter_bloc

#1801 chore(flutter_bloc): v6.0.6
  packages/flutter_bloc/CHANGELOG.md
  packages/flutter_bloc/pubspec.yaml
Labels: chore, pkg:flutter_bloc, release candidate

#1802 docs(hydrated_bloc): add inline docs for hydrated api
  packages/hydrated_bloc/lib/src/hydrated_cubit.dart
  packages/hydrated_bloc/test/hydrated_storage_test.dart
Labels: documentation, pkg:hydrated_bloc

#1808 docs(replay_bloc): add inline documentation to mixins
  .github/workflows/replay_bloc.yaml
  packages/replay_bloc/lib/src/replay_bloc.dart
  packages/replay_bloc/lib/src/replay_cubit.dart
  packages/replay_bloc/pubspec.yaml
  packages/replay_bloc/test/main.dart
Labels: documentation, pkg:replay_bloc, release candidate

#1822 fix(vscode): freezed cubit template typo
  extensions/vscode/CHANGELOG.md
  extensions/vscode/package.json
  extensions/vscode/src/templates/cubit-state.template.ts
  extensions/vscode/src/templates/cubit.template.ts
Labels: bug, extension, release candidate

#1834 docs(bloc): small typo fix
  packages/bloc/lib/src/bloc.dart
Labels: documentation, pkg:bloc

#1832 feat(bloc): add onCreate and onClose to BlocObserver
  .github/workflows/bloc.yaml
  packages/bloc/CHANGELOG.md
  packages/bloc/README.md
  packages/bloc/example/main.dart
  packages/bloc/lib/src/bloc.dart
  packages/bloc/lib/src/bloc_observer.dart
  packages/bloc/lib/src/cubit.dart
  packages/bloc/pubspec.yaml
  packages/bloc/test/bloc_observer_test.dart
  packages/bloc/test/bloc_test.dart
  packages/bloc/test/blocs/counter/counter_bloc.dart
  packages/bloc/test/cubit_test.dart
  packages/bloc/test/cubits/counter_cubit.dart
  packages/bloc/test/main.dart
Labels: enhancement, pkg:bloc, release candidate

#1835 feat: add confirm password to flutter_firebase_login example
  examples/flutter_firebase_login/lib/authentication/models/confirmed_password.dart
  examples/flutter_firebase_login/lib/authentication/models/models.dart
  examples/flutter_firebase_login/lib/sign_up/cubit/sign_up_cubit.dart
  examples/flutter_firebase_login/lib/sign_up/cubit/sign_up_state.dart
  examples/flutter_firebase_login/lib/sign_up/view/sign_up_form.dart
  examples/flutter_firebase_login/test/authentication/models/confirmedPassword_test.dart
  examples/flutter_firebase_login/test/sign_up/cubit/sign_up_cubit_test.dart
  examples/flutter_firebase_login/test/sign_up/cubit/sign_up_state_test.dart
  examples/flutter_firebase_login/test/sign_up/view/sign_up_form_test.dart
Labels: enhancement, example

#1864 feat(bloc_test): add seed property to blocTest
  packages/bloc_test/README.md
  packages/bloc_test/lib/src/bloc_test.dart
  packages/bloc_test/test/bloc_bloc_test_test.dart
  packages/bloc_test/test/cubit_bloc_test_test.dart
Labels: enhancement, pkg:bloc_test

#1865 chore(bloc_test): v7.1.0
  packages/bloc_test/CHANGELOG.md
  packages/bloc_test/pubspec.yaml
Labels: pkg:bloc_test, release candidate

#1867 fix(hydrated_bloc): storage exception on clear and rehydrate
  packages/hydrated_bloc/CHANGELOG.md
  packages/hydrated_bloc/lib/src/hydrated_storage.dart
  packages/hydrated_bloc/pubspec.yaml
  packages/hydrated_bloc/test/e2e_test.dart
Labels: bug, pkg:hydrated_bloc, release candidate

#1870 docs: fix typos in login tutorial
  docs/flutterlogintutorial.md
Labels: documentation

#1876 ci: update to use dart test
  .github/workflows/bloc.yaml
  .github/workflows/bloc_test.yaml
  .github/workflows/replay_bloc.yaml
  packages/bloc/test/bloc_test.dart
  tool/coverage.sh
Labels: ci
