Repository felangel/bloc, pull requests merged in 2020-12, with the labels that each got.

#1985 fix(flutter_infinite_list): hide bottom loader when no more posts are available
  examples/flutter_infinite_list/android/gradle.properties
  examples/flutter_infinite_list/lib/posts/bloc/post_bloc.dart
Labels: bug, example

#1993 docs: adjust MockBloc documentation to class api
  packages/bloc_test/lib/src/mock_bloc.dart
Labels: documentation, pkg:bloc_test

#1996 fix(bloc): close always emits done
  packages/bloc/lib/src/cubit.dart
  packages/bloc/test/bloc_test.dart
  packages/bloc/test/cubit_test.dart
Labels: bug, pkg:bloc

#2011 docs: fix typo in Japanese
  docs/jp/blocnamingconventions.md
  docs/jp/flutterbloccoreconcepts.md
  docs/jp/testing.md
Labels: bug, documentation, translation

#1994 feat(counter_example): add integration tests
  examples/flutter_counter/integration_test/app_test.dart
  examples/flutter_counter/ios/Flutter/Debug.xcconfig
  examples/flutter_counter/ios/Flutter/Release.xcconfig
  examples/flutter_counter/ios/Podfile
  examples/flutter_counter/ios/Runner.xcodeproj/project.pbxproj
  examples/flutter_counter/pubspec.yaml
  examples/flutter_counter/test_driver/integration_test.dart
Labels: enhancement, example

#1926 feat(flutter_bloc)!: v7.0.0
  packages/flutter_bloc/CHANGELOG.md
  packages/flutter_bloc/lib/src/bloc_builder.dart
  packages/flutter_bloc/lib/src/bloc_consumer.dart
  packages/flutter_bloc/lib/src/bloc_listener.dart
  packages/flutter_bloc/lib/src/bloc_provider.dart
  packages/flutter_bloc/pubspec.yaml
  packages/flutter_bloc/test/bloc_builder_test.dart
  packages/flutter_bloc/test/bloc_consumer_test.dart
  packages/flutter_bloc/test/bloc_listener_test.dart
  packages/flutter_bloc/test/bloc_provider_test.dart
  packages/flutter_bloc/test/multi_bloc_listener_test.dart
  packages/flutter_bloc/test/multi_bloc_provider_test.dart
Labels: breaking change, feedback wanted, pkg:flutter_bloc

#2019 fix(flutter_infinite_list): hasReachedMax logic
  examples/flutter_infinite_list/lib/posts/bloc/post_bloc.dart
Labels: bug, example

#2036 docs: update fluttertodostutorial.md to fix typo
  docs/fluttertodostutorial.md
Labels: bug, documentation
