Repository felangel/bloc, pull requests merged in 2020-11, with the labels that each got.

#1879 chore(angular_bloc): bump to v6.0.0
  examples/angular_counter/pubspec.yaml
  packages/angular_bloc/CHANGELOG.md
  packages/angular_bloc/pubspec.yaml
Labels: pkg:angular_bloc, release candidate

#1630 docs: updates to zh-cn documentation
  docs/zh-cn/README.md
  docs/zh-cn/_coverpage.md
  docs/zh-cn/coreconcepts.md
Labels: documentation, translation

#1881 docs: update firebase in firestore todos example
  examples/flutter_firestore_todos/ios/Podfile.lock
  examples/flutter_firestore_todos/ios/Runner.xcodeproj/project.pbxproj
  examples/flutter_firestore_todos/lib/main.dart
  examples/flutter_firestore_todos/todos_repository/lib/src/entities/todo_entity.dart
  examples/flutter_firestore_todos/todos_repository/lib/src/firebase_todos_repository.dart
  examples/flutter_firestore_todos/todos_repository/pubspec.yaml
  examples/flutter_firestore_todos/user_repository/lib/src/firebase_user_repository.dart
  examples/flutter_firestore_todos/user_repository/pubspec.yaml
Labels: enhancement, example

#1880 refactor(flutter_bloc)!: remove package:provider
  packages/flutter_bloc/lib/src/bloc_listener.dart
  packages/flutter_bloc/lib/src/bloc_provider.dart
  packages/flutter_bloc/lib/src/multi_bloc_listener.dart
  packages/flutter_bloc/lib/src/multi_bloc_provider.dart
  packages/flutter_bloc/lib/src/multi_repository_provider.dart
  packages/flutter_bloc/lib/src/repository_provider.dart
  packages/flutter_bloc/pubspec.yaml
  packages/flutter_bloc/test/bloc_provider_test.dart
  packages/flutter_bloc/test/repository_provider_test.dart
Labels: breaking change, dependency, feedback wanted, pkg:flutter_bloc, refactor

#1886 feat(flutter_bloc): context.read, context.watch, context.select
  examples/flutter_bloc_with_stream/lib/main.dart
  examples/flutter_complex_list/lib/list/view/list_page.dart
  examples/flutter_dynamic_form/lib/main.dart
  examples/flutter_form_validation/lib/main.dart
  examples/flutter_infinite_list/lib/posts/view/posts_list.dart
  examples/flutter_wizard/lib/main.dart
  packages/flutter_bloc/CHANGELOG.md
  packages/flutter_bloc/README.md
  packages/flutter_bloc/example/lib/main.dart
  packages/flutter_bloc/lib/flutter_bloc.dart
  packages/flutter_bloc/lib/src/bloc_builder.dart
  packages/flutter_bloc/lib/src/bloc_consumer.dart
  packages/flutter_bloc/lib/src/bloc_listener.dart
  packages/flutter_bloc/lib/src/bloc_provider.dart
  packages/flutter_bloc/lib/src/multi_bloc_listener.dart
  packages/flutter_bloc/lib/src/multi_bloc_provider.dart
  packages/flutter_bloc/lib/src/multi_repository_provider.dart
  packages/flutter_bloc/lib/src/repository_provider.dart
  packages/flutter_bloc/pubspec.yaml
  packages/flutter_bloc/test/bloc_provider_test.dart
  packages/flutter_bloc/test/repository_provider_test.dart
  packages/hydrated_bloc/example/lib/main.dart
  packages/replay_bloc/example/lib/main.dart
Labels: documentation, enhancement, pkg:flutter_bloc, release candidate

#1916 fix(flutter_bloc): remove context.watch from BlocConsumer
  packages/flutter_bloc/CHANGELOG.md
  packages/flutter_bloc/lib/src/bloc_consumer.dart
  packages/flutter_bloc/pubspec.yaml
  packages/flutter_bloc/test/bloc_consumer_test.dart
Labels: bug, pkg:flutter_bloc, release candidate

#1917 docs: fix extension method name in migration guide
  docs/migration.md
Labels: bug, documentation

#1924 feat(replay_bloc): v0.0.1-dev.4
  packages/replay_bloc/CHANGELOG.md
  packages/replay_bloc/README.md
  packages/replay_bloc/lib/replay_bloc.dart
  packages/replay_bloc/pubspec.yaml
Labels: enhancement, pkg:replay_bloc, release candidate

#1925 feat(hydrated_bloc): v6.1.0
  packages/hydrated_bloc/CHANGELOG.md
  packages/hydrated_bloc/lib/hydrated_bloc.dart
  packages/hydrated_bloc/pubspec.yaml
  packages/replay_bloc/CHANGELOG.md
  packages/replay_bloc/lib/replay_bloc.dart
Labels: enhancement, pkg:hydrated_bloc, release candidate

#1938 Update authentication_repository.dart comment
  examples/flutter_firebase_login/packages/authentication_repository/lib/src/authentication_repository.dart
Labels: bug, documentation

#1952 docs: update french translations for Faq, Bloc core concepts and counter tuto
  docs/fr/faqs.md
  docs/fr/flutterbloccoreconcepts.md
  docs/fr/fluttercountertutorial.md
Labels: documentation, translation

#1953 ci: upgrade to flutter-action v1.4.0
  .github/workflows/angular_bloc.yaml
  .github/workflows/angular_dart_examples.yaml
  .github/workflows/flutter_bloc.yaml
  .github/workflows/flutter_examples.yaml
  .github/workflows/hydrated_bloc.yaml
Labels: ci

#1955 docs: update french migration doc for 6.x versions
  docs/fr/_coverpage.md
  docs/fr/migration.md
Labels: documentation, translation

#1964 feat(vscode): add checkForUpdates extension setting
  extensions/vscode/CHANGELOG.md
  extensions/vscode/package-lock.json
  extensions/vscode/package.json
  extensions/vscode/src/extension.ts
Labels: enhancement, extension

#1966 docs: update zh-cn migration
  docs/zh-cn/migration.md
Labels: documentation, translation
