Repository felangel/bloc, pull requests merged in 2020-04, with the labels that each got.

#999 Fix syntax highlighting in bloc_provider.dart
  packages/flutter_bloc/lib/src/bloc_provider.dart
Labels: documentation, enhancement, pkg:flutter_bloc

#1000 Update CI to Flutter v1.12.13+hotfix.9
  .github/workflows/main.yaml
Labels: ci

#1003 package:bloc v4.0.0-dev.1
  packages/bloc/CHANGELOG.md
  packages/bloc/pubspec.yaml
Labels: pkg:bloc, release candidate

#1004 package:flutter_bloc v4.0.0-dev.1, package:bloc_test v5.0.0-dev.1
  docs/flutterfirebaselogintutorial.md
  docs/flutterinfinitelisttutorial.md
  examples/flutter_firebase_login/lib/login/bloc/login_bloc.dart
  examples/flutter_firebase_login/lib/register/bloc/register_bloc.dart
  examples/flutter_firebase_login/pubspec.yaml
  examples/flutter_infinite_list/ios/Runner.xcodeproj/project.pbxproj
  examples/flutter_infinite_list/lib/bloc/post_bloc.dart
  examples/flutter_infinite_list/lib/bloc/simple_bloc_delegate.dart
  examples/flutter_infinite_list/pubspec.yaml
  packages/bloc_test/CHANGELOG.md
  packages/bloc_test/pubspec.yaml
  packages/bloc_test/test/helpers/debounce_counter_bloc.dart
  packages/flutter_bloc/CHANGELOG.md
  packages/flutter_bloc/pubspec.yaml
Labels: pkg:bloc_test, pkg:flutter_bloc, release candidate

#1006 package:angular_bloc v4.0.0-dev.1
  packages/angular_bloc/CHANGELOG.md
  packages/angular_bloc/pubspec.yaml
Labels: pkg:angular_bloc, release candidate

#1011 Remove try catch block in Auth Bloc in Firebase Login example
  examples/flutter_firebase_login/lib/authentication_bloc/authentication_bloc.dart
Labels: enhancement, example

#1019 Added Japanese translation except the example apps
  docs/_navbar.md
  docs/index.html
  docs/jp/README.md
  docs/jp/_coverpage.md
  docs/jp/_sidebar.md
  docs/jp/angularcountertutorial.md
  docs/jp/architecture.md
  docs/jp/blocintellijextension.md
  docs/jp/blocnamingconventions.md
  docs/jp/blocvscodeextension.md
  docs/jp/coreconcepts.md
  docs/jp/faqs.md
  docs/jp/flutterangulargithubsearch.md
  docs/jp/flutterbloccoreconcepts.md
  docs/jp/fluttercountertutorial.md
  docs/jp/flutterfirebaselogintutorial.md
  docs/jp/flutterfirestoretodostutorial.md
  docs/jp/flutterinfinitelisttutorial.md
  docs/jp/flutterlogintutorial.md
  docs/jp/fluttertimertutorial.md
  docs/jp/fluttertodostutorial.md
  docs/jp/flutterweathertutorial.md
  docs/jp/gettingstarted.md
  docs/jp/recipesflutterblocaccess.md
  docs/jp/recipesflutternavigation.md
  docs/jp/recipesfluttershowsnackbar.md
  docs/jp/testing.md
  docs/jp/whybloc.md
Labels: documentation, translation

#1046 update angular_bloc, bloc_test, and flutter_bloc to bloc v4.0.0-dev.2
  packages/angular_bloc/CHANGELOG.md
  packages/angular_bloc/pubspec.yaml
  packages/bloc_test/CHANGELOG.md
  packages/bloc_test/pubspec.yaml
  packages/flutter_bloc/CHANGELOG.md
  packages/flutter_bloc/pubspec.yaml
Labels: pkg:angular_bloc, pkg:bloc_test, pkg:flutter_bloc, release candidate

#1047 remove actions/cache step from ci
  .github/workflows/main.yaml
Labels: ci

#1050 Add Written Resources to docs/README.md
  README.md
  docs/jp/README.md
  docs/pt-br/README.md
Labels: documentation, enhancement

#1065 add mustCallSuper to onEvent, onTransition, and onError
  packages/bloc/CHANGELOG.md
  packages/bloc/lib/src/bloc.dart
  packages/bloc/pubspec.yaml
  packages/bloc/test/helpers/counter/counter_bloc.dart
  packages/bloc/test/helpers/counter/on_error_bloc.dart
  packages/bloc/test/helpers/counter/on_exception_bloc.dart
  packages/bloc/test/helpers/counter/on_transition_error_bloc.dart
Labels: enhancement, release candidate

#1066 update angular_bloc, bloc_test, and flutter_bloc to bloc v4.0.0-dev.3
  packages/angular_bloc/CHANGELOG.md
  packages/angular_bloc/example/example.dart
  packages/angular_bloc/pubspec.yaml
  packages/bloc_test/CHANGELOG.md
  packages/bloc_test/pubspec.yaml
  packages/flutter_bloc/CHANGELOG.md
  packages/flutter_bloc/pubspec.yaml
Labels: enhancement, release candidate

#1069 surface unhandled bloc errors in debug mode
  packages/bloc/CHANGELOG.md
  packages/bloc/README.md
  packages/bloc/example/main.dart
  packages/bloc/lib/src/bloc.dart
  packages/bloc/lib/src/bloc_delegate.dart
  packages/bloc/pubspec.yaml
  packages/bloc/test/bloc_delegate_test.dart
  packages/bloc/test/bloc_test.dart
  packages/bloc/test/helpers/counter/counter_bloc.dart
  packages/bloc/test/helpers/counter/on_error_bloc.dart
  packages/bloc/test/helpers/counter/on_exception_bloc.dart
  packages/bloc/test/helpers/counter/on_transition_error_bloc.dart
Labels: enhancement, pkg:bloc, release candidate

#1070 update angular_bloc, bloc_test, and flutter_bloc to bloc v4.0.0-dev.4
  packages/angular_bloc/CHANGELOG.md
  packages/angular_bloc/example/example.dart
  packages/angular_bloc/pubspec.yaml
  packages/bloc/CHANGELOG.md
  packages/bloc_test/CHANGELOG.md
  packages/bloc_test/pubspec.yaml
  packages/flutter_bloc/CHANGELOG.md
  packages/flutter_bloc/example/ios/Runner.xcodeproj/project.pbxproj
  packages/flutter_bloc/example/ios/Runner.xcworkspace/xcshareddata/WorkspaceSettings.xcsettings
  packages/flutter_bloc/example/lib/main.dart
  packages/flutter_bloc/pubspec.yaml
Labels: enhancement, pkg:angular_bloc, pkg:bloc_test, pkg:flutter_bloc, release candidate

#1075 bloc v4.0.0
  packages/bloc/CHANGELOG.md
  packages/bloc/README.md
  packages/bloc/example/pubspec.yaml
  packages/bloc/lib/src/bloc.dart
  packages/bloc/pubspec.yaml
Labels: pkg:bloc, release candidate

#1076 bloc_test v5.0.0
  packages/bloc_test/CHANGELOG.md
  packages/bloc_test/pubspec.yaml
Labels: pkg:bloc_test, release candidate

#1077 angular_bloc v4.0.0
  packages/angular_bloc/CHANGELOG.md
  packages/angular_bloc/pubspec.yaml
Labels: pkg:angular_bloc, release candidate

#1078 flutter_bloc v4.0.0
  packages/flutter_bloc/CHANGELOG.md
  packages/flutter_bloc/example/analysis_options.yaml
  packages/flutter_bloc/example/pubspec.yaml
  packages/flutter_bloc/pubspec.yaml
Labels: pkg:flutter_bloc, release candidate

#1085 vscode-bloc v3.5.0
  extensions/vscode/CHANGELOG.md
  extensions/vscode/package.json
  extensions/vscode/src/utils/analyze-dependencies.ts
Labels: enhancement, extension, release candidate

#949 Spanish Translation: FAQ, Beginner Tutorials, Intermediate Tutorials and fixing small details
  docs/es/_sidebar.md
  docs/es/blocnamingconventions.md
  docs/es/faqs.md
  docs/es/fluttercountertutorial.md
  docs/es/flutterinfinitelisttutorial.md
  docs/es/flutterlogintutorial.md
  docs/es/fluttertimertutorial.md
  docs/es/gettingstarted.md
  docs/es/testing.md
Labels: documentation, translation
