Repository felangel/bloc, pull requests merged in 2020-08, with the labels that each got.

#1574 fix(hydrated_bloc): add web support
  packages/hydrated_bloc/CHANGELOG.md
  packages/hydrated_bloc/example/ios/Flutter/.last_build_id
  packages/hydrated_bloc/example/ios/Podfile
  packages/hydrated_bloc/example/ios/Runner.xcodeproj/project.pbxproj
  packages/hydrated_bloc/example/linux/CMakeLists.txt
  packages/hydrated_bloc/example/linux/flutter/CMakeLists.txt
  packages/hydrated_bloc/example/linux/flutter/generated_plugin_registrant.cc
  packages/hydrated_bloc/example/linux/flutter/generated_plugin_registrant.h
  packages/hydrated_bloc/example/linux/flutter/generated_plugins.cmake
  packages/hydrated_bloc/example/linux/my_application.cc
  packages/hydrated_bloc/example/linux/my_application.h
  packages/hydrated_bloc/lib/src/hydrated_storage.dart
  packages/hydrated_bloc/pubspec.yaml
  packages/hydrated_bloc/test/hydrated_storage_test.dart
Labels: bug, pkg:hydrated_bloc, release candidate

#1578 docs: FR updates to coreconcepts
  docs/fr/coreconcepts.md
Labels: documentation, translation

#1582 docs: FR updates to flutterbloccoreconcepts
  docs/fr/flutterbloccoreconcepts.md
Labels: documentation, translation

#1572 docs: fluttercountertutorial FR translation
  docs/fr/fluttercountertutorial.md
Labels: documentation, example, translation

#1523 feat(vscode): support freezed bloc
  extensions/vscode/README.md
  extensions/vscode/package-lock.json
  extensions/vscode/package.json
  extensions/vscode/snippets/freezed_bloc.json
  extensions/vscode/src/commands/new-bloc.command.ts
  extensions/vscode/src/templates/bloc-event.template.ts
  extensions/vscode/src/templates/bloc-state.template.ts
  extensions/vscode/src/templates/bloc.template.ts
  extensions/vscode/src/templates/index.ts
  extensions/vscode/src/utils/get-bloc-type.ts
  extensions/vscode/src/utils/index.ts
Labels: enhancement, extension

#1599 fix(vscode): typo in freezed template
  extensions/vscode/src/templates/bloc-state.template.ts
Labels: bug, extension

#1603 feat(vscode): update snippets and documentation
  docs/blocvscodeextension.md
  docs/cs/blocvscodeextension.md
  docs/es/blocvscodeextension.md
  docs/fr/blocvscodeextension.md
  docs/jp/blocvscodeextension.md
  docs/pt-br/blocvscodeextension.md
  docs/ru/blocvscodeextension.md
  docs/zh-cn/blocvscodeextension.md
  extensions/vscode/README.md
  extensions/vscode/snippets/bloc.json
Labels: extension

#1615 docs: rename instances of condition to buildWhen
  docs/_snippets/flutter_timer_tutorial/main2.dart.md
  docs/_snippets/flutter_timer_tutorial/timer2.dart.md
  docs/cs/fluttertimertutorial.md
  docs/fluttertimertutorial.md
  docs/fr/fluttertimertutorial.md
  docs/jp/fluttertimertutorial.md
  docs/pt-br/fluttertimertutorial.md
  docs/ru/fluttertimertutorial.md
  docs/zh-cn/fluttertimertutorial.md
Labels: bug, documentation

#1620 refactor(bloc): cubit memory and performance improvements
  packages/bloc/lib/src/cubit.dart
  packages/bloc/test/cubit_test.dart
Labels: enhancement, pkg:bloc

#1613 fix(bloc_test): capture uncaught cubit exceptions
  packages/bloc_test/lib/src/bloc_test.dart
  packages/bloc_test/test/cubit_bloc_test_test.dart
  packages/bloc_test/test/cubits/cubits.dart
  packages/bloc_test/test/cubits/exception_cubit.dart
Labels: bug, pkg:bloc_test, release candidate

#1611 chore(bloc_test): deprecate emitsExactly
  packages/bloc_test/README.md
  packages/bloc_test/example/main.dart
  packages/bloc_test/lib/src/emits_exactly.dart
  packages/bloc_test/test/emits_exactly_test.dart
Labels: deprecation, pkg:bloc_test

#1622 docs(flutter_counter): public member api docs
  examples/flutter_counter/analysis_options.yaml
  examples/flutter_counter/lib/app.dart
  examples/flutter_counter/lib/counter/cubit/counter_cubit.dart
  examples/flutter_counter/lib/counter/view/counter_page.dart
  examples/flutter_counter/lib/counter/view/counter_view.dart
  examples/flutter_counter/lib/counter_observer.dart
Labels: documentation, example

#1626 feat(replay_bloc): ReplayBloc + ReplayMixin
  packages/replay_bloc/README.md
  packages/replay_bloc/example/ios/Flutter/.last_build_id
  packages/replay_bloc/example/ios/Runner.xcodeproj/project.pbxproj
  packages/replay_bloc/example/lib/main.dart
  packages/replay_bloc/example/lib/simple_bloc_observer.dart
  packages/replay_bloc/lib/replay_bloc.dart
  packages/replay_bloc/lib/src/change_stack.dart
  packages/replay_bloc/lib/src/replay_bloc.dart
  packages/replay_bloc/lib/src/replay_cubit.dart
  packages/replay_bloc/test/blocs/counter_bloc.dart
  packages/replay_bloc/test/cubits/counter_cubit.dart
  packages/replay_bloc/test/replay_bloc_test.dart
Labels: enhancement, pkg:replay_bloc

#1645 fix(bloc_test): test timeouts when verify fails
  packages/bloc_test/CHANGELOG.md
  packages/bloc_test/lib/src/bloc_test.dart
  packages/bloc_test/test/bloc_bloc_test_test.dart
Labels: bug, pkg:bloc_test, release candidate

#1664 docs: add directory structure to flutter counter tutorial
  docs/fluttercountertutorial.md
Labels: documentation, example

#1668 feat(vscode): make templates configurable
  extensions/vscode/package-lock.json
  extensions/vscode/package.json
  extensions/vscode/src/commands/new-bloc.command.ts
  extensions/vscode/src/commands/new-cubit.command.ts
  extensions/vscode/src/templates/bloc.template.ts
  extensions/vscode/src/templates/cubit-state.template.ts
  extensions/vscode/src/utils/get-bloc-type.ts
  extensions/vscode/src/utils/get-template-setting.ts
  extensions/vscode/src/utils/index.ts
Labels: enhancement, extension

#1673 refactor(flutter_bloc): MultiRepositoryProvider extends MultiProvider
  packages/flutter_bloc/lib/src/multi_repository_provider.dart
Labels: pkg:flutter_bloc, refactor

#1671 refactor: minor updates to flutter github search
  examples/github_search/flutter_github_search/lib/main.dart
  examples/github_search/flutter_github_search/lib/search_form.dart
  examples/github_search/flutter_github_search/pubspec.yaml
Labels: example, refactor

#1675 refactor(flutter_bloc): BlocBuilder extends BlocListener
  packages/flutter_bloc/lib/src/bloc_builder.dart
Labels: pkg:flutter_bloc, refactor

#1677 fix(bloc_test): restrict mockito to <4.1.2
  packages/bloc_test/CHANGELOG.md
  packages/bloc_test/pubspec.yaml
Labels: bug, dependency, pkg:bloc_test

#1678 docs: fix onError override in flutter weather tutorial
  docs/_snippets/flutter_weather_tutorial/simple_bloc_observer.dart.md
Labels: bug, documentation, example

#1680 fix(flutter_bloc): BlocBuilder performs new lookup in didUpdateWidget
  packages/flutter_bloc/lib/src/bloc_builder.dart
  packages/flutter_bloc/test/bloc_builder_test.dart
Labels: bug, pkg:flutter_bloc

#1679 refactor(flutter_bloc): BlocConsumer requires single subscription
  packages/flutter_bloc/lib/src/bloc_consumer.dart
Labels: pkg:flutter_bloc, refactor

#1681 chore(flutter_bloc): v6.0.3
  packages/flutter_bloc/CHANGELOG.md
  packages/flutter_bloc/pubspec.yaml
Labels: chore, pkg:flutter_bloc, release candidate
