Repository felangel/bloc, pull requests merged in 2021-09, with the labels that each got.

#2703 docs: add white background to VGV logo for dark mode
  docs/assets/vgv_logo.png
Labels: documentation

#2714 docs(flutter_bloc): update usage section in README
  packages/flutter_bloc/README.md
Labels: documentation, pkg:flutter_bloc

#2716 docs: update local server snippet in CONTRIBUTING
  CONTRIBUTING.md
Labels: documentation

#2713 docs(flutter_firestore_todos): update tutorial to v8.0.0
  docs/_snippets/flutter_firestore_todos_tutorial/authentication_bloc.dart.md
  docs/_snippets/flutter_firestore_todos_tutorial/map_load_todos_to_state.dart.md
  docs/_snippets/flutter_firestore_todos_tutorial/map_todos_updated_to_state.dart.md
  docs/_snippets/flutter_firestore_todos_tutorial/on_load_todos.dart.md
  docs/_snippets/flutter_firestore_todos_tutorial/on_todos_updated.dart.md
  docs/_snippets/flutter_firestore_todos_tutorial/todos_bloc.dart.md
  docs/cs/flutterfirestoretodostutorial.md
  docs/es/flutterfirestoretodostutorial.md
  docs/flutterfirestoretodostutorial.md
  docs/jp/flutterfirestoretodostutorial.md
  docs/pt-br/flutterfirestoretodostutorial.md
  docs/ru/flutterfirestoretodostutorial.md
  docs/zh-cn/flutterfirestoretodostutorial.md
Labels: documentation

#2717 docs(flutter_firebase_login): minor fixes
  docs/flutterfirebaselogintutorial.md
Labels: documentation

#2733 ci(angular_bloc): use dart 2.12
  .github/workflows/angular_bloc.yaml
  .github/workflows/angular_dart_examples.yaml
Labels: pkg:angular_bloc, ci

#2720 docs(github_search): update to 8.0.0
  docs/_snippets/flutter_angular_github_search/common/github_search_bloc.dart.md
  docs/flutterangulargithubsearch.md
Labels: documentation

#2721 docs(faq): update to 8.0.0
  docs/_snippets/faqs/equatable_yield.dart.md
  docs/_snippets/faqs/state_not_updating_bad_3.dart.md
  docs/_snippets/faqs/state_not_updating_good_2.dart.md
  docs/_snippets/faqs/state_not_updating_good_3.dart.md
  docs/faqs.md
Labels: documentation

#2722 docs(architecture): update bloc snippet to 8.0.0
  docs/_snippets/architecture/business_logic_component.dart.md
Labels: documentation

#2723 docs(testing): update to 8.0.0
  docs/_snippets/testing/counter_bloc.dart.md
  docs/_snippets/testing/counter_bloc_test_bloc_test.dart.md
  docs/testing.md
Labels: documentation

#2726 docs: update snackbar recipe to 8.0.0
  docs/_snippets/recipes_flutter_show_snack_bar/data_bloc.dart.md
  docs/recipesfluttershowsnackbar.md
Labels: documentation

#2728 docs: update bloc access recipe to 8.0.0
  docs/_snippets/recipes_flutter_bloc_access/anonymous_route_access/home_page.dart.md
  docs/_snippets/recipes_flutter_bloc_access/counter_bloc.dart.md
  docs/_snippets/recipes_flutter_bloc_access/generated_route_access/home_page.dart.md
  docs/_snippets/recipes_flutter_bloc_access/global_access/counter_page.dart.md
  docs/_snippets/recipes_flutter_bloc_access/local_access/counter_page.dart.md
  docs/_snippets/recipes_flutter_bloc_access/named_route_access/home_page.dart.md
  docs/recipesflutterblocaccess.md
Labels: documentation

#2741 docs: broken links for spanish tutorial
  docs/es/flutterinfinitelisttutorial.md
Labels: documentation

#2746 docs: use transparent vgv logo on coverpage
  docs/_coverpage.md
  docs/assets/vgv_logo_transparent.png
Labels: documentation

#2718 docs(flutter_infinite_list): update to 8.0.0
  docs/_snippets/flutter_infinite_list_tutorial/post_bloc_initial.dart.md
  docs/_snippets/flutter_infinite_list_tutorial/post_bloc_map_event_to_state.dart.md
  docs/_snippets/flutter_infinite_list_tutorial/post_bloc_on_post_fetched.dart.md
  docs/_snippets/flutter_infinite_list_tutorial/post_bloc_transform_events.dart.md
  docs/_snippets/flutter_infinite_list_tutorial/post_bloc_transformer.dart.md
  docs/cs/flutterinfinitelisttutorial.md
  docs/es/flutterinfinitelisttutorial.md
  docs/flutterinfinitelisttutorial.md
  docs/fr/flutterinfinitelisttutorial.md
  docs/jp/flutterinfinitelisttutorial.md
  docs/pt-br/flutterinfinitelisttutorial.md
  docs/ru/flutterinfinitelisttutorial.md
  docs/zh-cn/flutterinfinitelisttutorial.md
Labels: documentation

#2727 docs: update recipe navigation to 8.0.0
  docs/_snippets/recipes_flutter_navigation/direct_navigation/main.dart.md
  docs/_snippets/recipes_flutter_navigation/my_bloc.dart.md
  docs/_snippets/recipes_flutter_navigation/my_event.dart.md
  docs/_snippets/recipes_flutter_navigation/my_state.dart.md
  docs/_snippets/recipes_flutter_navigation/route_navigation/main.dart.md
  docs/recipesflutternavigation.md
Labels: documentation

#2751 feat(angular_bloc)!: v7.0.0
  .github/workflows/angular_bloc.yaml
  .github/workflows/angular_dart_examples.yaml
  examples/angular_counter/CHANGELOG.md
  examples/angular_counter/lib/src/counter_page/counter_page_component.dart
  examples/angular_counter/lib/src/counter_page/counter_page_component.html
  examples/angular_counter/pubspec.yaml
  examples/angular_counter/web/main.dart
  examples/github_search/angular_github_search/lib/src/search_form/search_bar/search_bar_component.dart
  examples/github_search/angular_github_search/lib/src/search_form/search_body/search_body_component.dart
  examples/github_search/angular_github_search/lib/src/search_form/search_body/search_results/search_result_item/search_result_item_component.dart
  examples/github_search/angular_github_search/lib/src/search_form/search_body/search_results/search_result_item/search_result_item_component.html
  examples/github_search/angular_github_search/lib/src/search_form/search_body/search_results/search_results_component.dart
  examples/github_search/angular_github_search/lib/src/search_form/search_form_component.dart
  examples/github_search/angular_github_search/lib/src/search_form/search_form_component.html
  examples/github_search/angular_github_search/pubspec.yaml
  packages/angular_bloc/CHANGELOG.md
  packages/angular_bloc/README.md
  packages/angular_bloc/example/example.dart
  packages/angular_bloc/lib/src/pipes/bloc_pipe.dart
  packages/angular_bloc/pubspec.yaml
  packages/angular_bloc/test/bloc_pipe_test.dart
Labels: release candidate, pkg:angular_bloc, breaking change

#2755 chore(hydrated_bloc): update generated_plugin_registrant in example
  packages/hydrated_bloc/example/linux/flutter/generated_plugin_registrant.cc
  packages/hydrated_bloc/example/linux/flutter/generated_plugin_registrant.h
Labels: chore, pkg:hydrated_bloc

#2756 chore(flutter_firebase_login): remove unnecessary state parameter
  examples/flutter_firebase_login/lib/app/bloc/app_bloc.dart
Labels: example, chore

#2762 chore(angular_bloc): v7.1.0
  packages/angular_bloc/CHANGELOG.md
  packages/angular_bloc/pubspec.yaml
Labels: enhancement, release candidate, pkg:angular_bloc

#2764 fix(bloc_test): ignore deprecated member use
  packages/bloc_test/pubspec.yaml
  packages/bloc_test/test/legacy/blocs/debounce_counter_bloc.dart
Labels: bug, pkg:bloc_test

#2763 chore(bloc_concurrency): v0.1.0
  docs/assets/bloc_concurrency_diagram.png
  packages/bloc_concurrency/CHANGELOG.md
  packages/bloc_concurrency/README.md
  packages/bloc_concurrency/example/main.dart
  packages/bloc_concurrency/pubspec.yaml
Labels: release candidate, chore, pkg:bloc_concurrency

#2765 chore(bloc_test): v8.2.0
  packages/bloc_test/CHANGELOG.md
  packages/bloc_test/pubspec.yaml
Labels: enhancement, release candidate, pkg:bloc_test

#2766 chore(flutter_bloc): v7.3.0
  packages/flutter_bloc/CHANGELOG.md
  packages/flutter_bloc/pubspec.yaml
Labels: release candidate, pkg:flutter_bloc, chore

#2767 chore(hydrated_bloc): v7.1.0
  packages/hydrated_bloc/CHANGELOG.md
  packages/hydrated_bloc/pubspec.yaml
Labels: release candidate, chore, pkg:hydrated_bloc

#2769 chore(replay_bloc): v0.1.0
  packages/replay_bloc/CHANGELOG.md
  packages/replay_bloc/pubspec.yaml
Labels: release candidate, chore, pkg:replay_bloc

#2770 feat(vscode): v6.0.0
  extensions/vscode/CHANGELOG.md
  extensions/vscode/README.md
  extensions/vscode/snippets/bloc.json
  extensions/vscode/snippets/bloc_test.json
  extensions/vscode/snippets/flutter_bloc.json
  extensions/vscode/src/utils/analyze-dependencies.ts
Labels: enhancement, release candidate, extension

#2774 docs(flutter_bloc_with_stream): update to include a complete state
  examples/flutter_bloc_with_stream/lib/bloc/ticker_bloc.dart
  examples/flutter_bloc_with_stream/lib/bloc/ticker_event.dart
  examples/flutter_bloc_with_stream/lib/bloc/ticker_state.dart
  examples/flutter_bloc_with_stream/lib/main.dart
  examples/flutter_bloc_with_stream/pubspec.yaml
  examples/flutter_bloc_with_stream/test/bloc/ticker_bloc_test.dart
  examples/flutter_bloc_with_stream/test/bloc/ticker_event_test.dart
  examples/flutter_bloc_with_stream/test/bloc/ticker_state_test.dart
  examples/flutter_bloc_with_stream/test/ticker_page_test.dart
Labels: example

#2781 chore(intelliJ): v3.0.0
  extensions/intellij/intellij_generator_plugin/build.gradle
  extensions/intellij/intellij_generator_plugin/src/main/resources/META-INF/plugin.xml
  extensions/intellij/intellij_generator_plugin/src/main/resources/liveTemplates/Bloc.xml
Labels: enhancement, release candidate, extension

#2788 feat(intellij): Wrap with BlocSelector
  extensions/intellij/intellij_generator_plugin/build.gradle
  extensions/intellij/intellij_generator_plugin/src/main/java/com/bloc/intellij_generator_plugin/intention_action/BlocWrapWithBlocSelectorIntentionAction.kt
  extensions/intellij/intellij_generator_plugin/src/main/java/com/bloc/intellij_generator_plugin/intention_action/SnippetType.kt
  extensions/intellij/intellij_generator_plugin/src/main/java/com/bloc/intellij_generator_plugin/intention_action/Snippets.kt
  extensions/intellij/intellij_generator_plugin/src/main/resources/META-INF/plugin.xml
  extensions/intellij/intellij_generator_plugin/src/main/resources/intentionDescriptions/BlocWrapWithBlocSelectorIntentionAction/after.java.template
  extensions/intellij/intellij_generator_plugin/src/main/resources/intentionDescriptions/BlocWrapWithBlocSelectorIntentionAction/before.java.template
  extensions/intellij/intellij_generator_plugin/src/main/resources/intentionDescriptions/BlocWrapWithBlocSelectorIntentionAction/description.html
Labels: enhancement, release candidate, extension

#2793 docs(pt-br): add links to the Migration Guide
  docs/pt-br/_coverpage.md
  docs/pt-br/_sidebar.md
  docs/pt-br/migration.md
Labels: documentation, translation

#2796 refactor(bloc_concurrency): use classes for events in tests
  .github/workflows/bloc_concurrency.yaml
  packages/bloc_concurrency/test/src/concurrent_test.dart
  packages/bloc_concurrency/test/src/droppable_test.dart
  packages/bloc_concurrency/test/src/helpers.dart
  packages/bloc_concurrency/test/src/restartable_test.dart
  packages/bloc_concurrency/test/src/sequential_test.dart
Labels: chore, refactor, pkg:bloc_concurrency

#2797 ci: update very_good_coverage and pana
  .github/workflows/angular_bloc.yaml
  .github/workflows/bloc.yaml
  .github/workflows/bloc_concurrency.yaml
  .github/workflows/bloc_test.yaml
  .github/workflows/bloc_tools.yaml
  .github/workflows/flutter_bloc.yaml
  .github/workflows/hydrated_bloc.yaml
  .github/workflows/replay_bloc.yaml
Labels: ci

#2799 docs(pt-br): update migration guide by adding v7.2.0 info
  docs/pt-br/migration.md
Labels: documentation, translation

#2807 docs: add bloc_test and bloc_concurrency doc links to README
  README.md
Labels: documentation

#2809 docs(migration): describe how to retain legacy behavior via new API
  docs/migration.md
Labels: documentation

#2811 fix(flutter_infinite_list): apply throttleDroppable event transformer
  examples/flutter_infinite_list/ios/Flutter/AppFrameworkInfo.plist
  examples/flutter_infinite_list/lib/posts/bloc/post_bloc.dart
  examples/flutter_infinite_list/pubspec.yaml
  examples/flutter_infinite_list/test/posts/bloc/post_bloc_test.dart
  examples/flutter_infinite_list/test/posts/view/posts_page_test.dart
Labels: bug, example

#2812 feat(bloc_test)!: v9.0.0-dev.1
  packages/bloc_test/CHANGELOG.md
  packages/bloc_test/example/main.dart
  packages/bloc_test/lib/src/mock_bloc.dart
  packages/bloc_test/lib/src/when_listen.dart
  packages/bloc_test/pubspec.yaml
  packages/bloc_test/test/bloc_bloc_test_test.dart
  packages/bloc_test/test/legacy/bloc_bloc_test_test.dart
  packages/bloc_test/test/legacy/blocs/async_counter_bloc.dart
  packages/bloc_test/test/legacy/blocs/blocs.dart
  packages/bloc_test/test/legacy/blocs/complex_bloc.dart
  packages/bloc_test/test/legacy/blocs/counter_bloc.dart
  packages/bloc_test/test/legacy/blocs/debounce_counter_bloc.dart
  packages/bloc_test/test/legacy/blocs/error_counter_bloc.dart
  packages/bloc_test/test/legacy/blocs/exception_counter_bloc.dart
  packages/bloc_test/test/legacy/blocs/instant_emit_bloc.dart
  packages/bloc_test/test/legacy/blocs/multi_counter_bloc.dart
  packages/bloc_test/test/legacy/blocs/side_effect_counter_bloc.dart
  packages/bloc_test/test/legacy/blocs/sum_bloc.dart
  packages/bloc_test/test/legacy/cubits/async_counter_cubit.dart
  packages/bloc_test/test/legacy/cubits/complex_cubit.dart
  packages/bloc_test/test/legacy/cubits/counter_cubit.dart
  packages/bloc_test/test/legacy/cubits/cubits.dart
  packages/bloc_test/test/legacy/cubits/delayed_counter_cubit.dart
  packages/bloc_test/test/legacy/cubits/error_cubit.dart
  packages/bloc_test/test/legacy/cubits/exception_cubit.dart
  packages/bloc_test/test/legacy/cubits/instant_emit_cubit.dart
  packages/bloc_test/test/legacy/cubits/multi_counter_cubit.dart
  packages/bloc_test/test/legacy/cubits/side_effect_counter_cubit.dart
  packages/bloc_test/test/legacy/cubits/sum_cubit.dart
  packages/bloc_test/test/legacy/mock_bloc_test.dart
  packages/bloc_test/test/legacy/when_listen_test.dart
  packages/bloc_test/test/mock_bloc_test.dart
  packages/bloc_test/test/when_listen_test.dart
Labels: pkg:bloc_test, breaking change
