Repository felangel/bloc, pull requests merged in 2021-12, with the labels that each got.

#3024 docs(flutterbloccoreconcepts): rename events to follow naming conventions
  docs/_snippets/flutter_bloc_core_concepts/counter_bloc.dart.md
  docs/_snippets/flutter_bloc_core_concepts/counter_page.dart.md
Labels: documentation

#3027 docs(flutter_bloc): update example to follow naming conventions
  packages/flutter_bloc/example/lib/main.dart
Labels: example, documentation, pkg:flutter_bloc

#3028 docs(angular_bloc): update example to follow naming conventions
  examples/angular_counter/lib/src/counter_page/counter_bloc.dart
  examples/angular_counter/lib/src/counter_page/counter_page_component.dart
  packages/angular_bloc/example/example.dart
Labels: example, documentation, pkg:angular_bloc

#3029 docs(bloc): update example to follow naming conventions
  packages/bloc/README.md
  packages/bloc/example/main.dart
Labels: example, documentation, pkg:bloc

#3030 docs(hydrated_bloc): update example to follow naming conventions
  packages/hydrated_bloc/README.md
  packages/hydrated_bloc/example/lib/main.dart
Labels: example, documentation, pkg:hydrated_bloc

#3031 docs(replay_bloc): update example to follow naming conventions
  packages/replay_bloc/README.md
  packages/replay_bloc/example/lib/main.dart
  packages/replay_bloc/lib/src/replay_bloc.dart
Labels: example, documentation, pkg:replay_bloc

#3032 docs(bloc_test): update example to follow naming conventions
  packages/bloc_test/README.md
  packages/bloc_test/example/main.dart
Labels: example, documentation, pkg:bloc_test

#3033 docs(bloc): update example event names to be consistent
  packages/bloc/README.md
  packages/bloc/example/main.dart
Labels: example, documentation, pkg:bloc

#3034 docs(bloc_concurrency): update example to follow naming conventions
  packages/bloc_concurrency/README.md
  packages/bloc_concurrency/example/main.dart
Labels: example, documentation, pkg:bloc_concurrency

#3035 docs(snippets): update counter events to conform to naming conventions
  docs/_snippets/angular_counter_tutorial/counter_bloc.dart.md
  docs/_snippets/angular_counter_tutorial/counter_event.dart.md
  docs/_snippets/angular_counter_tutorial/counter_page_component.dart.md
  docs/_snippets/bloc_naming_conventions/event_examples_good.md
  docs/_snippets/core_concepts/counter_bloc.dart.md
  docs/_snippets/core_concepts/counter_bloc_event_handler.dart.md
  docs/_snippets/core_concepts/counter_bloc_full.dart.md
  docs/_snippets/core_concepts/counter_bloc_increment.dart.md
  docs/_snippets/core_concepts/counter_bloc_on_change.dart.md
  docs/_snippets/core_concepts/counter_bloc_on_change_usage.dart.md
  docs/_snippets/core_concepts/counter_bloc_on_error.dart.md
  docs/_snippets/core_concepts/counter_bloc_on_event.dart.md
  docs/_snippets/core_concepts/counter_bloc_on_transition.dart.md
  docs/_snippets/core_concepts/counter_bloc_stream_usage.dart.md
  docs/_snippets/core_concepts/counter_bloc_usage.dart.md
  docs/_snippets/core_concepts/simple_bloc_observer_on_transition_usage.dart.md
  docs/_snippets/recipes_flutter_bloc_access/anonymous_route_access/home_page.dart.md
  docs/_snippets/recipes_flutter_bloc_access/counter_bloc.dart.md
  docs/_snippets/recipes_flutter_bloc_access/generated_route_access/home_page.dart.md
  docs/_snippets/recipes_flutter_bloc_access/global_access/counter_page.dart.md
  docs/_snippets/recipes_flutter_bloc_access/local_access/counter_page.dart.md
  docs/_snippets/recipes_flutter_bloc_access/named_route_access/home_page.dart.md
  docs/_snippets/testing/counter_bloc.dart.md
  docs/_snippets/testing/counter_bloc_test_bloc_test.dart.md
  docs/az/coreconcepts.md
  docs/coreconcepts.md
  docs/cs/coreconcepts.md
  docs/de-de/coreconcepts.md
  docs/zh-cn/coreconcepts.md
  packages/angular_bloc/README.md
  packages/bloc/lib/src/bloc.dart
  packages/hydrated_bloc/lib/src/hydrated_bloc.dart
Labels: documentation

#3037 refactor(replay_bloc): remove redundant function parameter syntax
  packages/replay_bloc/lib/src/change_stack.dart
Labels: pkg:replay_bloc, refactor

#3012 refactor(bloc): add core interfaces
  packages/bloc/lib/src/bloc.dart
  packages/bloc/lib/src/bloc_base.dart
  packages/flutter_bloc/lib/src/bloc_builder.dart
  packages/flutter_bloc/lib/src/bloc_consumer.dart
  packages/flutter_bloc/lib/src/bloc_listener.dart
  packages/flutter_bloc/lib/src/bloc_provider.dart
  packages/flutter_bloc/lib/src/bloc_selector.dart
  packages/flutter_bloc/pubspec.yaml
Labels: feedback wanted, pkg:bloc, refactor

#3057 fix(flutter_infinite_list): resolve analysis warning
  examples/flutter_infinite_list/test/posts/bloc/post_bloc_test.dart
Labels: bug, example

#3056 (docs) Contibuting.md Added docsify note, and guidance on snippets
  CONTRIBUTING.md
Labels: documentation

#3064 feat(extensions): add snippets for MockBloc, MockCubit, and Fake
  extensions/intellij/README.md
  extensions/intellij/intellij_generator_plugin/src/main/resources/liveTemplates/Bloc.xml
  extensions/vscode/README.md
  extensions/vscode/snippets/bloc_test.json
Labels: enhancement, extension

#3071 fix(bloc): make onChange and addError protected
  packages/bloc/lib/src/bloc_base.dart
  packages/bloc/test/bloc_test.dart
  packages/bloc/test/cubit_test.dart
Labels: bug, pkg:bloc

#3066 refactor(bloc): add isClosed to Closable interface
  packages/bloc/lib/src/bloc_base.dart
Labels: pkg:bloc, refactor

#3070 fix(bloc_test): throw uncaught exceptions
  packages/bloc_test/lib/src/bloc_test.dart
  packages/bloc_test/test/bloc_bloc_test_test.dart
  packages/bloc_test/test/cubits/delayed_counter_cubit.dart
Labels: bug, pkg:bloc_test

#3077 chore(intellij): v3.2.0
  extensions/intellij/intellij_generator_plugin/build.gradle
  extensions/intellij/intellij_generator_plugin/src/main/resources/META-INF/plugin.xml
  extensions/intellij/intellij_generator_plugin/src/main/resources/liveTemplates/Bloc.xml
Labels: release candidate, extension, chore

#3080 test(firebase_login): fix failing logout test
  examples/flutter_firebase_login/test/app/bloc/app_bloc_test.dart
Labels: bug, example

#3100 refactor(bloc): use late keyword for internal state controller
  packages/bloc/lib/src/bloc_base.dart
Labels: pkg:bloc, refactor

#3099 chore(bloc): v8.0.2
  packages/bloc/CHANGELOG.md
  packages/bloc/pubspec.yaml
Labels: release candidate, pkg:bloc, chore

#3102 refactor(bloc_test): upgrade to bloc v8.0.2
  packages/bloc_test/pubspec.yaml
  packages/bloc_test/test/cubit_bloc_test_test.dart
  packages/bloc_test/test/mock_bloc_test.dart
Labels: pkg:bloc_test, refactor

#3101 chore(flutter_bloc): v8.0.1
  packages/flutter_bloc/CHANGELOG.md
  packages/flutter_bloc/pubspec.yaml
  packages/flutter_bloc/test/bloc_provider_test.dart
  packages/flutter_bloc/test/repository_provider_test.dart
Labels: release candidate, pkg:flutter_bloc, chore

#3103 chore(bloc_test): v9.0.2
  packages/bloc_test/CHANGELOG.md
  packages/bloc_test/pubspec.yaml
Labels: release candidate, pkg:bloc_test, chore
