Repository felangel/bloc, pull requests merged in 2021-10, with the labels that each got.

#2821 docs(pt-br): getting started and vscode
  .github/DOCS_ISSUE_TEMPLATE.md
  docs/pt-br/blocvscodeextension.md
  docs/pt-br/gettingstarted.md
Labels: documentation, translation

#2828 feat(hydrated_bloc)!: v8.0.0-dev.1
  packages/hydrated_bloc/CHANGELOG.md
  packages/hydrated_bloc/pubspec.yaml
  packages/hydrated_bloc/test/hydrated_bloc_test.dart
  packages/hydrated_bloc/test/hydrated_storage_test.dart
  packages/hydrated_bloc/test/legacy/hydrated_bloc_test.dart
Labels: release candidate, breaking change, pkg:hydrated_bloc

#2830 docs(flutter_bloc): add inline docs to library
  packages/flutter_bloc/lib/flutter_bloc.dart
Labels: documentation, pkg:flutter_bloc

#2829 feat(flutter_bloc)!: v8.0.0-dev.1
  packages/flutter_bloc/CHANGELOG.md
  packages/flutter_bloc/pubspec.yaml
  packages/flutter_bloc/test/bloc_provider_test.dart
Labels: release candidate, pkg:flutter_bloc, breaking change

#2907 chore(bloc_test): v8.4.0
  packages/bloc_test/CHANGELOG.md
  packages/bloc_test/pubspec.yaml
Labels: release candidate, pkg:bloc_test, chore

#2908 chore(examples): upgrade to mocktail ^0.2.0
  examples/flutter_bloc_with_stream/pubspec.yaml
  examples/flutter_bloc_with_stream/test/ticker_page_test.dart
  examples/flutter_complex_list/pubspec.yaml
  examples/flutter_counter/pubspec.yaml
  examples/flutter_dynamic_form/pubspec.yaml
  examples/flutter_dynamic_form/test/new_car/view/new_car_page_test.dart
  examples/flutter_firebase_login/packages/authentication_repository/pubspec.yaml
  examples/flutter_firebase_login/packages/authentication_repository/test/authentication_repository_test.dart
  examples/flutter_firebase_login/pubspec.yaml
  examples/flutter_firebase_login/test/app/view/app_test.dart
  examples/flutter_firebase_login/test/home/view/home_page_test.dart
  examples/flutter_firebase_login/test/login/view/login_form_test.dart
  examples/flutter_firebase_login/test/sign_up/view/sign_up_form_test.dart
  examples/flutter_infinite_list/pubspec.yaml
  examples/flutter_infinite_list/test/posts/view/posts_list_test.dart
  examples/flutter_login/pubspec.yaml
  examples/flutter_login/test/login/view/login_form_test.dart
  examples/flutter_shopping_cart/pubspec.yaml
  examples/flutter_shopping_cart/test/cart/view/cart_page_test.dart
  examples/flutter_shopping_cart/test/catalog/view/catalog_page_test.dart
  examples/flutter_shopping_cart/test/helper.dart
  examples/flutter_timer/pubspec.yaml
  examples/flutter_timer/test/timer/view/timer_page_test.dart
  examples/flutter_weather/packages/meta_weather_api/pubspec.yaml
  examples/flutter_weather/packages/meta_weather_api/test/meta_weather_api_client_test.dart
  examples/flutter_weather/packages/weather_repository/pubspec.yaml
  examples/flutter_weather/pubspec.yaml
  examples/flutter_weather/test/app_test.dart
  examples/flutter_weather/test/settings/view/settings_page_test.dart
  examples/flutter_weather/test/weather/view/weather_page_test.dart
Labels: example, chore

#2909 chore(bloc): v8.0.0-dev.4
  packages/bloc/CHANGELOG.md
  packages/bloc/pubspec.yaml
Labels: release candidate, pkg:bloc, chore

#2910 chore(bloc_test): v9.0.0-dev.4
  packages/bloc_test/CHANGELOG.md
  packages/bloc_test/pubspec.yaml
Labels: release candidate, pkg:bloc_test, chore

#2911 chore(hydrated_bloc): v8.0.0-dev.3
  packages/hydrated_bloc/CHANGELOG.md
  packages/hydrated_bloc/lib/src/hydrated_bloc.dart
  packages/hydrated_bloc/pubspec.yaml
  packages/hydrated_bloc/test/e2e_test.dart
  packages/hydrated_bloc/test/hydrated_bloc_test.dart
  packages/hydrated_bloc/test/hydrated_cubit_test.dart
Labels: release candidate, chore, pkg:hydrated_bloc

#2912 feat(bloc)!: add throws StateError when bloc is closed
  packages/bloc/lib/src/bloc.dart
  packages/bloc/test/bloc_test.dart
Labels: enhancement, release candidate, pkg:bloc, breaking change

#2913 feat(bloc)!: emit throws StateError when bloc is closed
  packages/bloc/lib/src/bloc.dart
  packages/bloc/test/bloc_test.dart
  packages/bloc/test/cubit_test.dart
Labels: pkg:bloc, breaking change
