Repository felangel/bloc, pull requests merged in 2021-11, with the labels that each got.

#2917 fix(flutter_bloc): BlocProvider explicit lazy to support avoid_redundant_argument_values
  packages/flutter_bloc/example/analysis_options.yaml
  packages/flutter_bloc/lib/src/bloc_provider.dart
  packages/flutter_bloc/test/bloc_provider_test.dart
Labels: bug, pkg:flutter_bloc

#2918 chore(flutter_bloc): v7.3.2
  packages/flutter_bloc/CHANGELOG.md
  packages/flutter_bloc/pubspec.yaml
Labels: release candidate, pkg:flutter_bloc, chore

#2921 docs(flutter_timer_tutorial): rename _mapTimerPausedToState to _onPaused
  docs/fluttertimertutorial.md
Labels: example, documentation

#2919 feat(bloc_test): prettier diffing
  packages/bloc_test/lib/src/bloc_test.dart
  packages/bloc_test/pubspec.yaml
  packages/bloc_test/test/bloc_bloc_test_test.dart
  packages/bloc_test/test/legacy/bloc_bloc_test_test.dart
Labels: enhancement, pkg:bloc_test

#2923 chore(bloc_test): v8.5.0
  packages/bloc_test/CHANGELOG.md
  packages/bloc_test/pubspec.yaml
Labels: release candidate, pkg:bloc_test, chore

#2924 fix(flutter_bloc): BlocListener, BlocProvider missing child assertion
  packages/flutter_bloc/lib/src/bloc_listener.dart
  packages/flutter_bloc/lib/src/bloc_provider.dart
  packages/flutter_bloc/test/bloc_listener_test.dart
  packages/flutter_bloc/test/bloc_provider_test.dart
Labels: bug, pkg:flutter_bloc

#2927 chore(flutter_bloc): v7.3.3
  packages/flutter_bloc/CHANGELOG.md
  packages/flutter_bloc/pubspec.yaml
Labels: release candidate, pkg:flutter_bloc, chore

#2928 refactor(vscode): specify explicit types for Promises
  extensions/vscode/src/commands/new-bloc.command.ts
Labels: extension, refactor

#2929 feat(vscode): update latest package versions
  extensions/vscode/src/utils/analyze-dependencies.ts
Labels: enhancement, extension

#2930 chore(vscode): v6.1.0
  extensions/vscode/CHANGELOG.md
  extensions/vscode/package-lock.json
  extensions/vscode/package.json
Labels: release candidate, extension

#2932 feat(bloc)!: BlocOverrides API
  examples/flutter_complex_list/lib/main.dart
  examples/flutter_counter/lib/main.dart
  examples/flutter_firebase_login/lib/main.dart
  examples/flutter_firestore_todos/lib/main.dart
  examples/flutter_infinite_list/lib/main.dart
  examples/flutter_shopping_cart/lib/main.dart
  examples/flutter_weather/lib/main.dart
  packages/angular_bloc/pubspec.yaml
  packages/bloc/README.md
  packages/bloc/example/main.dart
  packages/bloc/lib/src/bloc.dart
  packages/bloc/lib/src/bloc_observer.dart
  packages/bloc/test/bloc_event_transformer_test.dart
  packages/bloc/test/bloc_observer_test.dart
  packages/bloc/test/bloc_overrides_test.dart
  packages/bloc/test/bloc_test.dart
  packages/bloc/test/cubit_test.dart
  packages/bloc_concurrency/pubspec.yaml
  packages/bloc_test/lib/src/bloc_test.dart
  packages/bloc_test/pubspec.yaml
  packages/flutter_bloc/example/lib/main.dart
  packages/flutter_bloc/pubspec.yaml
  packages/hydrated_bloc/pubspec.yaml
  packages/replay_bloc/example/lib/main.dart
  packages/replay_bloc/lib/src/replay_bloc.dart
  packages/replay_bloc/pubspec.yaml
Labels: enhancement, pkg:bloc, breaking change

#2940 chore(bloc): v8.0.0-dev.5
  docs/_snippets/core_concepts/simple_bloc_observer_on_change_usage.dart.md
  docs/_snippets/core_concepts/simple_bloc_observer_on_transition_usage.dart.md
  packages/bloc/CHANGELOG.md
  packages/bloc/README.md
  packages/bloc/pubspec.yaml
Labels: release candidate, pkg:bloc, chore

#2941 chore(angular_bloc): v8.0.0-dev.3
  examples/angular_counter/web/main.dart
  packages/angular_bloc/CHANGELOG.md
  packages/angular_bloc/README.md
  packages/angular_bloc/pubspec.yaml
Labels: release candidate, pkg:angular_bloc, chore

#2942 chore(bloc_test): v9.0.0-dev.5
  packages/bloc_test/CHANGELOG.md
  packages/bloc_test/pubspec.yaml
Labels: release candidate, pkg:bloc_test, chore

#2943 chore(bloc_concurrency): v0.2.0-dev.2
  packages/bloc_concurrency/CHANGELOG.md
  packages/bloc_concurrency/analysis_options.yaml
  packages/bloc_concurrency/pubspec.yaml
Labels: release candidate, chore, pkg:bloc_concurrency

#2944 chore(replay_bloc): v0.2.0-dev.3
  packages/replay_bloc/CHANGELOG.md
  packages/replay_bloc/pubspec.yaml
Labels: release candidate, chore, pkg:replay_bloc

#2945 chore(flutter_bloc): v8.0.0-dev.3
  packages/flutter_bloc/CHANGELOG.md
  packages/flutter_bloc/pubspec.yaml
Labels: release candidate, pkg:flutter_bloc, chore

#2946 chore(hydrated_bloc): v8.0.0-dev.4
  packages/hydrated_bloc/CHANGELOG.md
  packages/hydrated_bloc/README.md
  packages/hydrated_bloc/pubspec.yaml
Labels: release candidate, chore, pkg:hydrated_bloc

#2947 feat(hydrated_bloc)!: HydratedBlocOverrides API
  .github/workflows/hydrated_bloc.yaml
  examples/flutter_weather/lib/main.dart
  examples/flutter_weather/test/app_test.dart
  examples/flutter_weather/test/helpers/hydrated_bloc.dart
  examples/flutter_weather/test/theme/cubit/theme_cubit_test.dart
  examples/flutter_weather/test/weather/cubit/weather_cubit_test.dart
  examples/flutter_weather/test/weather/view/weather_page_test.dart
  packages/hydrated_bloc/example/lib/main.dart
  packages/hydrated_bloc/lib/src/hydrated_bloc.dart
  packages/hydrated_bloc/test/e2e_test.dart
  packages/hydrated_bloc/test/hydrated_bloc_overrides_test.dart
  packages/hydrated_bloc/test/hydrated_bloc_test.dart
  packages/hydrated_bloc/test/hydrated_cubit_test.dart
  packages/hydrated_bloc/test/hydrated_storage_test.dart
Labels: enhancement, breaking change, pkg:hydrated_bloc

#2949 refactor(bloc): use const zone token
  packages/bloc/lib/src/bloc.dart
Labels: pkg:bloc, refactor

#2955 feat(vscode): query latest package versions from pub.dev
  extensions/vscode/package-lock.json
  extensions/vscode/package.json
  extensions/vscode/src/utils/analyze-dependencies.ts
  extensions/vscode/src/utils/get-latest-package-version.ts
  extensions/vscode/src/utils/index.ts
Labels: enhancement, release candidate, extension

#2957 chore(vscode): v6.2.0
  extensions/vscode/CHANGELOG.md
  extensions/vscode/package-lock.json
  extensions/vscode/package.json
Labels: extension, chore

#2960 docs: add miquido logos
  docs/assets/miquido_logo.png
  docs/assets/miquido_logo_transparent.png
Labels: documentation

#2963 chore(bloc): v8.0.0
  packages/bloc/CHANGELOG.md
  packages/bloc/README.md
  packages/bloc/pubspec.yaml
Labels: release candidate, pkg:bloc, chore

#2964 chore(angular_bloc): v8.0.0
  packages/angular_bloc/CHANGELOG.md
  packages/angular_bloc/README.md
  packages/angular_bloc/pubspec.yaml
Labels: release candidate, pkg:angular_bloc, chore

#2965 chore(bloc_concurrency): v0.2.0
  packages/bloc_concurrency/CHANGELOG.md
  packages/bloc_concurrency/README.md
  packages/bloc_concurrency/pubspec.yaml
Labels: release candidate, chore, pkg:bloc_concurrency

#2967 chore(hydrated_bloc): v8.0.0
  packages/hydrated_bloc/CHANGELOG.md
  packages/hydrated_bloc/README.md
  packages/hydrated_bloc/pubspec.yaml
Labels: release candidate, chore, pkg:hydrated_bloc

#2968 chore(bloc_test): v9.0.0
  packages/bloc_test/CHANGELOG.md
  packages/bloc_test/README.md
  packages/bloc_test/pubspec.yaml
Labels: release candidate, pkg:bloc_test, chore

#2969 chore(flutter_bloc): v8.0.0
  packages/flutter_bloc/CHANGELOG.md
  packages/flutter_bloc/README.md
  packages/flutter_bloc/pubspec.yaml
Labels: release candidate, pkg:flutter_bloc, chore

#2970 docs(coverpage): update to v8.0.0
  docs/_coverpage.md
  docs/az/_coverpage.md
  docs/cs/_coverpage.md
  docs/de-de/_coverpage.md
  docs/es/_coverpage.md
  docs/fr/_coverpage.md
  docs/jp/_coverpage.md
  docs/ko-kr/_coverpage.md
  docs/pt-br/_coverpage.md
  docs/ru/_coverpage.md
  docs/zh-cn/_coverpage.md
Labels: documentation

#2973 docs(getting_started): update versions
  docs/_snippets/getting_started/angular_bloc_pubspec.yaml.md
  docs/_snippets/getting_started/bloc_pubspec.yaml.md
  docs/_snippets/getting_started/flutter_bloc_pubspec.yaml.md
Labels: documentation

#2972 docs(flutter-counter): zh-cn translation
  docs/zh-cn/_sidebar.md
  docs/zh-cn/fluttercountertutorial.md
Labels: example, documentation, translation

#2974 docs: upgrade pubspec versions to v8.0.0
  docs/update-pubspec.js
Labels: documentation

#2976 docs(coverpage): update localized coverpages
  docs/_coverpage.md
  docs/az/_coverpage.md
  docs/cs/_coverpage.md
  docs/de-de/_coverpage.md
  docs/es/_coverpage.md
  docs/fr/_coverpage.md
  docs/jp/_coverpage.md
  docs/ko-kr/_coverpage.md
  docs/pt-br/_coverpage.md
  docs/ru/_coverpage.md
  docs/zh-cn/_coverpage.md
Labels: documentation

#2982 fix(bloc): allow bloc emit usage within tests
  packages/angular_bloc/pubspec.yaml
  packages/bloc/lib/src/bloc.dart
  packages/bloc/test/bloc_overrides_test.dart
  packages/bloc_concurrency/pubspec.yaml
  packages/bloc_test/lib/src/bloc_test.dart
  packages/bloc_test/pubspec.yaml
  packages/flutter_bloc/pubspec.yaml
  packages/hydrated_bloc/pubspec.yaml
  packages/hydrated_bloc/test/hydrated_bloc_overrides_test.dart
  packages/replay_bloc/lib/src/replay_bloc.dart
  packages/replay_bloc/pubspec.yaml
Labels: bug, pkg:bloc

#2983 chore(bloc): v8.0.1
  packages/bloc/CHANGELOG.md
  packages/bloc/pubspec.yaml
Labels: release candidate, pkg:bloc, chore

#2984 chore(bloc_test): v9.0.1
  packages/bloc_test/CHANGELOG.md
  packages/bloc_test/pubspec.yaml
Labels: release candidate, pkg:bloc_test, chore

#2985 chore(replay_bloc): v0.2.1
  packages/replay_bloc/CHANGELOG.md
  packages/replay_bloc/pubspec.yaml
Labels: release candidate, chore, pkg:replay_bloc

#2986 chore: remove bloc dependency override
  packages/angular_bloc/pubspec.yaml
  packages/bloc_concurrency/pubspec.yaml
  packages/flutter_bloc/pubspec.yaml
  packages/hydrated_bloc/pubspec.yaml
Labels: chore, dependency updates

#2990 chore(bloc_tools): dependency updates
  packages/bloc_tools/analysis_options.yaml
  packages/bloc_tools/example/README.md
  packages/bloc_tools/lib/src/command_runner.dart
  packages/bloc_tools/pubspec.yaml
  packages/bloc_tools/test/src/command_runner_test.dart
Labels: chore, dependency updates, pkg:bloc_tools

#2998 updating migration docs pt-BR
  docs/pt-br/migration.md
Labels: documentation, translation

#3000 fix(hydrated_bloc_example): use flutter_services_binding
  packages/hydrated_bloc/example/ios/Runner.xcodeproj/project.pbxproj
  packages/hydrated_bloc/example/ios/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
  packages/hydrated_bloc/example/lib/main.dart
  packages/hydrated_bloc/example/pubspec.yaml
Labels: bug, example, pkg:hydrated_bloc

#3001 chore(flutter_weather): use flutter_services_binding
  examples/flutter_weather/ios/Runner.xcodeproj/project.pbxproj
  examples/flutter_weather/ios/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
  examples/flutter_weather/lib/main.dart
  examples/flutter_weather/pubspec.yaml
Labels: example

#3017 refactor(bloc): maintain library exports
  packages/bloc/lib/bloc.dart
  packages/bloc/lib/src/bloc.dart
  packages/bloc/lib/src/bloc_base.dart
  packages/bloc/lib/src/bloc_observer.dart
  packages/bloc/lib/src/bloc_overrides.dart
  packages/bloc/lib/src/change.dart
  packages/bloc/lib/src/cubit.dart
  packages/bloc/lib/src/emitter.dart
  packages/bloc/lib/src/transition.dart
Labels: pkg:bloc, refactor

#3009 docs(flutter_infinite_list): update transformer snippet
  docs/_snippets/flutter_infinite_list_tutorial/post_bloc_transformer.dart.md
Labels: example, documentation
