Repository felangel/bloc, pull requests merged in 2021-08, with the labels that each got.

#2645 docs(coreconcepts): Bloc extends BlocBase
  docs/coreconcepts.md
Labels: documentation

#2647 docs(coreconcepts): Bloc extends BlocBase (not Cubit)
  docs/coreconcepts.md
Labels: documentation

#2650 docs(hydrated_bloc): fix example link rendered on pub.dev
  packages/hydrated_bloc/README.md
Labels: documentation, pkg:hydrated_bloc

#2661 chore(deps): bump path-parse to v1.0.7
  extensions/vscode/package-lock.json
Labels: extension, chore

#2663 docs(fluttercountertutorial): specify file paths for each section
  docs/fluttercountertutorial.md
Labels: documentation

#2617 feat(intelliJ): Convert to Multi Widget Action
  extensions/intellij/intellij_generator_plugin/src/main/java/com/bloc/intellij_generator_plugin/intention_action/BlocConvertToMultiBlocListenerIntentionAction.kt
  extensions/intellij/intellij_generator_plugin/src/main/java/com/bloc/intellij_generator_plugin/intention_action/BlocConvertToMultiBlocProviderIntentionAction.kt
  extensions/intellij/intellij_generator_plugin/src/main/java/com/bloc/intellij_generator_plugin/intention_action/BlocConvertToMultiIntentionAction.kt
  extensions/intellij/intellij_generator_plugin/src/main/java/com/bloc/intellij_generator_plugin/intention_action/BlocConvertToMultiRepositoryProviderIntentionAction.kt
  extensions/intellij/intellij_generator_plugin/src/main/java/com/bloc/intellij_generator_plugin/intention_action/BlocWrapWithIntentionAction.kt
  extensions/intellij/intellij_generator_plugin/src/main/java/com/bloc/intellij_generator_plugin/intention_action/Common.kt
  extensions/intellij/intellij_generator_plugin/src/main/java/com/bloc/intellij_generator_plugin/intention_action/SnippetType.kt
  extensions/intellij/intellij_generator_plugin/src/main/java/com/bloc/intellij_generator_plugin/intention_action/Snippets.kt
  extensions/intellij/intellij_generator_plugin/src/main/java/com/bloc/intellij_generator_plugin/intention_action/WrapHelper.kt
  extensions/intellij/intellij_generator_plugin/src/main/resources/META-INF/plugin.xml
  extensions/intellij/intellij_generator_plugin/src/main/resources/intentionDescriptions/BlocConvertToMultiBlocListenerIntentionAction/after.java.template
  extensions/intellij/intellij_generator_plugin/src/main/resources/intentionDescriptions/BlocConvertToMultiBlocListenerIntentionAction/before.java.template
  extensions/intellij/intellij_generator_plugin/src/main/resources/intentionDescriptions/BlocConvertToMultiBlocListenerIntentionAction/description.html
  extensions/intellij/intellij_generator_plugin/src/main/resources/intentionDescriptions/BlocConvertToMultiBlocProviderIntentionAction/after.java.template
  extensions/intellij/intellij_generator_plugin/src/main/resources/intentionDescriptions/BlocConvertToMultiBlocProviderIntentionAction/before.java.template
  extensions/intellij/intellij_generator_plugin/src/main/resources/intentionDescriptions/BlocConvertToMultiBlocProviderIntentionAction/description.html
  extensions/intellij/intellij_generator_plugin/src/main/resources/intentionDescriptions/BlocConvertToMultiRepositoryProviderIntentionAction/after.java.template
  extensions/intellij/intellij_generator_plugin/src/main/resources/intentionDescriptions/BlocConvertToMultiRepositoryProviderIntentionAction/before.java.template
  extensions/intellij/intellij_generator_plugin/src/main/resources/intentionDescriptions/BlocConvertToMultiRepositoryProviderIntentionAction/description.html
Labels: enhancement, extension

#2666 chore(intellij): v2.4.0
  extensions/intellij/intellij_generator_plugin/build.gradle
  extensions/intellij/intellij_generator_plugin/src/main/resources/META-INF/plugin.xml
Labels: release candidate, extension, chore

#2667 chore(flutterfirebaselogin): upgrade very_good_analysis
  examples/flutter_firebase_login/analysis_options.yaml
  examples/flutter_firebase_login/lib/home/view/home_page.dart
  examples/flutter_firebase_login/lib/login/cubit/login_cubit.dart
  examples/flutter_firebase_login/lib/login/view/login_form.dart
  examples/flutter_firebase_login/lib/login/view/login_page.dart
  examples/flutter_firebase_login/lib/main.dart
  examples/flutter_firebase_login/lib/sign_up/view/sign_up_form.dart
  examples/flutter_firebase_login/lib/sign_up/view/sign_up_page.dart
  examples/flutter_firebase_login/lib/theme.dart
  examples/flutter_firebase_login/packages/authentication_repository/analysis_options.yaml
  examples/flutter_firebase_login/packages/authentication_repository/pubspec.yaml
  examples/flutter_firebase_login/packages/authentication_repository/test/authentication_repository_test.dart
  examples/flutter_firebase_login/packages/authentication_repository/test/models/user_test.dart
  examples/flutter_firebase_login/packages/cache/analysis_options.yaml
  examples/flutter_firebase_login/packages/cache/pubspec.yaml
  examples/flutter_firebase_login/packages/form_inputs/analysis_options.yaml
  examples/flutter_firebase_login/packages/form_inputs/lib/src/confirmed_password.dart
  examples/flutter_firebase_login/packages/form_inputs/lib/src/email.dart
  examples/flutter_firebase_login/packages/form_inputs/lib/src/password.dart
  examples/flutter_firebase_login/packages/form_inputs/pubspec.yaml
  examples/flutter_firebase_login/pubspec.yaml
  examples/flutter_firebase_login/test/app/bloc/app_bloc_test.dart
  examples/flutter_firebase_login/test/app/bloc/app_event_test.dart
  examples/flutter_firebase_login/test/app/bloc/app_state_test.dart
  examples/flutter_firebase_login/test/app/routes/routes_test.dart
  examples/flutter_firebase_login/test/app/view/app_test.dart
  examples/flutter_firebase_login/test/home/widgets/avatar_test.dart
  examples/flutter_firebase_login/test/login/cubit/login_cubit_test.dart
  examples/flutter_firebase_login/test/login/cubit/login_state_test.dart
  examples/flutter_firebase_login/test/login/view/login_form_test.dart
  examples/flutter_firebase_login/test/sign_up/cubit/sign_up_cubit_test.dart
  examples/flutter_firebase_login/test/sign_up/cubit/sign_up_state_test.dart
  examples/flutter_firebase_login/test/sign_up/view/sign_up_form_test.dart
Labels: example, chore

#2668 Fix typo
  examples/flutter_weather/packages/meta_weather_api/test/meta_weather_api_client_test.dart
Labels: documentation

#2669 Update weather tutorial
  docs/flutterweathertutorial.md
Labels: documentation

#2671 feat(bloc): expose isClosed on BlocBase
  packages/bloc/lib/src/bloc.dart
  packages/bloc/test/bloc_test.dart
  packages/bloc/test/cubit_test.dart
Labels: enhancement, pkg:bloc

#2672 chore(bloc): v7.1.0
  packages/bloc/CHANGELOG.md
  packages/bloc/pubspec.yaml
Labels: release candidate, pkg:bloc, chore

#2673 chore: add issue templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/build.md
  .github/ISSUE_TEMPLATE/chore.md
  .github/ISSUE_TEMPLATE/ci.md
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/documentation.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/performance.md
  .github/ISSUE_TEMPLATE/refactor.md
  .github/ISSUE_TEMPLATE/revert.md
  .github/ISSUE_TEMPLATE/style.md
  .github/ISSUE_TEMPLATE/test.md
Labels: chore

#2674 Update weather tutorial
  docs/flutterweathertutorial.md
Labels: documentation

#2677 feat(bloc_tools): create package:bloc_tools
  .github/workflows/bloc_tools.yaml
  packages/bloc_tools/.gitignore
  packages/bloc_tools/CHANGELOG.md
  packages/bloc_tools/LICENSE
  packages/bloc_tools/README.md
  packages/bloc_tools/analysis_options.yaml
  packages/bloc_tools/bin/bloc.dart
  packages/bloc_tools/dart_test.yaml
  packages/bloc_tools/example/README.md
  packages/bloc_tools/lib/bloc_tools.dart
  packages/bloc_tools/lib/src/command_runner.dart
  packages/bloc_tools/lib/src/version.dart
  packages/bloc_tools/pubspec.yaml
  packages/bloc_tools/test/ensure_build_test.dart
  packages/bloc_tools/test/src/command_runner_test.dart
Labels: enhancement, pkg:bloc_tools

#2678 ci: use pana v0.19.1
  .github/workflows/angular_bloc.yaml
  .github/workflows/bloc.yaml
  .github/workflows/bloc_test.yaml
  .github/workflows/bloc_tools.yaml
  .github/workflows/flutter_bloc.yaml
  .github/workflows/hydrated_bloc.yaml
  .github/workflows/replay_bloc.yaml
Labels: ci

#2679 feat(vscode): upgrade to bloc v7.1.0
  extensions/vscode/src/utils/analyze-dependencies.ts
Labels: enhancement, extension

#2680 Upgrade flutter firebase login example
  examples/flutter_firebase_login/android/build.gradle
  examples/flutter_firebase_login/packages/authentication_repository/pubspec.yaml
  examples/flutter_firebase_login/packages/cache/pubspec.yaml
  examples/flutter_firebase_login/packages/form_inputs/pubspec.yaml
  examples/flutter_firebase_login/pubspec.yaml
Labels: example

#2685 feat(vscode): Convert to Multi Widget Action
  extensions/vscode/package.json
  extensions/vscode/src/code-actions/bloc-code-action-provider.ts
  extensions/vscode/src/commands/convert-to.command.ts
  extensions/vscode/src/commands/index.ts
  extensions/vscode/src/extension.ts
  extensions/vscode/src/utils/convert-to.ts
  extensions/vscode/src/utils/index.ts
Labels: enhancement, extension

#2686 chore(vscode): v5.8.0
  extensions/vscode/CHANGELOG.md
  extensions/vscode/README.md
  extensions/vscode/package.json
Labels: release candidate, extension, chore

#2687 docs(bloc_tools): update README header
  packages/bloc_tools/README.md
Labels: documentation, pkg:bloc_tools

#2684 feat(flutter_bloc): upgrade to provider ^6.0.0
  packages/flutter_bloc/CHANGELOG.md
  packages/flutter_bloc/lib/src/bloc_provider.dart
  packages/flutter_bloc/pubspec.yaml
Labels: enhancement, release candidate, pkg:flutter_bloc

#2696 docs: update coverpage version to 7.2.0
  docs/_coverpage.md
  docs/az/_coverpage.md
  docs/cs/_coverpage.md
  docs/de-de/_coverpage.md
  docs/es/_coverpage.md
  docs/fr/_coverpage.md
  docs/jp/_coverpage.md
  docs/ko-kr/_coverpage.md
  docs/pt-br/_coverpage.md
  docs/ru/_coverpage.md
  docs/zh-cn/_coverpage.md
Labels: documentation
