Repository felangel/bloc, pull requests merged in 2021-04, with the labels that each got.

#2153 feat(intelliJ): wrap with - quick action snippet
  extensions/intellij/README.md
  extensions/intellij/assets/intention_settings.png
  extensions/intellij/intellij_generator_plugin/build.gradle
  extensions/intellij/intellij_generator_plugin/src/main/java/com/bloc/intellij_generator_plugin/intention_action/BlocWrapWithBlocBuilderIntentionAction.java
  extensions/intellij/intellij_generator_plugin/src/main/java/com/bloc/intellij_generator_plugin/intention_action/BlocWrapWithBlocConsumerIntentionAction.java
  extensions/intellij/intellij_generator_plugin/src/main/java/com/bloc/intellij_generator_plugin/intention_action/BlocWrapWithBlocListenerIntentionAction.java
  extensions/intellij/intellij_generator_plugin/src/main/java/com/bloc/intellij_generator_plugin/intention_action/BlocWrapWithBlocProviderIntentionAction.java
  extensions/intellij/intellij_generator_plugin/src/main/java/com/bloc/intellij_generator_plugin/intention_action/BlocWrapWithIntentionAction.java
  extensions/intellij/intellij_generator_plugin/src/main/java/com/bloc/intellij_generator_plugin/intention_action/BlocWrapWithRepositoryProviderIntentionAction.java
  extensions/intellij/intellij_generator_plugin/src/main/java/com/bloc/intellij_generator_plugin/intention_action/SnippetSelection.java
  extensions/intellij/intellij_generator_plugin/src/main/java/com/bloc/intellij_generator_plugin/intention_action/SnippetType.java
  extensions/intellij/intellij_generator_plugin/src/main/java/com/bloc/intellij_generator_plugin/intention_action/Snippets.java
  extensions/intellij/intellij_generator_plugin/src/main/java/com/bloc/intellij_generator_plugin/intention_action/Utils.java
  extensions/intellij/intellij_generator_plugin/src/main/resources/META-INF/plugin.xml
  extensions/intellij/intellij_generator_plugin/src/main/resources/intentionDescriptions/BlocWrapWithBlocBuilderIntentionAction/after.java.template
  extensions/intellij/intellij_generator_plugin/src/main/resources/intentionDescriptions/BlocWrapWithBlocBuilderIntentionAction/before.java.template
  extensions/intellij/intellij_generator_plugin/src/main/resources/intentionDescriptions/BlocWrapWithBlocBuilderIntentionAction/description.html
  extensions/intellij/intellij_generator_plugin/src/main/resources/intentionDescriptions/BlocWrapWithBlocConsumerIntentionAction/after.java.template
  extensions/intellij/intellij_generator_plugin/src/main/resources/intentionDescriptions/BlocWrapWithBlocConsumerIntentionAction/before.java.template
  extensions/intellij/intellij_generator_plugin/src/main/resources/intentionDescriptions/BlocWrapWithBlocConsumerIntentionAction/description.html
  extensions/intellij/intellij_generator_plugin/src/main/resources/intentionDescriptions/BlocWrapWithBlocListenerIntentionAction/after.java.template
  extensions/intellij/intellij_generator_plugin/src/main/resources/intentionDescriptions/BlocWrapWithBlocListenerIntentionAction/before.java.template
  extensions/intellij/intellij_generator_plugin/src/main/resources/intentionDescriptions/BlocWrapWithBlocListenerIntentionAction/description.html
  extensions/intellij/intellij_generator_plugin/src/main/resources/intentionDescriptions/BlocWrapWithBlocProviderIntentionAction/after.java.template
  extensions/intellij/intellij_generator_plugin/src/main/resources/intentionDescriptions/BlocWrapWithBlocProviderIntentionAction/before.java.template
  extensions/intellij/intellij_generator_plugin/src/main/resources/intentionDescriptions/BlocWrapWithBlocProviderIntentionAction/description.html
  extensions/intellij/intellij_generator_plugin/src/main/resources/intentionDescriptions/BlocWrapWithRepositoryProviderIntentionAction/after.java.template
  extensions/intellij/intellij_generator_plugin/src/main/resources/intentionDescriptions/BlocWrapWithRepositoryProviderIntentionAction/before.java.template
  extensions/intellij/intellij_generator_plugin/src/main/resources/intentionDescriptions/BlocWrapWithRepositoryProviderIntentionAction/description.html
Labels: enhancement, extension

#2302 fix: docs sidebar render order on coverpage
  docs/assets/style.css
  docs/index.html
Labels: bug, documentation

#2304 chore(vscode): upgrade dependencies
  extensions/vscode/package-lock.json
  extensions/vscode/src/utils/get-pubspec.ts
Labels: chore, extension

#2298 fix(docs): small error
  docs/coreconcepts.md
Labels: documentation

#2320 feat(vscode): add blocTest snippet
  extensions/vscode/CHANGELOG.md
  extensions/vscode/README.md
  extensions/vscode/package.json
  extensions/vscode/snippets/bloc_test.json
Labels: enhancement, extension

#2263 feat(extensions): Add import snippets
  extensions/intellij/README.md
  extensions/intellij/intellij_generator_plugin/src/main/resources/liveTemplates/Bloc.xml
  extensions/vscode/README.md
  extensions/vscode/snippets/bloc.json
  extensions/vscode/snippets/flutter_bloc.json
Labels: enhancement, extension

#2375 feat(vscode): add import bloc_test snippet
  extensions/vscode/README.md
  extensions/vscode/snippets/bloc_test.json
Labels: enhancement, extension

#2376 feat(intellij): add import bloc_test snippet
  extensions/intellij/README.md
  extensions/intellij/intellij_generator_plugin/src/main/resources/liveTemplates/Bloc.xml
Labels: enhancement, extension

#2373 docs(flutter_counter): adding desktop support
  examples/flutter_counter/linux/.gitignore
  examples/flutter_counter/linux/CMakeLists.txt
  examples/flutter_counter/linux/flutter/CMakeLists.txt
  examples/flutter_counter/linux/flutter/generated_plugin_registrant.cc
  examples/flutter_counter/linux/flutter/generated_plugin_registrant.h
  examples/flutter_counter/linux/flutter/generated_plugins.cmake
  examples/flutter_counter/linux/main.cc
  examples/flutter_counter/linux/my_application.cc
  examples/flutter_counter/linux/my_application.h
  examples/flutter_counter/macos/.gitignore
  examples/flutter_counter/macos/Flutter/Flutter-Debug.xcconfig
  examples/flutter_counter/macos/Flutter/Flutter-Release.xcconfig
  examples/flutter_counter/macos/Flutter/GeneratedPluginRegistrant.swift
  examples/flutter_counter/macos/Podfile
  examples/flutter_counter/macos/Runner.xcodeproj/project.pbxproj
  examples/flutter_counter/macos/Runner.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  examples/flutter_counter/macos/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
  examples/flutter_counter/macos/Runner.xcworkspace/contents.xcworkspacedata
  examples/flutter_counter/macos/Runner.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  examples/flutter_counter/macos/Runner/AppDelegate.swift
  examples/flutter_counter/macos/Runner/Assets.xcassets/AppIcon.appiconset/Contents.json
  examples/flutter_counter/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_1024.png
  examples/flutter_counter/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_128.png
  examples/flutter_counter/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_16.png
  examples/flutter_counter/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_256.png
  examples/flutter_counter/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_32.png
  examples/flutter_counter/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_512.png
  examples/flutter_counter/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_64.png
  examples/flutter_counter/macos/Runner/Base.lproj/MainMenu.xib
  examples/flutter_counter/macos/Runner/Configs/AppInfo.xcconfig
  examples/flutter_counter/macos/Runner/Configs/Debug.xcconfig
  examples/flutter_counter/macos/Runner/Configs/Release.xcconfig
  examples/flutter_counter/macos/Runner/Configs/Warnings.xcconfig
  examples/flutter_counter/macos/Runner/DebugProfile.entitlements
  examples/flutter_counter/macos/Runner/Info.plist
  examples/flutter_counter/macos/Runner/MainFlutterWindow.swift
  examples/flutter_counter/macos/Runner/Release.entitlements
  examples/flutter_counter/windows/.gitignore
  examples/flutter_counter/windows/CMakeLists.txt
  examples/flutter_counter/windows/flutter/CMakeLists.txt
  examples/flutter_counter/windows/flutter/generated_plugin_registrant.cc
  examples/flutter_counter/windows/flutter/generated_plugin_registrant.h
  examples/flutter_counter/windows/flutter/generated_plugins.cmake
  examples/flutter_counter/windows/runner/CMakeLists.txt
  examples/flutter_counter/windows/runner/Runner.rc
  examples/flutter_counter/windows/runner/flutter_window.cpp
  examples/flutter_counter/windows/runner/flutter_window.h
  examples/flutter_counter/windows/runner/main.cpp
  examples/flutter_counter/windows/runner/resource.h
  examples/flutter_counter/windows/runner/resources/app_icon.ico
  examples/flutter_counter/windows/runner/run_loop.cpp
  examples/flutter_counter/windows/runner/run_loop.h
  examples/flutter_counter/windows/runner/runner.exe.manifest
  examples/flutter_counter/windows/runner/utils.cpp
  examples/flutter_counter/windows/runner/utils.h
  examples/flutter_counter/windows/runner/win32_window.cpp
  examples/flutter_counter/windows/runner/win32_window.h
Labels: documentation, example

#2380 docs(flutter_timer): add web support
  examples/flutter_timer/web/favicon.png
  examples/flutter_timer/web/icons/Icon-192.png
  examples/flutter_timer/web/icons/Icon-512.png
  examples/flutter_timer/web/index.html
  examples/flutter_timer/web/manifest.json
Labels: documentation, example

#2381 docs(flutter_timer): add desktop support
  examples/flutter_timer/.gitignore
  examples/flutter_timer/android/app/src/main/res/drawable-v21/launch_background.xml
  examples/flutter_timer/android/app/src/main/res/values-night/styles.xml
  examples/flutter_timer/linux/.gitignore
  examples/flutter_timer/linux/CMakeLists.txt
  examples/flutter_timer/linux/flutter/CMakeLists.txt
  examples/flutter_timer/linux/flutter/generated_plugin_registrant.cc
  examples/flutter_timer/linux/flutter/generated_plugin_registrant.h
  examples/flutter_timer/linux/flutter/generated_plugins.cmake
  examples/flutter_timer/linux/main.cc
  examples/flutter_timer/linux/my_application.cc
  examples/flutter_timer/linux/my_application.h
  examples/flutter_timer/macos/.gitignore
  examples/flutter_timer/macos/Flutter/Flutter-Debug.xcconfig
  examples/flutter_timer/macos/Flutter/Flutter-Release.xcconfig
  examples/flutter_timer/macos/Flutter/GeneratedPluginRegistrant.swift
  examples/flutter_timer/macos/Runner.xcodeproj/project.pbxproj
  examples/flutter_timer/macos/Runner.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  examples/flutter_timer/macos/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
  examples/flutter_timer/macos/Runner.xcworkspace/contents.xcworkspacedata
  examples/flutter_timer/macos/Runner.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  examples/flutter_timer/macos/Runner/AppDelegate.swift
  examples/flutter_timer/macos/Runner/Assets.xcassets/AppIcon.appiconset/Contents.json
  examples/flutter_timer/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_1024.png
  examples/flutter_timer/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_128.png
  examples/flutter_timer/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_16.png
  examples/flutter_timer/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_256.png
  examples/flutter_timer/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_32.png
  examples/flutter_timer/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_512.png
  examples/flutter_timer/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_64.png
  examples/flutter_timer/macos/Runner/Base.lproj/MainMenu.xib
  examples/flutter_timer/macos/Runner/Configs/AppInfo.xcconfig
  examples/flutter_timer/macos/Runner/Configs/Debug.xcconfig
  examples/flutter_timer/macos/Runner/Configs/Release.xcconfig
  examples/flutter_timer/macos/Runner/Configs/Warnings.xcconfig
  examples/flutter_timer/macos/Runner/DebugProfile.entitlements
  examples/flutter_timer/macos/Runner/Info.plist
  examples/flutter_timer/macos/Runner/MainFlutterWindow.swift
  examples/flutter_timer/macos/Runner/Release.entitlements
  examples/flutter_timer/windows/.gitignore
  examples/flutter_timer/windows/CMakeLists.txt
  examples/flutter_timer/windows/flutter/CMakeLists.txt
  examples/flutter_timer/windows/flutter/generated_plugin_registrant.cc
  examples/flutter_timer/windows/flutter/generated_plugin_registrant.h
  examples/flutter_timer/windows/flutter/generated_plugins.cmake
  examples/flutter_timer/windows/runner/CMakeLists.txt
  examples/flutter_timer/windows/runner/Runner.rc
  examples/flutter_timer/windows/runner/flutter_window.cpp
  examples/flutter_timer/windows/runner/flutter_window.h
  examples/flutter_timer/windows/runner/main.cpp
  examples/flutter_timer/windows/runner/resource.h
  examples/flutter_timer/windows/runner/resources/app_icon.ico
  examples/flutter_timer/windows/runner/run_loop.cpp
  examples/flutter_timer/windows/runner/run_loop.h
  examples/flutter_timer/windows/runner/runner.exe.manifest
  examples/flutter_timer/windows/runner/utils.cpp
  examples/flutter_timer/windows/runner/utils.h
  examples/flutter_timer/windows/runner/win32_window.cpp
  examples/flutter_timer/windows/runner/win32_window.h
Labels: documentation, example

#2382 docs(flutter_weather): add web support
  examples/flutter_weather/lib/main.dart
  examples/flutter_weather/web/favicon.png
  examples/flutter_weather/web/icons/Icon-192.png
  examples/flutter_weather/web/icons/Icon-512.png
  examples/flutter_weather/web/index.html
  examples/flutter_weather/web/manifest.json
Labels: documentation, example

#2383 docs(flutter_weather): add desktop support
  examples/flutter_weather/.gitignore
  examples/flutter_weather/android/app/src/main/res/drawable-v21/launch_background.xml
  examples/flutter_weather/android/app/src/main/res/values-night/styles.xml
  examples/flutter_weather/linux/.gitignore
  examples/flutter_weather/linux/CMakeLists.txt
  examples/flutter_weather/linux/flutter/CMakeLists.txt
  examples/flutter_weather/linux/flutter/generated_plugin_registrant.cc
  examples/flutter_weather/linux/flutter/generated_plugin_registrant.h
  examples/flutter_weather/linux/flutter/generated_plugins.cmake
  examples/flutter_weather/linux/main.cc
  examples/flutter_weather/linux/my_application.cc
  examples/flutter_weather/linux/my_application.h
  examples/flutter_weather/macos/.gitignore
  examples/flutter_weather/macos/Flutter/Flutter-Debug.xcconfig
  examples/flutter_weather/macos/Flutter/Flutter-Release.xcconfig
  examples/flutter_weather/macos/Flutter/GeneratedPluginRegistrant.swift
  examples/flutter_weather/macos/Podfile
  examples/flutter_weather/macos/Runner.xcodeproj/project.pbxproj
  examples/flutter_weather/macos/Runner.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  examples/flutter_weather/macos/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
  examples/flutter_weather/macos/Runner.xcworkspace/contents.xcworkspacedata
  examples/flutter_weather/macos/Runner.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  examples/flutter_weather/macos/Runner/AppDelegate.swift
  examples/flutter_weather/macos/Runner/Assets.xcassets/AppIcon.appiconset/Contents.json
  examples/flutter_weather/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_1024.png
  examples/flutter_weather/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_128.png
  examples/flutter_weather/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_16.png
  examples/flutter_weather/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_256.png
  examples/flutter_weather/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_32.png
  examples/flutter_weather/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_512.png
  examples/flutter_weather/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_64.png
  examples/flutter_weather/macos/Runner/Base.lproj/MainMenu.xib
  examples/flutter_weather/macos/Runner/Configs/AppInfo.xcconfig
  examples/flutter_weather/macos/Runner/Configs/Debug.xcconfig
  examples/flutter_weather/macos/Runner/Configs/Release.xcconfig
  examples/flutter_weather/macos/Runner/Configs/Warnings.xcconfig
  examples/flutter_weather/macos/Runner/DebugProfile.entitlements
  examples/flutter_weather/macos/Runner/Info.plist
  examples/flutter_weather/macos/Runner/MainFlutterWindow.swift
  examples/flutter_weather/macos/Runner/Release.entitlements
  examples/flutter_weather/windows/.gitignore
  examples/flutter_weather/windows/CMakeLists.txt
  examples/flutter_weather/windows/flutter/CMakeLists.txt
  examples/flutter_weather/windows/flutter/generated_plugin_registrant.cc
  examples/flutter_weather/windows/flutter/generated_plugin_registrant.h
  examples/flutter_weather/windows/flutter/generated_plugins.cmake
  examples/flutter_weather/windows/runner/CMakeLists.txt
  examples/flutter_weather/windows/runner/Runner.rc
  examples/flutter_weather/windows/runner/flutter_window.cpp
  examples/flutter_weather/windows/runner/flutter_window.h
  examples/flutter_weather/windows/runner/main.cpp
  examples/flutter_weather/windows/runner/resource.h
  examples/flutter_weather/windows/runner/resources/app_icon.ico
  examples/flutter_weather/windows/runner/run_loop.cpp
  examples/flutter_weather/windows/runner/run_loop.h
  examples/flutter_weather/windows/runner/runner.exe.manifest
  examples/flutter_weather/windows/runner/utils.cpp
  examples/flutter_weather/windows/runner/utils.h
  examples/flutter_weather/windows/runner/win32_window.cpp
  examples/flutter_weather/windows/runner/win32_window.h
Labels: documentation, example

#2389 docs(flutter_counter): fix BlocObserver
  examples/flutter_counter/lib/counter_observer.dart
  examples/flutter_counter/macos/Runner.xcodeproj/project.pbxproj
  examples/flutter_counter/macos/Runner.xcworkspace/contents.xcworkspacedata
Labels: bug, documentation, example

#2404 docs: fix bloc_test versions in migration guide
  docs/migration.md
Labels: bug, documentation

#2390 docs: Czech docs
  .github/DOCS_ISSUE_TEMPLATE.md
Labels: translation

#2411 docs(pt_BR): update documentation
  docs/pt-br/migration.md
  docs/pt-br/whybloc.md
Labels: documentation, translation

#2410 fix(intellij): wrapping issues
  extensions/intellij/intellij_generator_plugin/src/main/java/com/bloc/intellij_generator_plugin/intention_action/BlocWrapWithIntentionAction.java
  extensions/intellij/intellij_generator_plugin/src/main/java/com/bloc/intellij_generator_plugin/intention_action/SnippetSelection.java
  extensions/intellij/intellij_generator_plugin/src/main/java/com/bloc/intellij_generator_plugin/intention_action/Utils.java
  extensions/intellij/intellij_generator_plugin/src/main/java/com/bloc/intellij_generator_plugin/intention_action/WrapHelper.kt
Labels: bug, extension

#2419 chore(intelliJ): v2.2.1
  extensions/intellij/intellij_generator_plugin/build.gradle
  extensions/intellij/intellij_generator_plugin/src/main/resources/META-INF/plugin.xml
Labels: chore, extension

#2420 fix(angular_bloc): analysis errors (directives_ordering)
  packages/angular_bloc/test/bloc_pipe_test.dart
Labels: chore, pkg:angular_bloc, refactor

#2408 docs(flutter_infinite_list): update documentation
  docs/_snippets/flutter_infinite_list_tutorial/bloc.dart.md
  docs/_snippets/flutter_infinite_list_tutorial/bloc_initial.dart.md
  docs/_snippets/flutter_infinite_list_tutorial/bloc_observer_main.dart.md
  docs/_snippets/flutter_infinite_list_tutorial/bottom_loader.dart.md
  docs/_snippets/flutter_infinite_list_tutorial/flutter_create.sh.md
  docs/_snippets/flutter_infinite_list_tutorial/flutter_packages_get.sh.md
  docs/_snippets/flutter_infinite_list_tutorial/home_page.dart.md
  docs/_snippets/flutter_infinite_list_tutorial/main.dart.md
  docs/_snippets/flutter_infinite_list_tutorial/post.dart.md
  docs/_snippets/flutter_infinite_list_tutorial/post_bloc.dart.md
  docs/_snippets/flutter_infinite_list_tutorial/post_bloc_initial.dart.md
  docs/_snippets/flutter_infinite_list_tutorial/post_bloc_map_event_to_state.dart.md
  docs/_snippets/flutter_infinite_list_tutorial/post_event.dart.md
  docs/_snippets/flutter_infinite_list_tutorial/post_state.dart.md
  docs/_snippets/flutter_infinite_list_tutorial/post_widget.dart.md
  docs/_snippets/flutter_infinite_list_tutorial/pubspec.yaml.md
  docs/_snippets/flutter_infinite_list_tutorial/simple_bloc_observer.dart.md
  docs/flutterinfinitelisttutorial.md
Labels: documentation, example
