Repository felangel/bloc, pull requests merged in 2021-05, with the labels that each got.

#2399 web support for flutter shopping cart
  examples/flutter_shopping_cart/android/app/src/main/res/drawable-v21/launch_background.xml
  examples/flutter_shopping_cart/android/app/src/main/res/values-night/styles.xml
  examples/flutter_shopping_cart/web/favicon.png
  examples/flutter_shopping_cart/web/icons/Icon-192.png
  examples/flutter_shopping_cart/web/icons/Icon-512.png
  examples/flutter_shopping_cart/web/index.html
  examples/flutter_shopping_cart/web/manifest.json
Labels: documentation, example

#2438 fix(flutter_firebase_login): update analysis options
  examples/flutter_firebase_login/lib/app/view/app.dart
  examples/flutter_firebase_login/lib/home/view/home_page.dart
  examples/flutter_firebase_login/lib/login/view/login_form.dart
  examples/flutter_firebase_login/lib/login/view/login_page.dart
  examples/flutter_firebase_login/lib/sign_up/view/sign_up_form.dart
  examples/flutter_firebase_login/lib/sign_up/view/sign_up_page.dart
  examples/flutter_firebase_login/linux/flutter/generated_plugin_registrant.cc
  examples/flutter_firebase_login/linux/flutter/generated_plugin_registrant.h
  examples/flutter_firebase_login/linux/flutter/generated_plugins.cmake
  examples/flutter_firebase_login/macos/Flutter/GeneratedPluginRegistrant.swift
  examples/flutter_firebase_login/macos/Flutter/ephemeral/Flutter-Generated.xcconfig
  examples/flutter_firebase_login/macos/Flutter/ephemeral/flutter_export_environment.sh
  examples/flutter_firebase_login/macos/Podfile
  examples/flutter_firebase_login/pubspec.yaml
  examples/flutter_firebase_login/test/app/view/app_test.dart
  examples/flutter_firebase_login/test/home/view/home_page_test.dart
  examples/flutter_firebase_login/test/login/view/login_form_test.dart
  examples/flutter_firebase_login/test/login/view/login_page_test.dart
  examples/flutter_firebase_login/test/sign_up/view/sign_up_form_test.dart
Labels: bug, example

#2437 docs(flutter_shopping_cart): add desktop support
  examples/flutter_shopping_cart/linux/.gitignore
  examples/flutter_shopping_cart/linux/CMakeLists.txt
  examples/flutter_shopping_cart/linux/flutter/CMakeLists.txt
  examples/flutter_shopping_cart/linux/flutter/generated_plugin_registrant.cc
  examples/flutter_shopping_cart/linux/flutter/generated_plugin_registrant.h
  examples/flutter_shopping_cart/linux/flutter/generated_plugins.cmake
  examples/flutter_shopping_cart/linux/main.cc
  examples/flutter_shopping_cart/linux/my_application.cc
  examples/flutter_shopping_cart/linux/my_application.h
  examples/flutter_shopping_cart/macos/.gitignore
  examples/flutter_shopping_cart/macos/Flutter/Flutter-Debug.xcconfig
  examples/flutter_shopping_cart/macos/Flutter/Flutter-Release.xcconfig
  examples/flutter_shopping_cart/macos/Flutter/GeneratedPluginRegistrant.swift
  examples/flutter_shopping_cart/macos/Runner.xcodeproj/project.pbxproj
  examples/flutter_shopping_cart/macos/Runner.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  examples/flutter_shopping_cart/macos/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
  examples/flutter_shopping_cart/macos/Runner.xcworkspace/contents.xcworkspacedata
  examples/flutter_shopping_cart/macos/Runner.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  examples/flutter_shopping_cart/macos/Runner/AppDelegate.swift
  examples/flutter_shopping_cart/macos/Runner/Assets.xcassets/AppIcon.appiconset/Contents.json
  examples/flutter_shopping_cart/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_1024.png
  examples/flutter_shopping_cart/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_128.png
  examples/flutter_shopping_cart/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_16.png
  examples/flutter_shopping_cart/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_256.png
  examples/flutter_shopping_cart/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_32.png
  examples/flutter_shopping_cart/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_512.png
  examples/flutter_shopping_cart/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_64.png
  examples/flutter_shopping_cart/macos/Runner/Base.lproj/MainMenu.xib
  examples/flutter_shopping_cart/macos/Runner/Configs/AppInfo.xcconfig
  examples/flutter_shopping_cart/macos/Runner/Configs/Debug.xcconfig
  examples/flutter_shopping_cart/macos/Runner/Configs/Release.xcconfig
  examples/flutter_shopping_cart/macos/Runner/Configs/Warnings.xcconfig
  examples/flutter_shopping_cart/macos/Runner/DebugProfile.entitlements
  examples/flutter_shopping_cart/macos/Runner/Info.plist
  examples/flutter_shopping_cart/macos/Runner/MainFlutterWindow.swift
  examples/flutter_shopping_cart/macos/Runner/Release.entitlements
  examples/flutter_shopping_cart/windows/.gitignore
  examples/flutter_shopping_cart/windows/CMakeLists.txt
  examples/flutter_shopping_cart/windows/flutter/CMakeLists.txt
  examples/flutter_shopping_cart/windows/flutter/generated_plugin_registrant.cc
  examples/flutter_shopping_cart/windows/flutter/generated_plugin_registrant.h
  examples/flutter_shopping_cart/windows/flutter/generated_plugins.cmake
  examples/flutter_shopping_cart/windows/runner/CMakeLists.txt
  examples/flutter_shopping_cart/windows/runner/Runner.rc
  examples/flutter_shopping_cart/windows/runner/flutter_window.cpp
  examples/flutter_shopping_cart/windows/runner/flutter_window.h
  examples/flutter_shopping_cart/windows/runner/main.cpp
  examples/flutter_shopping_cart/windows/runner/resource.h
  examples/flutter_shopping_cart/windows/runner/resources/app_icon.ico
  examples/flutter_shopping_cart/windows/runner/run_loop.cpp
  examples/flutter_shopping_cart/windows/runner/run_loop.h
  examples/flutter_shopping_cart/windows/runner/runner.exe.manifest
  examples/flutter_shopping_cart/windows/runner/utils.cpp
  examples/flutter_shopping_cart/windows/runner/utils.h
  examples/flutter_shopping_cart/windows/runner/win32_window.cpp
  examples/flutter_shopping_cart/windows/runner/win32_window.h
Labels: documentation, example

#2400 Minor fix flutter shopping cart
  examples/flutter_shopping_cart/lib/cart/my_cart.dart
Labels: bug, example

#2430 refactor(flutter_firebase_login): move forms into forms_input package
  examples/flutter_firebase_login/lib/forms/forms.dart
  examples/flutter_firebase_login/lib/forms/models/models.dart
  examples/flutter_firebase_login/lib/login/cubit/login_cubit.dart
  examples/flutter_firebase_login/lib/sign_up/cubit/sign_up_cubit.dart
  examples/flutter_firebase_login/packages/form_inputs/lib/form_inputs.dart
  examples/flutter_firebase_login/packages/form_inputs/lib/src/confirmed_password.dart
  examples/flutter_firebase_login/packages/form_inputs/lib/src/email.dart
  examples/flutter_firebase_login/packages/form_inputs/lib/src/password.dart
  examples/flutter_firebase_login/packages/form_inputs/pubspec.yaml
  examples/flutter_firebase_login/pubspec.yaml
  examples/flutter_firebase_login/test/login/cubit/login_cubit_test.dart
  examples/flutter_firebase_login/test/login/cubit/login_state_test.dart
  examples/flutter_firebase_login/test/login/view/login_form_test.dart
  examples/flutter_firebase_login/test/sign_up/cubit/sign_up_cubit_test.dart
  examples/flutter_firebase_login/test/sign_up/cubit/sign_up_state_test.dart
  examples/flutter_firebase_login/test/sign_up/view/sign_up_form_test.dart
Labels: documentation, example

#2439 chore(flutter_login): update dependencies
  examples/flutter_login/pubspec.yaml
Labels: chore, example

#2440 refactor(flutter_firebase_login): rename anonymous user to empty user
  examples/flutter_firebase_login/lib/app/bloc/app_bloc.dart
  examples/flutter_firebase_login/lib/app/bloc/app_state.dart
  examples/flutter_firebase_login/packages/authentication_repository/lib/src/authentication_repository.dart
  examples/flutter_firebase_login/packages/authentication_repository/lib/src/models/user.dart
  examples/flutter_firebase_login/packages/authentication_repository/test/authentication_repository_test.dart
  examples/flutter_firebase_login/packages/authentication_repository/test/models/user_test.dart
  examples/flutter_firebase_login/test/app/bloc/app_bloc_test.dart
  examples/flutter_firebase_login/test/app/bloc/app_state_test.dart
  examples/flutter_firebase_login/test/app/view/app_test.dart
Labels: example, refactor

#2452 web support for flutter_login
  examples/flutter_login/android/app/src/main/res/drawable-v21/launch_background.xml
  examples/flutter_login/android/app/src/main/res/values-night/styles.xml
  examples/flutter_login/web/favicon.png
  examples/flutter_login/web/icons/Icon-192.png
  examples/flutter_login/web/icons/Icon-512.png
  examples/flutter_login/web/index.html
  examples/flutter_login/web/manifest.json
Labels: documentation, example

#2455 added tests for flutter_bloc_with_streams
  examples/flutter_bloc_with_stream/lib/bloc/ticker_bloc.dart
  examples/flutter_bloc_with_stream/lib/bloc/ticker_event.dart
  examples/flutter_bloc_with_stream/lib/main.dart
  examples/flutter_bloc_with_stream/pubspec.yaml
  examples/flutter_bloc_with_stream/test/app_test.dart
  examples/flutter_bloc_with_stream/test/bloc/ticker_bloc_test.dart
  examples/flutter_bloc_with_stream/test/bloc/ticker_event_test.dart
  examples/flutter_bloc_with_stream/test/bloc/ticker_state_test.dart
  examples/flutter_bloc_with_stream/test/ticker_page_test.dart
Labels: example

#2460 docs(flutter_dynamic_form) - added tests for flutter_dynamic_form for 100% code coverage
  examples/flutter_dynamic_form/analysis_options.yaml
  examples/flutter_dynamic_form/ios/Runner.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  examples/flutter_dynamic_form/lib/app.dart
  examples/flutter_dynamic_form/lib/bloc/new_car_state.dart
  examples/flutter_dynamic_form/lib/main.dart
  examples/flutter_dynamic_form/lib/new_car/bloc/new_car_bloc.dart
  examples/flutter_dynamic_form/lib/new_car/bloc/new_car_event.dart
  examples/flutter_dynamic_form/lib/new_car/bloc/new_car_state.dart
  examples/flutter_dynamic_form/lib/new_car/new_car.dart
  examples/flutter_dynamic_form/lib/new_car/view/new_car_page.dart
  examples/flutter_dynamic_form/pubspec.yaml
  examples/flutter_dynamic_form/test/app_test.dart
  examples/flutter_dynamic_form/test/new_car/bloc/new_car_bloc_test.dart
  examples/flutter_dynamic_form/test/new_car/bloc/new_car_event_test.dart
  examples/flutter_dynamic_form/test/new_car/bloc/new_car_state_test.dart
  examples/flutter_dynamic_form/test/new_car/view/new_car_page_test.dart
  examples/flutter_dynamic_form/test/new_car_repository_test.dart
  examples/flutter_firebase_login/lib/app/routes/routes.dart
  examples/flutter_firebase_login/lib/app/view/app.dart
  examples/flutter_login/lib/authentication/bloc/authentication_bloc.dart
  examples/flutter_login/lib/login/bloc/login_bloc.dart
Labels: example

#2462 docs(flutter_timer): reach 100% coverage
  examples/flutter_timer/lib/app.dart
  examples/flutter_timer/lib/main.dart
  examples/flutter_timer/lib/ticker.dart
  examples/flutter_timer/lib/timer/bloc/timer_bloc.dart
  examples/flutter_timer/lib/timer/bloc/timer_event.dart
  examples/flutter_timer/lib/timer/bloc/timer_state.dart
  examples/flutter_timer/lib/timer/timer.dart
  examples/flutter_timer/lib/timer/view/timer_page.dart
  examples/flutter_timer/pubspec.yaml
  examples/flutter_timer/test/app_test.dart
  examples/flutter_timer/test/ticker_test.dart
  examples/flutter_timer/test/timer/bloc/timer_bloc_test.dart
  examples/flutter_timer/test/timer/bloc/timer_event_test.dart
  examples/flutter_timer/test/timer/bloc/timer_state_test.dart
  examples/flutter_timer/test/timer/view/timer_page_test.dart
Labels: example

#2468 fix(flutter_firebase_login): sign up routing
  examples/flutter_firebase_login/lib/sign_up/view/sign_up_form.dart
  examples/flutter_firebase_login/test/sign_up/view/sign_up_form_test.dart
Labels: bug, example

#2472 Update post_bloc_initial.dart.md
  docs/_snippets/flutter_infinite_list_tutorial/post_bloc_initial.dart.md
Labels: documentation

#2469 fix(bloc_test): allow blocTest to capture throw non-errors
  packages/bloc_test/lib/src/bloc_test.dart
  packages/bloc_test/test/bloc_bloc_test_test.dart
  packages/bloc_test/test/blocs/blocs.dart
  packages/bloc_test/test/blocs/error_counter_bloc.dart
  packages/bloc_test/test/cubit_bloc_test_test.dart
  packages/bloc_test/test/cubits/cubits.dart
  packages/bloc_test/test/cubits/error_cubit.dart
Labels: enhancement, pkg:bloc_test

#2474 feat(vscode): show code actions in refactor menu
  extensions/vscode/CHANGELOG.md
  extensions/vscode/package-lock.json
  extensions/vscode/package.json
  extensions/vscode/src/code-actions/bloc-code-action-provider.ts
Labels: enhancement, extension

#2475 refactor(angular_bloc): analysis warnings
  .github/workflows/angular_bloc.yaml
  .github/workflows/angular_dart_examples.yaml
  packages/angular_bloc/example/example.dart
  packages/angular_bloc/test/bloc_pipe_test.dart
Labels: pkg:angular_bloc, refactor

#2476 ci: upgrade ci workflows
  .github/workflows/bloc.yaml
  .github/workflows/bloc_test.yaml
  .github/workflows/flutter_bloc.yaml
  .github/workflows/flutter_examples.yaml
  .github/workflows/hydrated_bloc.yaml
  .github/workflows/replay_bloc.yaml
  packages/bloc/pubspec.yaml
  packages/hydrated_bloc/pubspec.yaml
  packages/replay_bloc/pubspec.yaml
Labels: ci

#2465 docs(flutter_complex_list) added 100% test coverage for complex_list example
  examples/flutter_complex_list/ios/Runner.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  examples/flutter_complex_list/lib/app.dart
  examples/flutter_complex_list/lib/complex_list/complex_list.dart
  examples/flutter_complex_list/lib/complex_list/cubit/complex_list_cubit.dart
  examples/flutter_complex_list/lib/complex_list/cubit/complex_list_state.dart
  examples/flutter_complex_list/lib/complex_list/models/item.dart
  examples/flutter_complex_list/lib/complex_list/models/models.dart
  examples/flutter_complex_list/lib/complex_list/view/complex_list_page.dart
  examples/flutter_complex_list/lib/complex_list/view/view.dart
  examples/flutter_complex_list/lib/list/view/list_page.dart
  examples/flutter_complex_list/lib/list/view/view.dart
  examples/flutter_complex_list/lib/main.dart
  examples/flutter_complex_list/lib/repository.dart
  examples/flutter_complex_list/pubspec.yaml
  examples/flutter_complex_list/test/app_test.dart
  examples/flutter_complex_list/test/complex_list/cubit/complex_list_cubit_test.dart
  examples/flutter_complex_list/test/complex_list/cubit/complex_list_state_test.dart
  examples/flutter_complex_list/test/complex_list/models/item_test.dart
  examples/flutter_complex_list/test/complex_list/view/complex_list_page_test.dart
  examples/flutter_complex_list/test/repository_test.dart
Labels: example

#2483 fix(flutter_firebase_login): upgrade to very_good_analysis v2.1.0
  examples/flutter_firebase_login/lib/app/bloc_observer.dart
  examples/flutter_firebase_login/packages/authentication_repository/pubspec.yaml
  examples/flutter_firebase_login/packages/authentication_repository/test/authentication_repository_test.dart
  examples/flutter_firebase_login/packages/cache/pubspec.yaml
  examples/flutter_firebase_login/packages/cache/test/cache_test.dart
  examples/flutter_firebase_login/pubspec.yaml
  examples/flutter_firebase_login/test/login/cubit/login_cubit_test.dart
  examples/flutter_firebase_login/test/login/view/login_form_test.dart
  examples/flutter_firebase_login/test/sign_up/cubit/sign_up_cubit_test.dart
  examples/flutter_firebase_login/test/sign_up/view/sign_up_form_test.dart
Labels: bug, example

#2482 fix(flutter_bloc): Add dependency to bloc instance for BlocBuilder/BlocListener/BlocConsumer
  packages/flutter_bloc/lib/src/bloc_builder.dart
  packages/flutter_bloc/lib/src/bloc_consumer.dart
  packages/flutter_bloc/lib/src/bloc_listener.dart
  packages/flutter_bloc/test/bloc_builder_test.dart
  packages/flutter_bloc/test/bloc_consumer_test.dart
  packages/flutter_bloc/test/bloc_listener_test.dart
Labels: bug, pkg:flutter_bloc

#2484 deps(vscode): update browserslist dependency
  extensions/vscode/package-lock.json
Labels: dependency updates, extension

#2485 docs(flutter_timer): update key topics to remove incorrect cubit reference
  docs/fluttertimertutorial.md
Labels: documentation

#2488 feat(replay_bloc): filter which states are saved to the undo stack
  packages/replay_bloc/lib/src/change_stack.dart
  packages/replay_bloc/lib/src/replay_bloc.dart
  packages/replay_bloc/lib/src/replay_cubit.dart
  packages/replay_bloc/test/blocs/counter_bloc.dart
  packages/replay_bloc/test/cubits/counter_cubit.dart
  packages/replay_bloc/test/replay_bloc_test.dart
  packages/replay_bloc/test/replay_cubit_test.dart
Labels: enhancement, pkg:replay_bloc

#2490 chore(replay_bloc): v0.0.2
  packages/replay_bloc/CHANGELOG.md
  packages/replay_bloc/pubspec.yaml
Labels: chore, pkg:replay_bloc, release candidate

#2491 chore(flutter_bloc): v7.0.1
  packages/flutter_bloc/CHANGELOG.md
  packages/flutter_bloc/pubspec.yaml
Labels: chore, pkg:flutter_bloc, release candidate

#2492 docs: add I/O photo booth to examples list
  README.md
  packages/flutter_bloc/README.md
Labels: documentation

#2494 ci(bloc_test): verify pub score
  .github/workflows/bloc_test.yaml
Labels: ci, pkg:bloc_test

#2495 ci(bloc): verify pub score
  .github/workflows/bloc.yaml
Labels: ci, pkg:bloc

#2496 ci: refactor pub score check
  .github/workflows/bloc.yaml
  .github/workflows/bloc_test.yaml
  tool/verify_pub_score.sh
Labels: ci, refactor

#2497 ci(flutter_bloc): verify pub score
  .github/workflows/bloc.yaml
  .github/workflows/bloc_test.yaml
  .github/workflows/flutter_bloc.yaml
Labels: ci, pkg:flutter_bloc

#2498 ci(hydrated_bloc): verify pub score
  .github/workflows/hydrated_bloc.yaml
Labels: ci, pkg:hydrated_bloc

#2499 ci(replay_bloc): verify pub score
  .github/workflows/replay_bloc.yaml
Labels: ci, pkg:replay_bloc

#2500 ci(angular_bloc): verify pub score
  .github/workflows/angular_bloc.yaml
Labels: ci, pkg:angular_bloc

#2501 ci: pana noop
  .github/workflows/ci.yaml
Labels: ci

#2502 fix(hydrated_bloc): HydratedStorage clear behavior
  packages/hydrated_bloc/example/lib/main.dart
  packages/hydrated_bloc/example/pubspec.yaml
  packages/hydrated_bloc/lib/src/hydrated_storage.dart
  packages/hydrated_bloc/pubspec.yaml
  packages/hydrated_bloc/test/e2e_test.dart
  packages/hydrated_bloc/test/hydrated_storage_test.dart
Labels: bug, pkg:hydrated_bloc

#2503 chore(hydrated_bloc): v7.0.1
  packages/hydrated_bloc/CHANGELOG.md
  packages/hydrated_bloc/pubspec.yaml
Labels: chore, pkg:hydrated_bloc, release candidate
