Repository felangel/bloc, pull requests merged in 2021-07, with the labels that each got.

#2585 fix: sign up cubit password confirmation order
  examples/flutter_firebase_login/lib/sign_up/cubit/sign_up_cubit.dart
  examples/flutter_firebase_login/test/sign_up/cubit/sign_up_cubit_test.dart
Labels: bug, example

#2588 docs(flutter_weather): add build.yaml documentation to tutorial
  docs/_snippets/flutter_weather_tutorial/business_logic_layer/build.yaml_business.md
  docs/_snippets/flutter_weather_tutorial/data_layer/build.yaml_data.md
  docs/_snippets/flutter_weather_tutorial/repository_layer/build.yaml_repository.md
  docs/flutterweathertutorial.md
Labels: documentation, example

#2590 docs(flutter_weather): update weather tutorial localizations
  docs/es/flutterweathertutorial.md
  docs/pt-br/flutterweathertutorial.md
  docs/ru/flutterweathertutorial.md
Labels: documentation, example

#2572 docs(flutter_todos): update tutorial code snippets
  docs/_snippets/flutter_todos_tutorial/filter_button.dart.md
  docs/_snippets/flutter_todos_tutorial/filtered_todos.dart.md
  docs/_snippets/flutter_todos_tutorial/filtered_todos_bloc.dart.md
  docs/_snippets/flutter_todos_tutorial/flutter_todos_keys.dart.md
  docs/_snippets/flutter_todos_tutorial/main1.dart.md
  docs/_snippets/flutter_todos_tutorial/main2.dart.md
  docs/_snippets/flutter_todos_tutorial/pubspec.yaml.md
  docs/_snippets/flutter_todos_tutorial/stats.dart.md
  docs/_snippets/flutter_todos_tutorial/stats_bloc.dart.md
  docs/_snippets/flutter_todos_tutorial/tab_selector.dart.md
  docs/_snippets/flutter_todos_tutorial/todos_bloc.dart.md
  docs/_snippets/flutter_todos_tutorial/todos_event.dart.md
Labels: documentation, example

#2582 feat(intelliJ): update live templates
  extensions/intellij/intellij_generator_plugin/src/main/resources/liveTemplates/Bloc.xml
Labels: enhancement, extension

#2583 feat(intelliJ): add Equatable props generator
  extensions/intellij/README.md
  extensions/intellij/intellij_generator_plugin/src/main/java/com/bloc/intellij_generator_plugin/action/GenerateEquatablePropsAction.kt
  extensions/intellij/intellij_generator_plugin/src/main/resources/META-INF/plugin.xml
Labels: enhancement, extension

#2597 chore(intelliJ): v2.3.0
  extensions/intellij/README.md
  extensions/intellij/assets/equatable_props_override.png
  extensions/intellij/intellij_generator_plugin/build.gradle
  extensions/intellij/intellij_generator_plugin/src/main/resources/META-INF/plugin.xml
Labels: chore, extension, release candidate

#2599 fix(flutter_shopping_cart): typo in CartBloc test description
  examples/flutter_shopping_cart/test/cart/bloc/cart_bloc_test.dart
Labels: bug, example

#2608 refactor(bloc): simplify event controller initialization
  packages/bloc/lib/src/bloc.dart
Labels: pkg:bloc, refactor

#2609 docs(flutter_weather): fix typo in tutorial
  docs/flutterweathertutorial.md
Labels: documentation, example

#2615 docs(architecture): update bloc-to-bloc communication snippet to null safety
  docs/_snippets/architecture/bloc_to_bloc_communication.dart.md
Labels: documentation

#2619 refactor: revert event controller changes
  packages/bloc/lib/src/bloc.dart
Labels: pkg:bloc, refactor

#2621 feat(flutter_bloc): BlocSelector
  packages/flutter_bloc/README.md
  packages/flutter_bloc/lib/flutter_bloc.dart
  packages/flutter_bloc/lib/src/bloc_builder.dart
  packages/flutter_bloc/lib/src/bloc_consumer.dart
  packages/flutter_bloc/lib/src/bloc_listener.dart
  packages/flutter_bloc/lib/src/bloc_selector.dart
  packages/flutter_bloc/test/bloc_selector_test.dart
Labels: enhancement, pkg:flutter_bloc

#2620 feat(bloc_test): add `setUp` and `tearDown`
  packages/bloc_test/CHANGELOG.md
  packages/bloc_test/README.md
  packages/bloc_test/lib/src/bloc_test.dart
  packages/bloc_test/pubspec.yaml
  packages/bloc_test/test/bloc_bloc_test_test.dart
Labels: enhancement, pkg:bloc_test, release candidate

#2623 chore(flutter_bloc): v7.1.0
  packages/flutter_bloc/CHANGELOG.md
  packages/flutter_bloc/pubspec.yaml
Labels: chore, pkg:flutter_bloc

#2627 chore(flutter_bloc): organize imports
  packages/flutter_bloc/test/bloc_builder_test.dart
  packages/flutter_bloc/test/bloc_consumer_test.dart
  packages/flutter_bloc/test/bloc_listener_test.dart
  packages/flutter_bloc/test/bloc_provider_test.dart
  packages/flutter_bloc/test/multi_bloc_listener_test.dart
  packages/flutter_bloc/test/multi_bloc_provider_test.dart
Labels: chore, pkg:flutter_bloc

#2626 feat(flutter_infinite_list): use throttleTime instead of debounceTime
  examples/flutter_infinite_list/lib/posts/bloc/post_bloc.dart
  examples/flutter_infinite_list/test/posts/bloc/post_bloc_test.dart
Labels: enhancement, example

#2631 feat(intelliJ): add blocselector live template
  extensions/intellij/intellij_generator_plugin/src/main/resources/liveTemplates/Bloc.xml
Labels: enhancement, extension

#2634 feat(vscode): add BlocSelector snippet
  extensions/vscode/README.md
  extensions/vscode/snippets/flutter_bloc.json
Labels: enhancement, extension

#2635 feat(vscode): Wrap with BlocSelector
  extensions/vscode/README.md
  extensions/vscode/package.json
  extensions/vscode/src/code-actions/bloc-code-action-provider.ts
  extensions/vscode/src/commands/wrap-with.command.ts
  extensions/vscode/src/extension.ts
Labels: enhancement, extension

#2636 feat(vscode): update analyze dependency versions
  extensions/vscode/src/utils/analyze-dependencies.ts
Labels: enhancement, extension

#2637 chore(vscode): v5.7.0
  extensions/vscode/CHANGELOG.md
  extensions/vscode/package.json
Labels: chore, extension, release candidate

#2616 refactor(intelliJ): migrate to Kotlin
  extensions/intellij/intellij_generator_plugin/src/main/java/com/bloc/intellij_generator_plugin/intention_action/BlocWrapWithBlocBuilderIntentionAction.java
  extensions/intellij/intellij_generator_plugin/src/main/java/com/bloc/intellij_generator_plugin/intention_action/BlocWrapWithBlocBuilderIntentionAction.kt
  extensions/intellij/intellij_generator_plugin/src/main/java/com/bloc/intellij_generator_plugin/intention_action/BlocWrapWithBlocConsumerIntentionAction.java
  extensions/intellij/intellij_generator_plugin/src/main/java/com/bloc/intellij_generator_plugin/intention_action/BlocWrapWithBlocConsumerIntentionAction.kt
  extensions/intellij/intellij_generator_plugin/src/main/java/com/bloc/intellij_generator_plugin/intention_action/BlocWrapWithBlocListenerIntentionAction.java
  extensions/intellij/intellij_generator_plugin/src/main/java/com/bloc/intellij_generator_plugin/intention_action/BlocWrapWithBlocListenerIntentionAction.kt
  extensions/intellij/intellij_generator_plugin/src/main/java/com/bloc/intellij_generator_plugin/intention_action/BlocWrapWithBlocProviderIntentionAction.java
  extensions/intellij/intellij_generator_plugin/src/main/java/com/bloc/intellij_generator_plugin/intention_action/BlocWrapWithBlocProviderIntentionAction.kt
  extensions/intellij/intellij_generator_plugin/src/main/java/com/bloc/intellij_generator_plugin/intention_action/BlocWrapWithIntentionAction.java
  extensions/intellij/intellij_generator_plugin/src/main/java/com/bloc/intellij_generator_plugin/intention_action/BlocWrapWithIntentionAction.kt
  extensions/intellij/intellij_generator_plugin/src/main/java/com/bloc/intellij_generator_plugin/intention_action/BlocWrapWithRepositoryProviderIntentionAction.java
  extensions/intellij/intellij_generator_plugin/src/main/java/com/bloc/intellij_generator_plugin/intention_action/BlocWrapWithRepositoryProviderIntentionAction.kt
  extensions/intellij/intellij_generator_plugin/src/main/java/com/bloc/intellij_generator_plugin/intention_action/SnippetType.java
  extensions/intellij/intellij_generator_plugin/src/main/java/com/bloc/intellij_generator_plugin/intention_action/SnippetType.kt
  extensions/intellij/intellij_generator_plugin/src/main/java/com/bloc/intellij_generator_plugin/intention_action/Snippets.java
  extensions/intellij/intellij_generator_plugin/src/main/java/com/bloc/intellij_generator_plugin/intention_action/Snippets.kt
  extensions/intellij/intellij_generator_plugin/src/main/java/com/bloc/intellij_generator_plugin/live_templates/BlocContext.java
  extensions/intellij/intellij_generator_plugin/src/main/java/com/bloc/intellij_generator_plugin/live_templates/BlocContext.kt
  extensions/intellij/intellij_generator_plugin/src/main/java/com/bloc/intellij_generator_plugin/live_templates/BlocTemplateProvider.java
  extensions/intellij/intellij_generator_plugin/src/main/java/com/bloc/intellij_generator_plugin/live_templates/BlocTemplateProvider.kt
Labels: extension, refactor

#2632 docs(flutter_firebase_login): add web support
  examples/flutter_firebase_login/.firebaserc
  examples/flutter_firebase_login/.gitignore
  examples/flutter_firebase_login/firebase.json
  examples/flutter_firebase_login/linux/flutter/generated_plugin_registrant.cc
  examples/flutter_firebase_login/linux/flutter/generated_plugin_registrant.h
  examples/flutter_firebase_login/linux/flutter/generated_plugins.cmake
  examples/flutter_firebase_login/macos/.gitignore
  examples/flutter_firebase_login/macos/Flutter/GeneratedPluginRegistrant.swift
  examples/flutter_firebase_login/macos/Podfile
  examples/flutter_firebase_login/packages/authentication_repository/lib/src/authentication_repository.dart
  examples/flutter_firebase_login/packages/authentication_repository/test/authentication_repository_test.dart
  examples/flutter_firebase_login/web/__/firebase/8.8.0/firebase-app.js
  examples/flutter_firebase_login/web/__/firebase/8.8.0/firebase-auth.js
  examples/flutter_firebase_login/web/__/firebase/init.js
  examples/flutter_firebase_login/web/favicon.png
  examples/flutter_firebase_login/web/icons/Icon-192.png
  examples/flutter_firebase_login/web/icons/Icon-512.png
  examples/flutter_firebase_login/web/index.html
  examples/flutter_firebase_login/web/manifest.json
Labels: example
