Repository felangel/bloc, pull requests merged in 2021-01, with the labels that each got.

#2067 refactor!(bloc_test): null safety
  .github/workflows/bloc_test.yaml
  examples/flutter_counter/pubspec.yaml
  examples/flutter_counter/test/counter/cubit/counter_cubit_test.dart
  examples/flutter_counter/test/counter/view/counter_view_test.dart
  packages/bloc/pubspec.yaml
  packages/bloc_test/CHANGELOG.md
  packages/bloc_test/example/main.dart
  packages/bloc_test/lib/bloc_test.dart
  packages/bloc_test/lib/src/bloc_test.dart
  packages/bloc_test/lib/src/emits_exactly.dart
  packages/bloc_test/lib/src/mock_bloc.dart
  packages/bloc_test/lib/src/when_listen.dart
  packages/bloc_test/pubspec.yaml
  packages/bloc_test/test/bloc_bloc_test_test.dart
  packages/bloc_test/test/blocs/exception_counter_bloc.dart
  packages/bloc_test/test/blocs/sum_bloc.dart
  packages/bloc_test/test/cubit_bloc_test_test.dart
  packages/bloc_test/test/cubits/sum_cubit.dart
  packages/bloc_test/test/emits_exactly_test.dart
  packages/bloc_test/test/main.dart
  packages/bloc_test/test/mock_bloc_test.dart
  packages/bloc_test/test/when_listen_test.dart
  packages/flutter_bloc/pubspec.yaml
Labels: breaking change, pkg:bloc_test, refactor

#2076 ci: fix angular_bloc workflows
  .github/workflows/angular_bloc.yaml
  .github/workflows/angular_dart_examples.yaml
Labels: ci, pkg:angular_bloc

#2075 docs: improve sponsors section
  README.md
  packages/angular_bloc/README.md
  packages/bloc/README.md
  packages/bloc_test/README.md
  packages/flutter_bloc/README.md
  packages/hydrated_bloc/README.md
  packages/replay_bloc/README.md
Labels: documentation

#2044 refactor!: cubit extends bloc
  .github/workflows/bloc_test.yaml
  .github/workflows/docs.yaml
  docs/fluttertodostutorial.md
  examples/flutter_complex_list/lib/simple_bloc_observer.dart
  examples/flutter_complex_list/pubspec.yaml
  examples/flutter_counter/lib/counter_observer.dart
  examples/flutter_counter/pubspec.yaml
  examples/flutter_counter/test/counter/cubit/counter_cubit_test.dart
  examples/flutter_counter/test/counter/view/counter_view_test.dart
  examples/flutter_shopping_cart/lib/simple_bloc_observer.dart
  examples/flutter_todos/lib/blocs/simple_bloc_observer.dart
  packages/bloc/example/main.dart
  packages/bloc/lib/bloc.dart
  packages/bloc/lib/src/bloc.dart
  packages/bloc/lib/src/bloc_observer.dart
  packages/bloc/lib/src/change.dart
  packages/bloc/lib/src/cubit.dart
  packages/bloc/lib/src/transition.dart
  packages/bloc/pubspec.yaml
  packages/bloc/test/bloc_observer_test.dart
  packages/bloc/test/bloc_test.dart
  packages/bloc/test/blocs/counter/flat_map_bloc.dart
  packages/bloc/test/change_test.dart
  packages/bloc/test/cubit_test.dart
  packages/bloc/test/cubits/counter_cubit.dart
  packages/bloc/test/main.dart
  packages/bloc/test/mocks/mock_bloc_observer.dart
  packages/bloc_test/CHANGELOG.md
  packages/bloc_test/example/main.dart
  packages/bloc_test/lib/bloc_test.dart
  packages/bloc_test/lib/src/bloc_test.dart
  packages/bloc_test/lib/src/emits_exactly.dart
  packages/bloc_test/lib/src/mock_bloc.dart
  packages/bloc_test/lib/src/when_listen.dart
  packages/bloc_test/pubspec.yaml
  packages/bloc_test/test/bloc_bloc_test_test.dart
  packages/bloc_test/test/blocs/exception_counter_bloc.dart
  packages/bloc_test/test/blocs/sum_bloc.dart
  packages/bloc_test/test/cubit_bloc_test_test.dart
  packages/bloc_test/test/cubits/sum_cubit.dart
  packages/bloc_test/test/emits_exactly_test.dart
  packages/bloc_test/test/main.dart
  packages/bloc_test/test/mock_bloc_test.dart
  packages/bloc_test/test/when_listen_test.dart
  packages/flutter_bloc/example/lib/main.dart
  packages/flutter_bloc/example/pubspec.yaml
  packages/flutter_bloc/lib/src/bloc_builder.dart
  packages/flutter_bloc/lib/src/bloc_consumer.dart
  packages/flutter_bloc/lib/src/bloc_listener.dart
  packages/flutter_bloc/lib/src/bloc_provider.dart
  packages/flutter_bloc/lib/src/multi_bloc_listener.dart
  packages/flutter_bloc/lib/src/multi_bloc_provider.dart
  packages/flutter_bloc/lib/src/multi_repository_provider.dart
  packages/flutter_bloc/pubspec.yaml
  packages/flutter_bloc/test/bloc_builder_test.dart
  packages/flutter_bloc/test/bloc_consumer_test.dart
  packages/flutter_bloc/test/bloc_listener_test.dart
  packages/flutter_bloc/test/bloc_provider_test.dart
  packages/flutter_bloc/test/multi_bloc_listener_test.dart
  packages/flutter_bloc/test/multi_bloc_provider_test.dart
Labels: breaking change, pkg:angular_bloc, pkg:bloc, pkg:bloc_test, pkg:flutter_bloc, refactor

#2101 docs: translation for the Counter Flutter Tutorial
  docs/pt-br/fluttercountertutorial.md
Labels: documentation, translation

#2092 chore(example): sort constructor first in flutter_dynamic_form
  examples/flutter_dynamic_form/lib/bloc/new_car_bloc.dart
Labels: chore, example

#2109 docs: [CONTRIBUTING.md] http.server instead of SimpleHTTPServer
  CONTRIBUTING.md
Labels: documentation

#2035 Improve VS Code extension select snippet
  extensions/vscode/snippets/flutter_bloc.json
Labels: enhancement, extension
