Repository felangel/bloc, pull requests merged in 2021-03, with the labels that each got.

#2187 fix(bloc): memory leak due to event broadcast stream
  packages/bloc/CHANGELOG.md
  packages/bloc/lib/src/bloc.dart
  packages/bloc/pubspec.yaml
Labels: bug, pkg:bloc

#2188 chore(flutter_bloc): v6.1.3
  packages/flutter_bloc/CHANGELOG.md
  packages/flutter_bloc/pubspec.yaml
Labels: chore, pkg:flutter_bloc

#2189 fix(bloc): transform events multiple subscriptions
  packages/bloc/CHANGELOG.md
  packages/bloc/lib/src/bloc.dart
  packages/bloc/pubspec.yaml
  packages/bloc/test/bloc_test.dart
  packages/bloc/test/blocs/counter/counter.dart
  packages/bloc/test/blocs/counter/merge_bloc.dart
Labels: bug, pkg:bloc

#2190 feat(flutter_bloc): expose ProviderNotFoundException
  packages/flutter_bloc/CHANGELOG.md
  packages/flutter_bloc/lib/flutter_bloc.dart
Labels: enhancement, pkg:flutter_bloc

#2201 fix(bloc_test): mocktail: ">=0.0.1-dev.12 <0.0.1"
  packages/bloc_test/CHANGELOG.md
  packages/bloc_test/lib/src/bloc_test.dart
  packages/bloc_test/pubspec.yaml
Labels: bug, pkg:bloc_test

#2205 chore(flutter_bloc): upgrade to provider ^5.0.0
  packages/flutter_bloc/CHANGELOG.md
  packages/flutter_bloc/pubspec.yaml
Labels: chore, pkg:flutter_bloc, release candidate

#2204 feat(bloc_test)!: upgrade to mocktail v0.0.2
  examples/flutter_counter/pubspec.yaml
  examples/flutter_counter/test/counter/view/counter_view_test.dart
  packages/bloc_test/CHANGELOG.md
  packages/bloc_test/lib/src/mock_bloc.dart
  packages/bloc_test/lib/src/when_listen.dart
  packages/bloc_test/pubspec.yaml
  packages/bloc_test/test/bloc_bloc_test_test.dart
  packages/bloc_test/test/cubit_bloc_test_test.dart
  packages/bloc_test/test/mock_bloc_test.dart
Labels: breaking change, enhancement, pkg:bloc_test

#2208 feat(hydrated_bloc): use mocktail v0.0.2-dev and bump deps
  packages/hydrated_bloc/pubspec.yaml
  packages/hydrated_bloc/test/hydrated_bloc_test.dart
  packages/hydrated_bloc/test/hydrated_cubit_test.dart
  packages/hydrated_bloc/test/hydrated_storage_test.dart
Labels: enhancement, pkg:hydrated_bloc

#2209 fix(hydrated_bloc): web support
  packages/hydrated_bloc/CHANGELOG.md
  packages/hydrated_bloc/example/lib/main.dart
  packages/hydrated_bloc/example/pubspec.yaml
  packages/hydrated_bloc/lib/src/hydrated_storage.dart
  packages/hydrated_bloc/pubspec.yaml
  packages/hydrated_bloc/test/hydrated_storage_test.dart
Labels: bug, pkg:hydrated_bloc, release candidate

#2211 feat(bloc_test)!: support dynamic seed values
  packages/bloc_test/CHANGELOG.md
  packages/bloc_test/README.md
  packages/bloc_test/lib/src/bloc_test.dart
  packages/bloc_test/pubspec.yaml
  packages/bloc_test/test/bloc_bloc_test_test.dart
  packages/bloc_test/test/cubit_bloc_test_test.dart
Labels: breaking change, enhancement, pkg:bloc_test, release candidate

#2212 fix(flutter_counter): update to support bloc_test v8.0.0-nullsafety.4
  examples/flutter_counter/pubspec.yaml
  examples/flutter_counter/test/counter/cubit/counter_cubit_test.dart
Labels: bug, example

#2214 docs : ko-kr - fixed duplicate sentences
  docs/ko-kr/coreconcepts.md
Labels: documentation, translation

#2221 refactor(flutter_bloc)!: remove context repository extension
  packages/flutter_bloc/CHANGELOG.md
  packages/flutter_bloc/lib/src/repository_provider.dart
  packages/flutter_bloc/pubspec.yaml
  packages/flutter_bloc/test/repository_provider_test.dart
Labels: breaking change, pkg:flutter_bloc, refactor

#2234 refactor(bloc)!: Bloc and Cubit extend BlocBase
  examples/flutter_complex_list/lib/simple_bloc_observer.dart
  examples/flutter_counter/lib/counter_observer.dart
  examples/flutter_firestore_todos/lib/blocs/filtered_todos/filtered_todos_bloc.dart
  examples/flutter_firestore_todos/lib/blocs/simple_bloc_observer.dart
  examples/flutter_firestore_todos/lib/blocs/stats/stats_bloc.dart
  examples/flutter_infinite_list/lib/simple_bloc_observer.dart
  examples/flutter_shopping_cart/lib/simple_bloc_observer.dart
  examples/flutter_todos/lib/blocs/filtered_todos/filtered_todos_bloc.dart
  examples/flutter_todos/lib/blocs/simple_bloc_observer.dart
  examples/flutter_todos/lib/blocs/stats/stats_bloc.dart
  packages/bloc/CHANGELOG.md
  packages/bloc/README.md
  packages/bloc/example/main.dart
  packages/bloc/lib/src/bloc.dart
  packages/bloc/lib/src/bloc_observer.dart
  packages/bloc/lib/src/transition.dart
  packages/bloc/pubspec.yaml
  packages/bloc/test/bloc_observer_test.dart
  packages/bloc/test/bloc_test.dart
  packages/bloc/test/cubit_test.dart
  packages/bloc/test/cubits/counter_cubit.dart
  packages/bloc/test/mocks/mock_bloc_observer.dart
  packages/bloc/test/mocks/mocks.dart
  packages/bloc/test/transition_test.dart
  packages/bloc_test/README.md
  packages/bloc_test/example/main.dart
  packages/bloc_test/lib/src/bloc_test.dart
  packages/bloc_test/lib/src/mock_bloc.dart
  packages/bloc_test/lib/src/when_listen.dart
  packages/bloc_test/pubspec.yaml
  packages/bloc_test/test/blocs/sum_bloc.dart
  packages/bloc_test/test/cubits/sum_cubit.dart
  packages/bloc_test/test/mock_bloc_test.dart
  packages/bloc_test/test/when_listen_test.dart
  packages/flutter_bloc/example/lib/main.dart
  packages/flutter_bloc/example/pubspec.yaml
  packages/flutter_bloc/lib/src/bloc_builder.dart
  packages/flutter_bloc/lib/src/bloc_consumer.dart
  packages/flutter_bloc/lib/src/bloc_listener.dart
  packages/flutter_bloc/lib/src/bloc_provider.dart
  packages/flutter_bloc/pubspec.yaml
  packages/flutter_bloc/test/bloc_provider_test.dart
  packages/hydrated_bloc/example/linux/flutter/generated_plugin_registrant.cc
  packages/hydrated_bloc/example/linux/flutter/generated_plugin_registrant.h
  packages/hydrated_bloc/example/macos/Flutter/GeneratedPluginRegistrant.swift
  packages/hydrated_bloc/example/pubspec.yaml
  packages/hydrated_bloc/lib/src/hydrated_bloc.dart
  packages/hydrated_bloc/pubspec.yaml
  packages/hydrated_bloc/test/hydrated_bloc_test.dart
  packages/hydrated_bloc/test/hydrated_cubit_test.dart
  packages/replay_bloc/example/lib/simple_bloc_observer.dart
  packages/replay_bloc/example/pubspec.yaml
  packages/replay_bloc/pubspec.yaml
  packages/replay_bloc/test/replay_bloc_test.dart
  packages/replay_bloc/test/replay_cubit_test.dart
Labels: breaking change, pkg:bloc, refactor

#2241 refactor(bloc): improve onTransition and onEvent signature
  examples/flutter_complex_list/lib/simple_bloc_observer.dart
  examples/flutter_counter/lib/counter_observer.dart
  examples/flutter_firestore_todos/lib/blocs/simple_bloc_observer.dart
  examples/flutter_infinite_list/lib/simple_bloc_observer.dart
  examples/flutter_shopping_cart/lib/simple_bloc_observer.dart
  examples/flutter_todos/lib/blocs/simple_bloc_observer.dart
  packages/bloc/CHANGELOG.md
  packages/bloc/README.md
  packages/bloc/example/main.dart
  packages/bloc/lib/src/bloc_observer.dart
  packages/flutter_bloc/example/lib/main.dart
  packages/replay_bloc/example/lib/simple_bloc_observer.dart
Labels: pkg:bloc, refactor

#2242 chore(bloc_test): v8.0.0-nullsafety.6
  packages/bloc_test/CHANGELOG.md
  packages/bloc_test/pubspec.yaml
Labels: chore, pkg:bloc_test

#2243 chore(flutter_bloc): v7.0.0-nullsafety.6
  packages/flutter_bloc/README.md
  packages/flutter_bloc/pubspec.yaml
Labels: chore, pkg:flutter_bloc

#2244 chore(hydrated_bloc): v7.0.0-nullsafety.4
  packages/hydrated_bloc/CHANGELOG.md
  packages/hydrated_bloc/README.md
  packages/hydrated_bloc/example/linux/flutter/generated_plugin_registrant.cc
  packages/hydrated_bloc/example/linux/flutter/generated_plugin_registrant.h
  packages/hydrated_bloc/example/macos/Flutter/GeneratedPluginRegistrant.swift
  packages/hydrated_bloc/pubspec.yaml
Labels: chore, pkg:hydrated_bloc

#2245 chore(replay_bloc): v0.0.1-nullsafety.3
  packages/replay_bloc/CHANGELOG.md
  packages/replay_bloc/README.md
  packages/replay_bloc/pubspec.yaml
Labels: chore, pkg:replay_bloc

#2246 chore(bloc): v7.0.0
  packages/bloc/CHANGELOG.md
  packages/bloc/pubspec.yaml
Labels: chore, pkg:bloc, release candidate

#2247 chore(bloc_test): v8.0.0
  packages/bloc_test/CHANGELOG.md
  packages/bloc_test/pubspec.yaml
Labels: chore, pkg:bloc_test, release candidate

#2249 chore(hydrated_bloc): v7.0.0
  packages/hydrated_bloc/CHANGELOG.md
  packages/hydrated_bloc/pubspec.yaml
Labels: chore, pkg:hydrated_bloc, release candidate

#2248 chore(flutter_bloc): v7.0.0
  packages/flutter_bloc/CHANGELOG.md
  packages/flutter_bloc/pubspec.yaml
Labels: chore, pkg:flutter_bloc, release candidate

#2250 chore(replay_bloc): v0.0.1
  packages/replay_bloc/CHANGELOG.md
  packages/replay_bloc/pubspec.yaml
Labels: chore, pkg:replay_bloc, release candidate

#2251 docs: v7.0.0 migration guide
  docs/_coverpage.md
  docs/_snippets/core_concepts/counter_bloc_on_transition.dart.md
  docs/_snippets/core_concepts/simple_bloc_observer_complete.dart.md
  docs/_snippets/flutter_todos_tutorial/simple_bloc_observer.dart.md
  docs/_snippets/flutter_weather_tutorial/simple_bloc_observer.dart.md
  docs/az/_coverpage.md
  docs/coreconcepts.md
  docs/cs/_coverpage.md
  docs/es/_coverpage.md
  docs/fr/_coverpage.md
  docs/jp/_coverpage.md
  docs/ko-kr/_coverpage.md
  docs/migration.md
  docs/pt-br/_coverpage.md
  docs/ru/_coverpage.md
  docs/zh-cn/_coverpage.md
  docs/zh-cn/coreconcepts.md
Labels: documentation

#2225 fix(vscode): Drop abstract keyword in freezed classes
  extensions/vscode/CHANGELOG.md
  extensions/vscode/src/templates/bloc-event.template.ts
  extensions/vscode/src/templates/bloc-state.template.ts
Labels: enhancement, extension

#2195 feat(intelliJ): live templates / snippets
  extensions/intellij/README.md
  extensions/intellij/intellij_generator_plugin/build.gradle
  extensions/intellij/intellij_generator_plugin/src/main/java/com/bloc/intellij_generator_plugin/live_templates/BlocContext.java
  extensions/intellij/intellij_generator_plugin/src/main/java/com/bloc/intellij_generator_plugin/live_templates/BlocTemplateProvider.java
  extensions/intellij/intellij_generator_plugin/src/main/resources/META-INF/plugin.xml
  extensions/intellij/intellij_generator_plugin/src/main/resources/liveTemplates/Bloc.xml
Labels: enhancement, extension

#2262 Fix link pointing to old archived repo
  packages/hydrated_bloc/README.md
Labels: documentation, pkg:hydrated_bloc

#2272 docs: Correct typos
  docs/coreconcepts.md
Labels: documentation

#2231 docs(flutter_firebase_login): expand docs for setup (firebase and android)
  examples/flutter_firebase_login/README.md
Labels: documentation, example

#2283 Update flutterlogintutorial.md
  docs/flutterlogintutorial.md
Labels: documentation, example
