Repository felangel/bloc, pull requests merged in 2022-07, with the labels that each got.

#3421 docs(assets): dark variants
  docs/assets/angular_bloc_logo_full_dark.png
  docs/assets/bloc_concurrency_logo_full_dark.png
  docs/assets/bloc_logo_full_dark.png
  docs/assets/bloc_test_logo_full_dark.png
  docs/assets/bloc_tools_logo_full_dark.png
  docs/assets/hydrated_bloc_logo_full_dark.png
  docs/assets/replay_bloc_logo_full_dark.png
Labels: documentation

#3422 chore(bricks): bloc brick README updates
  bricks/bloc/CHANGELOG.md
  bricks/bloc/README.md
  bricks/bloc/brick.yaml
Labels: chore, bricks

#3423 chore(bricks): hydrated_bloc brick README updates
  bricks/hydrated_bloc/CHANGELOG.md
  bricks/hydrated_bloc/README.md
  bricks/hydrated_bloc/brick.yaml
Labels: chore, bricks

#3424 chore(bricks): replay_bloc brick README updates
  bricks/replay_bloc/CHANGELOG.md
  bricks/replay_bloc/README.md
  bricks/replay_bloc/brick.yaml
Labels: chore, bricks

#3425 chore(bricks): cubit brick README updates
  bricks/cubit/CHANGELOG.md
  bricks/cubit/README.md
  bricks/cubit/brick.yaml
Labels: chore, bricks

#3426 chore(bricks): hydrated_cubit brick README updates
  bricks/hydrated_cubit/CHANGELOG.md
  bricks/hydrated_cubit/README.md
  bricks/hydrated_cubit/brick.yaml
Labels: chore, bricks

#3427 chore(bricks): replay_cubit brick README updates
  bricks/replay_cubit/CHANGELOG.md
  bricks/replay_cubit/README.md
  bricks/replay_cubit/brick.yaml
Labels: chore, bricks

#3447 chore(flutter_counter): upgrade to Dart 2.17
  examples/flutter_counter/analysis_options.yaml
  examples/flutter_counter/android/app/build.gradle
  examples/flutter_counter/android/build.gradle
  examples/flutter_counter/android/gradle/wrapper/gradle-wrapper.properties
  examples/flutter_counter/ios/Runner/Info.plist
  examples/flutter_counter/lib/app.dart
  examples/flutter_counter/lib/counter/counter.dart
  examples/flutter_counter/lib/counter/view/counter_page.dart
  examples/flutter_counter/lib/counter/view/counter_view.dart
  examples/flutter_counter/lib/counter/view/view.dart
  examples/flutter_counter/lib/counter_observer.dart
  examples/flutter_counter/lib/main.dart
  examples/flutter_counter/linux/flutter/generated_plugins.cmake
  examples/flutter_counter/macos/Runner.xcodeproj/project.pbxproj
  examples/flutter_counter/macos/Runner.xcworkspace/contents.xcworkspacedata
  examples/flutter_counter/pubspec.yaml
  examples/flutter_counter/test/counter/view/counter_page_test.dart
  examples/flutter_counter/test/counter/view/counter_view_test.dart
  examples/flutter_counter/windows/flutter/generated_plugins.cmake
Labels: example

#3448 chore(flutter_dynamic_form): upgrade to Dart 2.17
  examples/flutter_dynamic_form/analysis_options.yaml
  examples/flutter_dynamic_form/android/app/build.gradle
  examples/flutter_dynamic_form/android/build.gradle
  examples/flutter_dynamic_form/android/gradle/wrapper/gradle-wrapper.properties
  examples/flutter_dynamic_form/ios/Runner/Info.plist
  examples/flutter_dynamic_form/lib/app.dart
  examples/flutter_dynamic_form/lib/new_car/bloc/new_car_bloc.dart
  examples/flutter_dynamic_form/lib/new_car/view/new_car_page.dart
  examples/flutter_dynamic_form/pubspec.yaml
  examples/flutter_dynamic_form/test/new_car/bloc/new_car_bloc_test.dart
  examples/flutter_dynamic_form/test/new_car/bloc/new_car_state_test.dart
  examples/flutter_dynamic_form/test/new_car/view/new_car_page_test.dart
  examples/flutter_dynamic_form/test/new_car_repository_test.dart
Labels: example

#3449 chore(flutter_form_validation): upgrade to Dart 2.17
  examples/flutter_form_validation/analysis_options.yaml
  examples/flutter_form_validation/android/app/build.gradle
  examples/flutter_form_validation/android/build.gradle
  examples/flutter_form_validation/android/gradle/wrapper/gradle-wrapper.properties
  examples/flutter_form_validation/ios/Runner/Info.plist
  examples/flutter_form_validation/lib/bloc/my_form_bloc.dart
  examples/flutter_form_validation/lib/main.dart
  examples/flutter_form_validation/lib/models/email.dart
  examples/flutter_form_validation/lib/models/password.dart
  examples/flutter_form_validation/pubspec.yaml
Labels: example

#3450 chore(flutter_graphql_jobs): upgrade to Dart 2.17
  examples/flutter_graphql_jobs/analysis_options.yaml
  examples/flutter_graphql_jobs/android/app/build.gradle
  examples/flutter_graphql_jobs/android/build.gradle
  examples/flutter_graphql_jobs/android/gradle/wrapper/gradle-wrapper.properties
  examples/flutter_graphql_jobs/ios/Runner/Info.plist
  examples/flutter_graphql_jobs/lib/api/job_api_client.dart
  examples/flutter_graphql_jobs/lib/api/queries/get_jobs.dart
  examples/flutter_graphql_jobs/lib/bloc/jobs_bloc.dart
  examples/flutter_graphql_jobs/lib/main.dart
  examples/flutter_graphql_jobs/pubspec.yaml
Labels: example

#3451 chore(flutter_infinite_list): upgrade to Dart 2.17
  examples/flutter_infinite_list/analysis_options.yaml
  examples/flutter_infinite_list/android/app/build.gradle
  examples/flutter_infinite_list/android/build.gradle
  examples/flutter_infinite_list/android/gradle/wrapper/gradle-wrapper.properties
  examples/flutter_infinite_list/ios/Runner/Info.plist
  examples/flutter_infinite_list/lib/app.dart
  examples/flutter_infinite_list/lib/main.dart
  examples/flutter_infinite_list/lib/posts/bloc/post_bloc.dart
  examples/flutter_infinite_list/lib/posts/view/posts_list.dart
  examples/flutter_infinite_list/lib/posts/view/posts_page.dart
  examples/flutter_infinite_list/lib/posts/widgets/bottom_loader.dart
  examples/flutter_infinite_list/lib/posts/widgets/post_list_item.dart
  examples/flutter_infinite_list/lib/simple_bloc_observer.dart
  examples/flutter_infinite_list/linux/flutter/generated_plugins.cmake
  examples/flutter_infinite_list/pubspec.yaml
  examples/flutter_infinite_list/test/app_test.dart
  examples/flutter_infinite_list/test/posts/bloc/post_bloc_test.dart
  examples/flutter_infinite_list/test/posts/view/posts_list_test.dart
  examples/flutter_infinite_list/test/posts/view/posts_page_test.dart
  examples/flutter_infinite_list/windows/flutter/generated_plugins.cmake
Labels: example

#3454 chore(flutter_timer): upgrade to Dart 2.17
  examples/flutter_timer/analysis_options.yaml
  examples/flutter_timer/android/app/build.gradle
  examples/flutter_timer/android/build.gradle
  examples/flutter_timer/android/gradle/wrapper/gradle-wrapper.properties
  examples/flutter_timer/ios/Runner/Info.plist
  examples/flutter_timer/lib/app.dart
  examples/flutter_timer/lib/main.dart
  examples/flutter_timer/lib/ticker.dart
  examples/flutter_timer/lib/timer/bloc/timer_bloc.dart
  examples/flutter_timer/lib/timer/bloc/timer_state.dart
  examples/flutter_timer/lib/timer/view/timer_page.dart
  examples/flutter_timer/linux/flutter/generated_plugins.cmake
  examples/flutter_timer/pubspec.yaml
  examples/flutter_timer/test/app_test.dart
  examples/flutter_timer/test/timer/bloc/timer_bloc_test.dart
  examples/flutter_timer/test/timer/bloc/timer_event_test.dart
  examples/flutter_timer/test/timer/bloc/timer_state_test.dart
  examples/flutter_timer/test/timer/view/timer_page_test.dart
  examples/flutter_timer/windows/flutter/generated_plugins.cmake
Labels: example

#3457 chore(flutter_todos): upgrade to Dart 2.17
  examples/flutter_todos/analysis_options.yaml
  examples/flutter_todos/lib/app/app.dart
  examples/flutter_todos/lib/app/app_bloc_observer.dart
  examples/flutter_todos/lib/edit_todo/view/edit_todo_page.dart
  examples/flutter_todos/lib/home/view/home_page.dart
  examples/flutter_todos/lib/stats/view/stats_page.dart
  examples/flutter_todos/lib/todos_overview/view/todos_overview_page.dart
  examples/flutter_todos/lib/todos_overview/widgets/todo_list_tile.dart
  examples/flutter_todos/lib/todos_overview/widgets/todos_overview_filter_button.dart
  examples/flutter_todos/lib/todos_overview/widgets/todos_overview_options_button.dart
  examples/flutter_todos/packages/local_storage_todos_api/analysis_options.yaml
  examples/flutter_todos/packages/local_storage_todos_api/lib/src/local_storage_todos_api.dart
  examples/flutter_todos/packages/local_storage_todos_api/pubspec.yaml
  examples/flutter_todos/packages/todos_api/analysis_options.yaml
  examples/flutter_todos/packages/todos_api/pubspec.yaml
  examples/flutter_todos/packages/todos_repository/analysis_options.yaml
  examples/flutter_todos/packages/todos_repository/pubspec.yaml
  examples/flutter_todos/pubspec.lock
  examples/flutter_todos/pubspec.yaml
  examples/flutter_todos/test/edit_todo/view/edit_todo_page_test.dart
  examples/flutter_todos/test/home/view/home_page_test.dart
  examples/flutter_todos/test/todos_overview/view/todos_overview_page_test.dart
Labels: example
