Repository felangel/bloc, pull requests merged in 2022-03, with the labels that each got.

#3252 chore(bloc_test): support for mocktail v0.3.0
  packages/bloc_test/pubspec.yaml
Labels: pkg:bloc_test, chore, dependency updates

#3253 chore(bloc_test): v9.0.3
  packages/bloc_test/CHANGELOG.md
  packages/bloc_test/README.md
  packages/bloc_test/pubspec.yaml
Labels: release candidate, pkg:bloc_test, chore

#3259 docs(core_concepts): fix typo in counter_bloc_stream_usage
  docs/_snippets/core_concepts/counter_bloc_stream_usage.dart.md
Labels: documentation

#3265 chore: removing unused TodosOverviewTodoSaved
  docs/fluttertodostutorial.md
  examples/flutter_todos/lib/todos_overview/bloc/todos_overview_bloc.dart
  examples/flutter_todos/lib/todos_overview/bloc/todos_overview_event.dart
  examples/flutter_todos/test/todos_overview/bloc/todos_overview_bloc_test.dart
  examples/flutter_todos/test/todos_overview/bloc/todos_overview_event_test.dart
Labels: example, refactor

#3262 feat(hydrated_bloc): storagePrefix for obfuscation tolerance
  packages/hydrated_bloc/lib/src/hydrated_bloc.dart
  packages/hydrated_bloc/test/hydrated_bloc_test.dart
  packages/hydrated_bloc/test/hydrated_cubit_test.dart
Labels: enhancement, pkg:hydrated_bloc

#3276 chore(hydrated_bloc): v8.1.0
  packages/hydrated_bloc/CHANGELOG.md
  packages/hydrated_bloc/pubspec.yaml
Labels: release candidate, chore, pkg:hydrated_bloc

#3287 fix(vscode): Reduce VSCode extension bundle size by ignoring node_modules and changing webpack output
  extensions/vscode/.vscodeignore
  extensions/vscode/package.json
  extensions/vscode/webpack.config.js
Labels: enhancement, extension

#3288 chore(vscode): v6.5.1
  extensions/vscode/CHANGELOG.md
  extensions/vscode/package-lock.json
  extensions/vscode/package.json
Labels: release candidate, extension, chore

#3293 feat(bricks): add bloc
  .gitignore
  analysis_options.yaml
  bricks/README.md
  bricks/bloc/CHANGELOG.md
  bricks/bloc/LICENSE
  bricks/bloc/README.md
  bricks/bloc/__brick__/{{#snakeCase}}{{name}}{{/snakeCase}}_bloc.dart
  bricks/bloc/__brick__/{{#snakeCase}}{{name}}{{/snakeCase}}_event.dart
  bricks/bloc/__brick__/{{#snakeCase}}{{name}}{{/snakeCase}}_state.dart
  bricks/bloc/brick.yaml
  bricks/mason.yaml
Labels: enhancement, bricks

#3296 feat(bricks): add cubit brick
  bricks/README.md
  bricks/cubit/CHANGELOG.md
  bricks/cubit/LICENSE
  bricks/cubit/README.md
  bricks/cubit/__brick__/{{#snakeCase}}{{name}}{{/snakeCase}}_cubit.dart
  bricks/cubit/__brick__/{{#snakeCase}}{{name}}{{/snakeCase}}_state.dart
  bricks/cubit/brick.yaml
  bricks/mason.yaml
Labels: enhancement, bricks

#3301 docs(flutterbloccoreconcepts): context.bloc -> context.read
  docs/flutterbloccoreconcepts.md
Labels: documentation
