Repository felangel/bloc, pull requests merged in 2022-02, with the labels that each got.

#3168 docs(flutter_bloc): Extension Methods documentation
  docs/flutterbloccoreconcepts.md
Labels: documentation

#3175 feat(vscode): check outdated version using the pubspec.lock file
  extensions/vscode/src/utils/analyze-dependencies.ts
  extensions/vscode/src/utils/get-pubspec-path.ts
  extensions/vscode/src/utils/get-pubspec.ts
Labels: enhancement, extension

#3183 chore(vscode): upgrade deps
  extensions/vscode/package-lock.json
Labels: extension, chore, dependency updates

#3184 feat(vscode): add mock snippet
  extensions/vscode/README.md
  extensions/vscode/snippets/bloc_test.json
Labels: enhancement, extension

#3185 chore(vscode): v6.5.0
  extensions/vscode/CHANGELOG.md
  extensions/vscode/package-lock.json
  extensions/vscode/package.json
Labels: release candidate, extension

#3186 feat(intellij): add mock snippet
  extensions/intellij/intellij_generator_plugin/src/main/resources/liveTemplates/Bloc.xml
Labels: enhancement, extension

#3187 chore(intellij): v3.3.0
  extensions/intellij/intellij_generator_plugin/build.gradle
  extensions/intellij/intellij_generator_plugin/src/main/resources/META-INF/plugin.xml
Labels: release candidate, extension, chore

#3188 refactor(examples): resolve analysis warnings
  examples/flutter_firebase_login/packages/authentication_repository/test/authentication_repository_test.dart
  examples/flutter_todos/test/edit_todo/view/edit_todo_page_test.dart
  examples/flutter_todos/test/home/view/home_page_test.dart
  examples/flutter_todos/test/stats/view/stats_page_test.dart
  examples/flutter_todos/test/todos_overview/view/todos_overview_page_test.dart
Labels: example, refactor

#3189 refactor(bloc): resolve analysis warning
  packages/bloc/lib/src/bloc.dart
  packages/bloc/lib/src/emitter.dart
Labels: pkg:bloc, refactor

#3190 docs(flutterbloccoreconcepts): enhance flutter_bloc usage to include BlocProvider
  docs/_snippets/flutter_bloc_core_concepts/counter_main.dart.md
  docs/flutterbloccoreconcepts.md
Labels: documentation

#3203 refactor(flutter_weather): upgrade to Flutter 2.10
  examples/flutter_weather/android/.gitignore
  examples/flutter_weather/android/app/build.gradle
  examples/flutter_weather/android/app/src/main/AndroidManifest.xml
  examples/flutter_weather/android/app/src/main/res/values-night/styles.xml
  examples/flutter_weather/android/app/src/main/res/values/styles.xml
  examples/flutter_weather/android/build.gradle
  examples/flutter_weather/android/gradle/wrapper/gradle-wrapper.properties
  examples/flutter_weather/ios/.gitignore
  examples/flutter_weather/ios/Flutter/AppFrameworkInfo.plist
  examples/flutter_weather/ios/Flutter/Debug.xcconfig
  examples/flutter_weather/ios/Flutter/Release.xcconfig
  examples/flutter_weather/ios/Runner.xcodeproj/project.pbxproj
  examples/flutter_weather/ios/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
  examples/flutter_weather/ios/Runner/Info.plist
  examples/flutter_weather/linux/CMakeLists.txt
  examples/flutter_weather/linux/flutter/CMakeLists.txt
  examples/flutter_weather/linux/my_application.cc
  examples/flutter_weather/macos/.gitignore
  examples/flutter_weather/macos/Runner.xcodeproj/project.pbxproj
  examples/flutter_weather/macos/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
  examples/flutter_weather/macos/Runner/Base.lproj/MainMenu.xib
  examples/flutter_weather/macos/Runner/Configs/AppInfo.xcconfig
  examples/flutter_weather/packages/meta_weather_api/pubspec.yaml
  examples/flutter_weather/packages/weather_repository/pubspec.yaml
  examples/flutter_weather/pubspec.yaml
  examples/flutter_weather/test/theme/cubit/theme_cubit_test.dart
  examples/flutter_weather/web/icons/Icon-maskable-192.png
  examples/flutter_weather/web/icons/Icon-maskable-512.png
  examples/flutter_weather/windows/CMakeLists.txt
  examples/flutter_weather/windows/flutter/CMakeLists.txt
  examples/flutter_weather/windows/runner/CMakeLists.txt
  examples/flutter_weather/windows/runner/Runner.rc
  examples/flutter_weather/windows/runner/flutter_window.cpp
  examples/flutter_weather/windows/runner/flutter_window.h
  examples/flutter_weather/windows/runner/main.cpp
  examples/flutter_weather/windows/runner/run_loop.cpp
  examples/flutter_weather/windows/runner/run_loop.h
Labels: example, refactor

#3205 refactor(flutter_todos): upgrade to Flutter 2.10
  examples/flutter_todos/android/app/build.gradle
  examples/flutter_todos/android/build.gradle
  examples/flutter_todos/ios/Runner.xcodeproj/project.pbxproj
  examples/flutter_todos/ios/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
  examples/flutter_todos/ios/Runner.xcworkspace/contents.xcworkspacedata
  examples/flutter_todos/packages/local_storage_todos_api/pubspec.yaml
  examples/flutter_todos/packages/todos_api/pubspec.yaml
  examples/flutter_todos/packages/todos_api/test/todos_api_test.dart
  examples/flutter_todos/pubspec.lock
  examples/flutter_todos/pubspec.yaml
  examples/flutter_todos/test/todos_overview/bloc/todos_overview_bloc_test.dart
Labels: example, refactor

#3207 refactor(angular_counter): upgrade to Dart 2.16
  examples/angular_counter/lib/src/counter_page/counter_page_component.dart
  examples/angular_counter/pubspec.yaml
Labels: example, refactor

#3208 refactor(flutter_counter): upgrade to Flutter 2.10
  examples/flutter_counter/android/.gitignore
  examples/flutter_counter/android/app/build.gradle
  examples/flutter_counter/android/app/src/main/AndroidManifest.xml
  examples/flutter_counter/android/app/src/main/res/values-night/styles.xml
  examples/flutter_counter/android/app/src/main/res/values/styles.xml
  examples/flutter_counter/android/build.gradle
  examples/flutter_counter/ios/.gitignore
  examples/flutter_counter/ios/Runner.xcodeproj/project.pbxproj
  examples/flutter_counter/ios/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
  examples/flutter_counter/ios/Runner/Info.plist
  examples/flutter_counter/linux/my_application.cc
  examples/flutter_counter/macos/.gitignore
  examples/flutter_counter/macos/Runner.xcodeproj/project.pbxproj
  examples/flutter_counter/macos/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
  examples/flutter_counter/macos/Runner.xcworkspace/contents.xcworkspacedata
  examples/flutter_counter/macos/Runner/Base.lproj/MainMenu.xib
  examples/flutter_counter/macos/Runner/Configs/AppInfo.xcconfig
  examples/flutter_counter/pubspec.yaml
  examples/flutter_counter/test/counter/cubit/counter_cubit_test.dart
  examples/flutter_counter/web/icons/Icon-maskable-192.png
  examples/flutter_counter/web/icons/Icon-maskable-512.png
  examples/flutter_counter/web/index.html
  examples/flutter_counter/web/manifest.json
  examples/flutter_counter/windows/CMakeLists.txt
  examples/flutter_counter/windows/flutter/CMakeLists.txt
  examples/flutter_counter/windows/runner/CMakeLists.txt
  examples/flutter_counter/windows/runner/Runner.rc
  examples/flutter_counter/windows/runner/flutter_window.cpp
  examples/flutter_counter/windows/runner/flutter_window.h
  examples/flutter_counter/windows/runner/main.cpp
  examples/flutter_counter/windows/runner/run_loop.cpp
  examples/flutter_counter/windows/runner/run_loop.h
Labels: example, refactor

#3215 refactor(flutter_shopping_cart): upgrade to Flutter 2.10
  examples/flutter_shopping_cart/android/.gitignore
  examples/flutter_shopping_cart/android/app/build.gradle
  examples/flutter_shopping_cart/android/app/src/main/AndroidManifest.xml
  examples/flutter_shopping_cart/android/app/src/main/res/values-night/styles.xml
  examples/flutter_shopping_cart/android/app/src/main/res/values/styles.xml
  examples/flutter_shopping_cart/android/build.gradle
  examples/flutter_shopping_cart/android/gradle/wrapper/gradle-wrapper.properties
  examples/flutter_shopping_cart/ios/.gitignore
  examples/flutter_shopping_cart/ios/Flutter/AppFrameworkInfo.plist
  examples/flutter_shopping_cart/ios/Runner.xcodeproj/project.pbxproj
  examples/flutter_shopping_cart/ios/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
  examples/flutter_shopping_cart/ios/Runner/Info.plist
  examples/flutter_shopping_cart/linux/my_application.cc
  examples/flutter_shopping_cart/macos/.gitignore
  examples/flutter_shopping_cart/macos/Runner.xcodeproj/project.pbxproj
  examples/flutter_shopping_cart/macos/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
  examples/flutter_shopping_cart/macos/Runner/Base.lproj/MainMenu.xib
  examples/flutter_shopping_cart/macos/Runner/Configs/AppInfo.xcconfig
  examples/flutter_shopping_cart/pubspec.yaml
  examples/flutter_shopping_cart/web/icons/Icon-maskable-192.png
  examples/flutter_shopping_cart/web/icons/Icon-maskable-512.png
  examples/flutter_shopping_cart/web/index.html
  examples/flutter_shopping_cart/web/manifest.json
  examples/flutter_shopping_cart/windows/CMakeLists.txt
  examples/flutter_shopping_cart/windows/flutter/CMakeLists.txt
  examples/flutter_shopping_cart/windows/runner/CMakeLists.txt
  examples/flutter_shopping_cart/windows/runner/Runner.rc
  examples/flutter_shopping_cart/windows/runner/flutter_window.cpp
  examples/flutter_shopping_cart/windows/runner/flutter_window.h
  examples/flutter_shopping_cart/windows/runner/main.cpp
  examples/flutter_shopping_cart/windows/runner/run_loop.cpp
  examples/flutter_shopping_cart/windows/runner/run_loop.h
Labels: example, refactor

#3217 refactor(flutter_timer): upgrade to Flutter 2.10
  examples/flutter_timer/android/.gitignore
  examples/flutter_timer/android/app/build.gradle
  examples/flutter_timer/android/app/src/main/AndroidManifest.xml
  examples/flutter_timer/android/app/src/main/res/values-night/styles.xml
  examples/flutter_timer/android/app/src/main/res/values/styles.xml
  examples/flutter_timer/android/build.gradle
  examples/flutter_timer/android/gradle/wrapper/gradle-wrapper.properties
  examples/flutter_timer/ios/.gitignore
  examples/flutter_timer/ios/Flutter/AppFrameworkInfo.plist
  examples/flutter_timer/ios/Runner.xcodeproj/project.pbxproj
  examples/flutter_timer/ios/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
  examples/flutter_timer/ios/Runner/Info.plist
  examples/flutter_timer/linux/CMakeLists.txt
  examples/flutter_timer/linux/flutter/CMakeLists.txt
  examples/flutter_timer/linux/my_application.cc
  examples/flutter_timer/macos/.gitignore
  examples/flutter_timer/macos/Runner.xcodeproj/project.pbxproj
  examples/flutter_timer/macos/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
  examples/flutter_timer/macos/Runner/Base.lproj/MainMenu.xib
  examples/flutter_timer/macos/Runner/Configs/AppInfo.xcconfig
  examples/flutter_timer/pubspec.yaml
  examples/flutter_timer/web/icons/Icon-maskable-192.png
  examples/flutter_timer/web/icons/Icon-maskable-512.png
  examples/flutter_timer/web/index.html
  examples/flutter_timer/web/manifest.json
  examples/flutter_timer/windows/CMakeLists.txt
  examples/flutter_timer/windows/flutter/CMakeLists.txt
  examples/flutter_timer/windows/runner/CMakeLists.txt
  examples/flutter_timer/windows/runner/Runner.rc
  examples/flutter_timer/windows/runner/flutter_window.cpp
  examples/flutter_timer/windows/runner/flutter_window.h
  examples/flutter_timer/windows/runner/main.cpp
  examples/flutter_timer/windows/runner/run_loop.cpp
  examples/flutter_timer/windows/runner/run_loop.h
Labels: example, refactor

#3232 chore: track ./vscode/launch.json
  .gitignore
  examples/flutter_todos/.vscode/launch.json
  extensions/vscode/.vscode/launch.json
Labels: chore

#3233 refactor(flutter_firebase_login): upgrade to Flutter 2.10
  examples/flutter_firebase_login/analysis_options.yaml
  examples/flutter_firebase_login/android/.gitignore
  examples/flutter_firebase_login/android/app/build.gradle
  examples/flutter_firebase_login/android/app/src/main/AndroidManifest.xml
  examples/flutter_firebase_login/android/app/src/main/res/values-night/styles.xml
  examples/flutter_firebase_login/android/app/src/main/res/values/styles.xml
  examples/flutter_firebase_login/android/build.gradle
  examples/flutter_firebase_login/ios/.gitignore
  examples/flutter_firebase_login/ios/Podfile
  examples/flutter_firebase_login/ios/Runner.xcodeproj/project.pbxproj
  examples/flutter_firebase_login/ios/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
  examples/flutter_firebase_login/ios/Runner.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  examples/flutter_firebase_login/ios/Runner.xcworkspace/xcshareddata/WorkspaceSettings.xcsettings
  examples/flutter_firebase_login/ios/Runner/Info.plist
  examples/flutter_firebase_login/lib/app/bloc/app_bloc.dart
  examples/flutter_firebase_login/lib/app/routes/routes.dart
  examples/flutter_firebase_login/lib/login/cubit/login_cubit.dart
  examples/flutter_firebase_login/lib/main.dart
  examples/flutter_firebase_login/lib/sign_up/cubit/sign_up_cubit.dart
  examples/flutter_firebase_login/packages/authentication_repository/analysis_options.yaml
  examples/flutter_firebase_login/packages/authentication_repository/pubspec.yaml
  examples/flutter_firebase_login/packages/authentication_repository/test/authentication_repository_test.dart
  examples/flutter_firebase_login/packages/cache/analysis_options.yaml
  examples/flutter_firebase_login/packages/cache/pubspec.yaml
  examples/flutter_firebase_login/packages/form_inputs/analysis_options.yaml
  examples/flutter_firebase_login/packages/form_inputs/pubspec.yaml
  examples/flutter_firebase_login/pubspec.yaml
  examples/flutter_firebase_login/test/app/bloc/app_bloc_test.dart
  examples/flutter_firebase_login/test/app/bloc_observer_test.dart
  examples/flutter_firebase_login/test/sign_up/view/sign_up_form_test.dart
  examples/flutter_firebase_login/web/icons/Icon-maskable-192.png
  examples/flutter_firebase_login/web/icons/Icon-maskable-512.png
  examples/flutter_firebase_login/web/index.html
  examples/flutter_firebase_login/web/manifest.json
Labels: example, refactor

#3227 docs(login examples): Path Fixes for login and firebase login examples
  docs/flutterfirebaselogintutorial.md
  docs/flutterlogintutorial.md
Labels: documentation

#3245 Fix the order of super.onChange in docs
  docs/_snippets/core_concepts/counter_bloc_on_error.dart.md
  docs/_snippets/core_concepts/counter_cubit_on_change.dart.md
Labels: documentation

#3247 chore(bloc): v8.0.3
  packages/bloc/CHANGELOG.md
  packages/bloc/pubspec.yaml
Labels: chore
