Repository felangel/bloc, pull requests merged in 2022-09, with the labels that each got.

#3526 fix(examples): remove deprecated APIs
  examples/flutter_firebase_login/ios/Flutter/AppFrameworkInfo.plist
  examples/flutter_firebase_login/ios/Runner.xcodeproj/project.pbxproj
  examples/flutter_firebase_login/lib/login/view/login_form.dart
  examples/flutter_firebase_login/lib/sign_up/view/sign_up_form.dart
  examples/flutter_firebase_login/packages/authentication_repository/pubspec.yaml
  examples/flutter_firebase_login/packages/cache/pubspec.yaml
  examples/flutter_firebase_login/packages/form_inputs/pubspec.yaml
  examples/flutter_firebase_login/pubspec.yaml
  examples/flutter_shopping_cart/ios/Flutter/AppFrameworkInfo.plist
  examples/flutter_shopping_cart/ios/Runner.xcodeproj/project.pbxproj
  examples/flutter_shopping_cart/lib/cart/view/cart_page.dart
  examples/flutter_shopping_cart/lib/catalog/view/catalog_page.dart
  examples/flutter_shopping_cart/pubspec.yaml
  examples/flutter_todos/pubspec.lock
Labels: bug, example

#3509 chore(flutter_todos): update deps
  examples/flutter_todos/packages/local_storage_todos_api/pubspec.yaml
  examples/flutter_todos/packages/todos_api/pubspec.yaml
  examples/flutter_todos/packages/todos_repository/pubspec.yaml
  examples/flutter_todos/pubspec.lock
  examples/flutter_todos/pubspec.yaml
Labels: example, dependency updates

#3528 chore(firebase_login): upgrade to very_good_analysis 3.0.2
  examples/flutter_firebase_login/analysis_options.yaml
  examples/flutter_firebase_login/lib/app/bloc/app_bloc.dart
  examples/flutter_firebase_login/packages/authentication_repository/analysis_options.yaml
  examples/flutter_firebase_login/packages/authentication_repository/pubspec.yaml
  examples/flutter_firebase_login/packages/cache/analysis_options.yaml
  examples/flutter_firebase_login/packages/cache/pubspec.yaml
  examples/flutter_firebase_login/packages/form_inputs/analysis_options.yaml
  examples/flutter_firebase_login/packages/form_inputs/pubspec.yaml
  examples/flutter_firebase_login/pubspec.yaml
Labels: example, chore

#3523 chore(flutter_login): remove redundant setUp in authentication_bloc_test of flutter_login example
  examples/flutter_login/test/authentication/authentication_bloc_test.dart
Labels: example

#3530 docs(flutter_weather): update tutorial to use open meteo api
  docs/_snippets/flutter_weather_tutorial/data_layer/export_top_level_models.dart.md
  docs/_snippets/flutter_weather_tutorial/data_layer/flutter_create_api_client.sh.md
  docs/_snippets/flutter_weather_tutorial/data_layer/get_weather_method.dart.md
  docs/_snippets/flutter_weather_tutorial/data_layer/location.dart.md
  docs/_snippets/flutter_weather_tutorial/data_layer/location.json.md
  docs/_snippets/flutter_weather_tutorial/data_layer/location_search_method.dart.md
  docs/_snippets/flutter_weather_tutorial/data_layer/open_meteo_api_client_tree.md
  docs/_snippets/flutter_weather_tutorial/data_layer/open_meteo_models_barrel_tree.md
  docs/_snippets/flutter_weather_tutorial/data_layer/open_meteo_models_tree.md
  docs/_snippets/flutter_weather_tutorial/data_layer/weather.dart.md
  docs/_snippets/flutter_weather_tutorial/data_layer/weather.json.md
  docs/_snippets/flutter_weather_tutorial/repository_layer/repository_models_barrel_tree.md
  docs/flutterweathertutorial.md
Labels: example, documentation

#3532 chore(flutter_todos): upgrade to Flutter 3.3.1 and Dart 2.18
  examples/flutter_todos/analysis_options.yaml
  examples/flutter_todos/ios/Flutter/AppFrameworkInfo.plist
  examples/flutter_todos/ios/Flutter/Debug.xcconfig
  examples/flutter_todos/ios/Flutter/Release.xcconfig
  examples/flutter_todos/ios/Podfile
  examples/flutter_todos/ios/Runner.xcodeproj/project.pbxproj
  examples/flutter_todos/ios/Runner.xcworkspace/contents.xcworkspacedata
  examples/flutter_todos/packages/local_storage_todos_api/analysis_options.yaml
  examples/flutter_todos/packages/local_storage_todos_api/pubspec.yaml
  examples/flutter_todos/packages/todos_api/analysis_options.yaml
  examples/flutter_todos/packages/todos_api/pubspec.yaml
  examples/flutter_todos/packages/todos_repository/analysis_options.yaml
  examples/flutter_todos/packages/todos_repository/pubspec.yaml
  examples/flutter_todos/pubspec.lock
  examples/flutter_todos/pubspec.yaml
Labels: example, chore

#3533 docs(flutter_weather): remove MetaWeather mention
  docs/flutterweathertutorial.md
Labels: documentation

#3538 ci: remove deprecated .packages reference
  .github/workflows/bloc.yaml
  .github/workflows/bloc_concurrency.yaml
  .github/workflows/bloc_test.yaml
Labels: ci

#3539 test(bloc_concurrency): droppable coverage
  packages/bloc_concurrency/test/src/droppable_test.dart
Labels: pkg:bloc_concurrency

#3540 feat(bricks): bloc v0.2.0
  bricks/bloc/CHANGELOG.md
  bricks/bloc/README.md
  bricks/bloc/__brick__/{{name.snakeCase()}}_bloc.dart
  bricks/bloc/__brick__/{{name.snakeCase()}}_event.dart
  bricks/bloc/__brick__/{{name.snakeCase()}}_state.dart
  bricks/bloc/__brick__/{{~ basic_bloc }}
  bricks/bloc/__brick__/{{~ basic_event }}
  bricks/bloc/__brick__/{{~ basic_state }}
  bricks/bloc/__brick__/{{~ equatable_bloc }}
  bricks/bloc/__brick__/{{~ equatable_event }}
  bricks/bloc/__brick__/{{~ equatable_state }}
  bricks/bloc/__brick__/{{~ freezed_bloc }}
  bricks/bloc/__brick__/{{~ freezed_event }}
  bricks/bloc/__brick__/{{~ freezed_state }}
  bricks/bloc/brick.yaml
  bricks/bloc/hooks/pre_gen.dart
  bricks/bloc/hooks/pubspec.yaml
Labels: enhancement, bricks

#3544 feat(bricks): cubit v0.2.0
  bricks/cubit/CHANGELOG.md
  bricks/cubit/README.md
  bricks/cubit/__brick__/{{name.snakeCase()}}_cubit.dart
  bricks/cubit/__brick__/{{name.snakeCase()}}_state.dart
  bricks/cubit/__brick__/{{~ basic_cubit }}
  bricks/cubit/__brick__/{{~ basic_state }}
  bricks/cubit/__brick__/{{~ equatable_cubit }}
  bricks/cubit/__brick__/{{~ equatable_state }}
  bricks/cubit/__brick__/{{~ freezed_cubit }}
  bricks/cubit/__brick__/{{~ freezed_state }}
  bricks/cubit/brick.yaml
  bricks/cubit/hooks/pre_gen.dart
  bricks/cubit/hooks/pubspec.yaml
Labels: enhancement, bricks

#3545 feat(bricks): hydrated_bloc v0.2.0
  bricks/hydrated_bloc/CHANGELOG.md
  bricks/hydrated_bloc/README.md
  bricks/hydrated_bloc/__brick__/{{name.snakeCase()}}_bloc.dart
  bricks/hydrated_bloc/__brick__/{{name.snakeCase()}}_event.dart
  bricks/hydrated_bloc/__brick__/{{name.snakeCase()}}_state.dart
  bricks/hydrated_bloc/__brick__/{{~ basic_bloc }}
  bricks/hydrated_bloc/__brick__/{{~ basic_event }}
  bricks/hydrated_bloc/__brick__/{{~ basic_state }}
  bricks/hydrated_bloc/__brick__/{{~ equatable_bloc }}
  bricks/hydrated_bloc/__brick__/{{~ equatable_event }}
  bricks/hydrated_bloc/__brick__/{{~ equatable_state }}
  bricks/hydrated_bloc/__brick__/{{~ freezed_bloc }}
  bricks/hydrated_bloc/__brick__/{{~ freezed_event }}
  bricks/hydrated_bloc/__brick__/{{~ freezed_state }}
  bricks/hydrated_bloc/brick.yaml
  bricks/hydrated_bloc/hooks/pre_gen.dart
  bricks/hydrated_bloc/hooks/pubspec.yaml
Labels: enhancement, bricks

#3546 feat(bricks): hydrated_cubit v0.2.0
  bricks/hydrated_cubit/CHANGELOG.md
  bricks/hydrated_cubit/README.md
  bricks/hydrated_cubit/__brick__/{{name.snakeCase()}}_cubit.dart
  bricks/hydrated_cubit/__brick__/{{name.snakeCase()}}_state.dart
  bricks/hydrated_cubit/__brick__/{{~ basic_cubit }}
  bricks/hydrated_cubit/__brick__/{{~ basic_state }}
  bricks/hydrated_cubit/__brick__/{{~ equatable_cubit }}
  bricks/hydrated_cubit/__brick__/{{~ equatable_state }}
  bricks/hydrated_cubit/__brick__/{{~ freezed_cubit }}
  bricks/hydrated_cubit/__brick__/{{~ freezed_state }}
  bricks/hydrated_cubit/brick.yaml
  bricks/hydrated_cubit/hooks/pre_gen.dart
  bricks/hydrated_cubit/hooks/pubspec.yaml
Labels: enhancement, bricks

#3547 feat(bricks): replay_bloc v0.2.0
  bricks/replay_bloc/CHANGELOG.md
  bricks/replay_bloc/README.md
  bricks/replay_bloc/__brick__/{{name.snakeCase()}}_bloc.dart
  bricks/replay_bloc/__brick__/{{name.snakeCase()}}_event.dart
  bricks/replay_bloc/__brick__/{{name.snakeCase()}}_state.dart
  bricks/replay_bloc/__brick__/{{~ basic_bloc }}
  bricks/replay_bloc/__brick__/{{~ basic_event }}
  bricks/replay_bloc/__brick__/{{~ basic_state }}
  bricks/replay_bloc/__brick__/{{~ equatable_bloc }}
  bricks/replay_bloc/__brick__/{{~ equatable_event }}
  bricks/replay_bloc/__brick__/{{~ equatable_state }}
  bricks/replay_bloc/__brick__/{{~ freezed_bloc }}
  bricks/replay_bloc/__brick__/{{~ freezed_event }}
  bricks/replay_bloc/__brick__/{{~ freezed_state }}
  bricks/replay_bloc/brick.yaml
  bricks/replay_bloc/hooks/pre_gen.dart
  bricks/replay_bloc/hooks/pubspec.yaml
Labels: enhancement, bricks

#3548 feat(bricks): replay_cubit v0.2.0
  bricks/replay_cubit/CHANGELOG.md
  bricks/replay_cubit/README.md
  bricks/replay_cubit/__brick__/{{name.snakeCase()}}_cubit.dart
  bricks/replay_cubit/__brick__/{{name.snakeCase()}}_state.dart
  bricks/replay_cubit/__brick__/{{~ basic_cubit }}
  bricks/replay_cubit/__brick__/{{~ basic_state }}
  bricks/replay_cubit/__brick__/{{~ equatable_cubit }}
  bricks/replay_cubit/__brick__/{{~ equatable_state }}
  bricks/replay_cubit/__brick__/{{~ freezed_cubit }}
  bricks/replay_cubit/__brick__/{{~ freezed_state }}
  bricks/replay_cubit/brick.yaml
  bricks/replay_cubit/hooks/pre_gen.dart
  bricks/replay_cubit/hooks/pubspec.yaml
Labels: enhancement, bricks

#3549 feat(bricks): flutter_bloc_feature v0.2.0
  bricks/flutter_bloc_feature/CHANGELOG.md
  bricks/flutter_bloc_feature/README.md
  bricks/flutter_bloc_feature/brick.yaml
  bricks/flutter_bloc_feature/hooks/pre_gen.dart
Labels: enhancement, bricks

#3552 docs(bloc_test): fix snippet in README.md
  packages/bloc_test/README.md
Labels: documentation, pkg:bloc_test

#3542 docs(architecture): update pt-br translation
  docs/pt-br/architecture.md
Labels: translation

#3557 docs(flutterinfinitelist): add stream_transform import for `throttle` api
  docs/_snippets/flutter_infinite_list_tutorial/post_bloc_transformer.dart.md
  docs/flutterinfinitelisttutorial.md
Labels: documentation
