Repository felangel/bloc, pull requests merged in 2022-04, with the labels that each got.

#3312 chore(hydrated_bloc): v9.0.0-dev.1
  packages/hydrated_bloc/CHANGELOG.md
  packages/hydrated_bloc/pubspec.yaml
Labels: release candidate, chore, pkg:hydrated_bloc

#3314 fix(hydrated_bloc): update StorageNotFound toString()
  packages/hydrated_bloc/lib/src/hydrated_bloc.dart
  packages/hydrated_bloc/test/hydrated_cubit_test.dart
  packages/hydrated_bloc/test/legacy/hydrated_cubit_legacy_test.dart
Labels: bug, pkg:hydrated_bloc

#3315 chore(hydrated_bloc): v9.0.0-dev.2
  packages/hydrated_bloc/CHANGELOG.md
  packages/hydrated_bloc/pubspec.yaml
Labels: release candidate, chore, pkg:hydrated_bloc

#3320 refactor(bricks): upgrade bloc to shorthand lambda syntax
  bricks/bloc/CHANGELOG.md
  bricks/bloc/__brick__/{{#snakeCase}}{{name}}{{/snakeCase}}_bloc.dart
  bricks/bloc/__brick__/{{#snakeCase}}{{name}}{{/snakeCase}}_event.dart
  bricks/bloc/__brick__/{{#snakeCase}}{{name}}{{/snakeCase}}_state.dart
  bricks/bloc/__brick__/{{name.snakeCase()}}_bloc.dart
  bricks/bloc/__brick__/{{name.snakeCase()}}_event.dart
  bricks/bloc/__brick__/{{name.snakeCase()}}_state.dart
  bricks/bloc/brick.yaml
Labels: release candidate, refactor, bricks

#3321 refactor(bricks): upgrade cubit to shorthand lambda syntax
  bricks/cubit/CHANGELOG.md
  bricks/cubit/__brick__/{{#snakeCase}}{{name}}{{/snakeCase}}_cubit.dart
  bricks/cubit/__brick__/{{#snakeCase}}{{name}}{{/snakeCase}}_state.dart
  bricks/cubit/__brick__/{{name.snakeCase()}}_cubit.dart
  bricks/cubit/__brick__/{{name.snakeCase()}}_state.dart
  bricks/cubit/brick.yaml
Labels: release candidate, refactor, bricks

#3332 docs: add link to bloc course
  README.md
Labels: documentation

#3334 feat(bricks): add hydrated_bloc
  bricks/hydrated_bloc/CHANGELOG.md
  bricks/hydrated_bloc/LICENSE
  bricks/hydrated_bloc/README.md
  bricks/hydrated_bloc/__brick__/{{name.snakeCase()}}_bloc.dart
  bricks/hydrated_bloc/__brick__/{{name.snakeCase()}}_event.dart
  bricks/hydrated_bloc/__brick__/{{name.snakeCase()}}_state.dart
  bricks/hydrated_bloc/brick.yaml
  bricks/mason.yaml
Labels: enhancement, bricks

#3335 feat(bricks): add hydrated_cubit
  bricks/hydrated_bloc/brick.yaml
  bricks/hydrated_cubit/CHANGELOG.md
  bricks/hydrated_cubit/LICENSE
  bricks/hydrated_cubit/README.md
  bricks/hydrated_cubit/__brick__/{{name.snakeCase()}}_cubit.dart
  bricks/hydrated_cubit/__brick__/{{name.snakeCase()}}_state.dart
  bricks/hydrated_cubit/brick.yaml
  bricks/mason.yaml
Labels: enhancement, bricks

#3337 feat(bricks): add replay_bloc
  bricks/README.md
  bricks/mason.yaml
  bricks/replay_bloc/CHANGELOG.md
  bricks/replay_bloc/LICENSE
  bricks/replay_bloc/README.md
  bricks/replay_bloc/__brick__/{{name.snakeCase()}}_bloc.dart
  bricks/replay_bloc/__brick__/{{name.snakeCase()}}_event.dart
  bricks/replay_bloc/__brick__/{{name.snakeCase()}}_state.dart
  bricks/replay_bloc/brick.yaml
Labels: enhancement, bricks

#3338 feat(bricks): add replay_cubit
  bricks/README.md
  bricks/mason.yaml
  bricks/replay_bloc/brick.yaml
  bricks/replay_cubit/CHANGELOG.md
  bricks/replay_cubit/LICENSE
  bricks/replay_cubit/README.md
  bricks/replay_cubit/__brick__/{{name.snakeCase()}}_cubit.dart
  bricks/replay_cubit/__brick__/{{name.snakeCase()}}_state.dart
  bricks/replay_cubit/brick.yaml
Labels: enhancement, bricks
