Repository felangel/bloc, pull requests merged in 2022-08, with the labels that each got.

#3458 chore(flutter_weather): upgrade to Dart 2.17
  examples/flutter_weather/analysis_options.yaml
  examples/flutter_weather/android/app/build.gradle
  examples/flutter_weather/android/build.gradle
  examples/flutter_weather/android/gradle/wrapper/gradle-wrapper.properties
  examples/flutter_weather/ios/Runner/Info.plist
  examples/flutter_weather/lib/app.dart
  examples/flutter_weather/lib/search/view/search_page.dart
  examples/flutter_weather/lib/settings/view/settings_page.dart
  examples/flutter_weather/lib/theme/cubit/theme_cubit.dart
  examples/flutter_weather/lib/weather/cubit/weather_cubit.dart
  examples/flutter_weather/lib/weather/cubit/weather_cubit.g.dart
  examples/flutter_weather/lib/weather/models/weather.g.dart
  examples/flutter_weather/lib/weather/view/weather_page.dart
  examples/flutter_weather/lib/weather/widgets/weather_empty.dart
  examples/flutter_weather/lib/weather/widgets/weather_error.dart
  examples/flutter_weather/lib/weather/widgets/weather_loading.dart
  examples/flutter_weather/lib/weather/widgets/weather_populated.dart
  examples/flutter_weather/lib/weather_bloc_observer.dart
  examples/flutter_weather/linux/flutter/generated_plugins.cmake
  examples/flutter_weather/macos/Runner.xcodeproj/project.pbxproj
  examples/flutter_weather/macos/Runner.xcworkspace/contents.xcworkspacedata
  examples/flutter_weather/packages/meta_weather_api/analysis_options.yaml
  examples/flutter_weather/packages/meta_weather_api/lib/src/models/location.g.dart
  examples/flutter_weather/packages/meta_weather_api/lib/src/models/weather.g.dart
  examples/flutter_weather/packages/meta_weather_api/pubspec.yaml
  examples/flutter_weather/packages/meta_weather_api/test/meta_weather_api_client_test.dart
  examples/flutter_weather/packages/weather_repository/analysis_options.yaml
  examples/flutter_weather/packages/weather_repository/lib/src/models/weather.g.dart
  examples/flutter_weather/packages/weather_repository/lib/src/weather_repository.dart
  examples/flutter_weather/packages/weather_repository/pubspec.yaml
  examples/flutter_weather/packages/weather_repository/test/weather_repository_test.dart
  examples/flutter_weather/pubspec.yaml
  examples/flutter_weather/test/app_test.dart
  examples/flutter_weather/test/settings/view/settings_page_test.dart
  examples/flutter_weather/test/weather/cubit/weather_cubit_test.dart
  examples/flutter_weather/test/weather/view/weather_page_test.dart
  examples/flutter_weather/windows/flutter/generated_plugins.cmake
Labels: example

#3460 chore(flutter_github_search): upgrade to Dart 2.17
  .github/workflows/angular_dart_examples.yaml
  examples/github_search/angular_github_search/analysis_options.yaml
  examples/github_search/angular_github_search/lib/app_component.dart
  examples/github_search/angular_github_search/lib/src/github_search.dart
  examples/github_search/angular_github_search/lib/src/search_form/search_bar/search_bar_component.dart
  examples/github_search/angular_github_search/lib/src/search_form/search_body/search_body_component.dart
  examples/github_search/angular_github_search/lib/src/search_form/search_body/search_results/search_result_item/search_result_item_component.dart
  examples/github_search/angular_github_search/lib/src/search_form/search_body/search_results/search_results_component.dart
  examples/github_search/angular_github_search/lib/src/search_form/search_form_component.dart
  examples/github_search/angular_github_search/lib/src/src.dart
  examples/github_search/angular_github_search/pubspec.yaml
  examples/github_search/common_github_search/analysis_options.yaml
  examples/github_search/common_github_search/lib/common_github_search.dart
  examples/github_search/common_github_search/lib/src/github_client.dart
  examples/github_search/common_github_search/lib/src/github_search_bloc/github_search_bloc.dart
  examples/github_search/common_github_search/lib/src/github_search_bloc/github_search_state.dart
  examples/github_search/common_github_search/lib/src/models/github_user.dart
  examples/github_search/common_github_search/lib/src/models/models.dart
  examples/github_search/common_github_search/lib/src/models/search_result.dart
  examples/github_search/common_github_search/lib/src/models/search_result_error.dart
  examples/github_search/common_github_search/lib/src/models/search_result_item.dart
  examples/github_search/common_github_search/pubspec.yaml
  examples/github_search/flutter_github_search/analysis_options.yaml
  examples/github_search/flutter_github_search/android/app/build.gradle
  examples/github_search/flutter_github_search/android/build.gradle
  examples/github_search/flutter_github_search/android/gradle/wrapper/gradle-wrapper.properties
  examples/github_search/flutter_github_search/ios/Runner/Info.plist
  examples/github_search/flutter_github_search/lib/main.dart
  examples/github_search/flutter_github_search/lib/search_form.dart
  examples/github_search/flutter_github_search/pubspec.yaml
Labels: example

#3461 chore(flutter_firebase_login): upgrade to Dart 2.17
  examples/flutter_firebase_login/.metadata
  examples/flutter_firebase_login/analysis_options.yaml
  examples/flutter_firebase_login/android/app/build.gradle
  examples/flutter_firebase_login/android/build.gradle
  examples/flutter_firebase_login/android/gradle/wrapper/gradle-wrapper.properties
  examples/flutter_firebase_login/ios/Podfile
  examples/flutter_firebase_login/ios/Runner/Info.plist
  examples/flutter_firebase_login/lib/app/bloc_observer.dart
  examples/flutter_firebase_login/lib/app/routes/routes.dart
  examples/flutter_firebase_login/lib/app/view/app.dart
  examples/flutter_firebase_login/lib/generated_plugin_registrant.dart
  examples/flutter_firebase_login/lib/home/view/home_page.dart
  examples/flutter_firebase_login/lib/home/widgets/avatar.dart
  examples/flutter_firebase_login/lib/login/view/login_form.dart
  examples/flutter_firebase_login/lib/login/view/login_page.dart
  examples/flutter_firebase_login/lib/sign_up/view/sign_up_form.dart
  examples/flutter_firebase_login/lib/sign_up/view/sign_up_page.dart
  examples/flutter_firebase_login/packages/authentication_repository/analysis_options.yaml
  examples/flutter_firebase_login/packages/authentication_repository/pubspec.yaml
  examples/flutter_firebase_login/packages/authentication_repository/test/authentication_repository_test.dart
  examples/flutter_firebase_login/packages/cache/analysis_options.yaml
  examples/flutter_firebase_login/packages/cache/pubspec.yaml
  examples/flutter_firebase_login/packages/form_inputs/analysis_options.yaml
  examples/flutter_firebase_login/packages/form_inputs/lib/src/email.dart
  examples/flutter_firebase_login/packages/form_inputs/lib/src/password.dart
  examples/flutter_firebase_login/packages/form_inputs/pubspec.yaml
  examples/flutter_firebase_login/pubspec.yaml
  examples/flutter_firebase_login/test/app/routes/routes_test.dart
  examples/flutter_firebase_login/test/login/view/login_page_test.dart
  examples/flutter_firebase_login/test/sign_up/view/sign_up_page_test.dart
Labels: example

#3477 chore(bloc): upgrade to mocktail ^0.3.0
  packages/bloc/pubspec.yaml
Labels: pkg:bloc, dependency updates

#3478 chore(bloc): v8.1.0
  packages/bloc/CHANGELOG.md
  packages/bloc/pubspec.yaml
Labels: release candidate, pkg:bloc, chore

#3479 feat(hydrated_bloc)!: remove HydratedBlocOverrides
  .github/workflows/hydrated_bloc.yaml
  packages/hydrated_bloc/README.md
  packages/hydrated_bloc/example/ios/Runner/Info.plist
  packages/hydrated_bloc/example/lib/main.dart
  packages/hydrated_bloc/example/linux/flutter/generated_plugins.cmake
  packages/hydrated_bloc/example/windows/flutter/generated_plugins.cmake
  packages/hydrated_bloc/lib/src/hydrated_bloc.dart
  packages/hydrated_bloc/pubspec.yaml
  packages/hydrated_bloc/test/e2e_test.dart
  packages/hydrated_bloc/test/hydrated_bloc_overrides_test.dart
  packages/hydrated_bloc/test/hydrated_bloc_test.dart
  packages/hydrated_bloc/test/hydrated_cubit_test.dart
  packages/hydrated_bloc/test/hydrated_storage_test.dart
  packages/hydrated_bloc/test/legacy/e2e_legacy_test.dart
  packages/hydrated_bloc/test/legacy/hydrated_bloc_legacy_test.dart
  packages/hydrated_bloc/test/legacy/hydrated_bloc_overrides_legacy_test.dart
  packages/hydrated_bloc/test/legacy/hydrated_cubit_legacy_test.dart
Labels: bug, enhancement, breaking change, pkg:hydrated_bloc

#3480 chore(hydrated_bloc): v9.0.0-dev.3
  packages/hydrated_bloc/CHANGELOG.md
  packages/hydrated_bloc/pubspec.yaml
Labels: release candidate, chore, pkg:hydrated_bloc

#3482 refactor(replay_bloc): upgrade to bloc: ^8.1.0
  packages/replay_bloc/example/ios/Runner.xcodeproj/project.pbxproj
  packages/replay_bloc/example/ios/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
  packages/replay_bloc/example/ios/Runner/Info.plist
  packages/replay_bloc/example/lib/main.dart
  packages/replay_bloc/lib/src/replay_bloc.dart
  packages/replay_bloc/pubspec.yaml
Labels: pkg:replay_bloc, refactor

#3483 chore(replay_bloc): v0.2.2
  packages/replay_bloc/CHANGELOG.md
  packages/replay_bloc/pubspec.yaml
Labels: release candidate, chore, pkg:replay_bloc

#3481 chore(examples): upgrade to latest bloc and hydrated_bloc
  docs/_snippets/core_concepts/simple_bloc_observer_on_change_usage.dart.md
  docs/_snippets/core_concepts/simple_bloc_observer_on_transition_usage.dart.md
  examples/angular_counter/web/main.dart
  examples/flutter_complex_list/lib/main.dart
  examples/flutter_counter/lib/main.dart
  examples/flutter_firebase_login/lib/main.dart
  examples/flutter_infinite_list/lib/main.dart
  examples/flutter_shopping_cart/lib/main.dart
  examples/flutter_todos/lib/bootstrap.dart
  examples/flutter_todos/pubspec.lock
  examples/flutter_todos/pubspec.yaml
  examples/flutter_weather/lib/main.dart
  examples/flutter_weather/test/app_test.dart
  examples/flutter_weather/test/helpers/hydrated_bloc.dart
  examples/flutter_weather/test/theme/cubit/theme_cubit_test.dart
  examples/flutter_weather/test/weather/cubit/weather_cubit_test.dart
  examples/flutter_weather/test/weather/view/weather_page_test.dart
  packages/flutter_bloc/example/lib/main.dart
Labels: example, chore

#3484 docs: upgrade to bloc v8.1.0
  docs/_coverpage.md
  docs/az/_coverpage.md
  docs/cs/_coverpage.md
  docs/de-de/_coverpage.md
  docs/es/_coverpage.md
  docs/fr/_coverpage.md
  docs/jp/_coverpage.md
  docs/ko-kr/_coverpage.md
  docs/migration.md
  docs/pt-br/_coverpage.md
  docs/ru/_coverpage.md
  docs/update-pubspec.js
  docs/zh-cn/_coverpage.md
Labels: documentation

#3490 docs(migration): v8.1.0 pt-br translation
  docs/pt-br/migration.md
Labels: documentation, translation

#3496 chore(flutter_bloc): remove path dependency from example pubspec.yaml
  packages/flutter_bloc/example/linux/flutter/generated_plugins.cmake
  packages/flutter_bloc/example/pubspec.yaml
  packages/flutter_bloc/example/windows/flutter/generated_plugins.cmake
Labels: example, pkg:flutter_bloc

#3497 chore(flutter_bloc): v8.1.0
  packages/flutter_bloc/CHANGELOG.md
  packages/flutter_bloc/README.md
  packages/flutter_bloc/pubspec.yaml
Labels: release candidate, pkg:flutter_bloc

#3498 docs: bump to flutter_bloc v8.1.0
  docs/update-pubspec.js
Labels: documentation

#3500 chore(flutter_bloc): remove example dependency_overrides
  packages/flutter_bloc/example/pubspec.yaml
Labels: example, pkg:flutter_bloc, chore

#3501 chore(flutter_bloc): v8.1.1
  packages/flutter_bloc/CHANGELOG.md
  packages/flutter_bloc/pubspec.yaml
Labels: release candidate, pkg:flutter_bloc, chore

#3502 feat(bloc_test): upgrade to bloc: ^8.1.0
  packages/bloc_test/lib/src/bloc_test.dart
  packages/bloc_test/pubspec.yaml
Labels: enhancement, pkg:bloc_test

#3504 chore(bloc_test): v9.1.0
  packages/bloc_test/CHANGELOG.md
  packages/bloc_test/pubspec.yaml
Labels: release candidate, pkg:bloc_test, chore

#3505 docs: update to flutter_bloc v8.1.1 and bloc_test v9.1.0
  docs/update-pubspec.js
Labels: documentation
