Repository felangel/bloc, pull requests merged in 2022-12, with the labels that each got.

#3537 feat: Add freezed for code generation
  extensions/intellij/intellij_generator_plugin/src/main/java/com/bloc/intellij_generator_plugin/action/BlocTemplateType.java
  extensions/intellij/intellij_generator_plugin/src/main/java/com/bloc/intellij_generator_plugin/action/GenerateBlocAction.kt
  extensions/intellij/intellij_generator_plugin/src/main/java/com/bloc/intellij_generator_plugin/action/GenerateBlocDialog.form
  extensions/intellij/intellij_generator_plugin/src/main/java/com/bloc/intellij_generator_plugin/action/GenerateBlocDialog.java
  extensions/intellij/intellij_generator_plugin/src/main/java/com/bloc/intellij_generator_plugin/action/GenerateCubitAction.kt
  extensions/intellij/intellij_generator_plugin/src/main/java/com/bloc/intellij_generator_plugin/generator/BlocGenerator.kt
  extensions/intellij/intellij_generator_plugin/src/main/java/com/bloc/intellij_generator_plugin/generator/BlocGeneratorFactory.kt
  extensions/intellij/intellij_generator_plugin/src/main/java/com/bloc/intellij_generator_plugin/generator/CubitGenerator.kt
  extensions/intellij/intellij_generator_plugin/src/main/java/com/bloc/intellij_generator_plugin/generator/CubitGeneratorFactory.kt
  extensions/intellij/intellij_generator_plugin/src/main/java/com/bloc/intellij_generator_plugin/generator/components/BlocEventGenerator.kt
  extensions/intellij/intellij_generator_plugin/src/main/java/com/bloc/intellij_generator_plugin/generator/components/BlocGenerator.kt
  extensions/intellij/intellij_generator_plugin/src/main/java/com/bloc/intellij_generator_plugin/generator/components/BlocStateGenerator.kt
  extensions/intellij/intellij_generator_plugin/src/main/java/com/bloc/intellij_generator_plugin/generator/components/CubitGenerator.kt
  extensions/intellij/intellij_generator_plugin/src/main/java/com/bloc/intellij_generator_plugin/generator/components/CubitStateGenerator.kt
  extensions/intellij/intellij_generator_plugin/src/main/resources/templates/bloc_basic/bloc.dart.template
  extensions/intellij/intellij_generator_plugin/src/main/resources/templates/bloc_basic/bloc_event.dart.template
  extensions/intellij/intellij_generator_plugin/src/main/resources/templates/bloc_basic/bloc_state.dart.template
  extensions/intellij/intellij_generator_plugin/src/main/resources/templates/bloc_equatable/bloc.dart.template
  extensions/intellij/intellij_generator_plugin/src/main/resources/templates/bloc_equatable/bloc_event.dart.template
  extensions/intellij/intellij_generator_plugin/src/main/resources/templates/bloc_equatable/bloc_state.dart.template
  extensions/intellij/intellij_generator_plugin/src/main/resources/templates/bloc_freezed/bloc.dart.template
  extensions/intellij/intellij_generator_plugin/src/main/resources/templates/bloc_freezed/bloc_event.dart.template
  extensions/intellij/intellij_generator_plugin/src/main/resources/templates/bloc_freezed/bloc_state.dart.template
  extensions/intellij/intellij_generator_plugin/src/main/resources/templates/bloc_with_equatable/bloc.dart.template
  extensions/intellij/intellij_generator_plugin/src/main/resources/templates/bloc_with_equatable/bloc_event.dart.template
  extensions/intellij/intellij_generator_plugin/src/main/resources/templates/bloc_with_equatable/bloc_state.dart.template
  extensions/intellij/intellij_generator_plugin/src/main/resources/templates/bloc_without_equatable/bloc.dart.template
  extensions/intellij/intellij_generator_plugin/src/main/resources/templates/bloc_without_equatable/bloc_event.dart.template
  extensions/intellij/intellij_generator_plugin/src/main/resources/templates/bloc_without_equatable/bloc_state.dart.template
  extensions/intellij/intellij_generator_plugin/src/main/resources/templates/cubit_basic/cubit.dart.template
  extensions/intellij/intellij_generator_plugin/src/main/resources/templates/cubit_basic/cubit_state.dart.template
  extensions/intellij/intellij_generator_plugin/src/main/resources/templates/cubit_equatable/cubit.dart.template
  extensions/intellij/intellij_generator_plugin/src/main/resources/templates/cubit_equatable/cubit_state.dart.template
  extensions/intellij/intellij_generator_plugin/src/main/resources/templates/cubit_freezed/cubit.dart.template
  extensions/intellij/intellij_generator_plugin/src/main/resources/templates/cubit_freezed/cubit_state.dart.template
  extensions/intellij/intellij_generator_plugin/src/main/resources/templates/cubit_with_equatable/cubit.dart.template
  extensions/intellij/intellij_generator_plugin/src/main/resources/templates/cubit_with_equatable/cubit_state.dart.template
  extensions/intellij/intellij_generator_plugin/src/main/resources/templates/cubit_without_equatable/cubit.dart.template
  extensions/intellij/intellij_generator_plugin/src/main/resources/templates/cubit_without_equatable/cubit_state.dart.template
Labels: enhancement, extension

#3650 chore(intellij): v3.4.0
  extensions/intellij/intellij_generator_plugin/build.gradle
  extensions/intellij/intellij_generator_plugin/src/main/resources/META-INF/plugin.xml
Labels: release candidate, extension

#3655 ci: updated codecov v1 to v3
  .github/workflows/bloc.yaml
  .github/workflows/bloc_concurrency.yaml
  .github/workflows/bloc_test.yaml
  .github/workflows/bloc_tools.yaml
  .github/workflows/flutter_bloc.yaml
  .github/workflows/hydrated_bloc.yaml
  .github/workflows/replay_bloc.yaml
Labels: ci

#3654 fix(flutter_firebase_login): Authentication Repository test failing
  examples/flutter_firebase_login/packages/authentication_repository/pubspec.yaml
  examples/flutter_firebase_login/packages/authentication_repository/test/authentication_repository_test.dart
  examples/flutter_firebase_login/pubspec.yaml
Labels: example

#3673 docs(faqs): add section on exposing public methods
  docs/faqs.md
Labels: documentation
