Repository felangel/bloc, pull requests merged in 2023-05, with the labels that each got.

#3817 fix(snippets): missing semicolon in `counter_bloc_event_handler.dart.md`
  docs/_snippets/core_concepts/counter_bloc_event_handler.dart.md
Labels: documentation, chore

#3820 chore: remove graphql example links from README
  README.md
  docs/es/README.md
  docs/jp/README.md
  docs/ko-kr/README.md
  packages/flutter_bloc/README.md
Labels: chore

#3829 docs: prism syntax highlighting for Dart 3
  docs/_js/third_party/prismjs@1.28.0/prism-dart.min.js
  docs/_js/third_party/prismjs@1.28.0/prism-json.min.js
  docs/_js/third_party/prismjs@1.28.0/prism-yaml.min.js
  docs/_js/update-pubspec.js
  docs/index.html
Labels: documentation

#3836 chore(bloc): v8.1.2
  packages/bloc/CHANGELOG.md
  packages/bloc/pubspec.yaml
Labels: release candidate, pkg:bloc, chore

#3837 chore(angular_bloc): v10.0.0-dev.1
  packages/angular_bloc/CHANGELOG.md
  packages/angular_bloc/pubspec.yaml
Labels: release candidate, pkg:angular_bloc, chore

#3839 chore(bloc_concurrency): v0.2.2
  packages/bloc_concurrency/CHANGELOG.md
  packages/bloc_concurrency/pubspec.yaml
Labels: release candidate, chore, pkg:bloc_concurrency

#3840 chore(bloc_test): v9.1.2
  packages/bloc_test/CHANGELOG.md
  packages/bloc_test/pubspec.yaml
Labels: release candidate, pkg:bloc_test, chore

#3841 chore(flutter_bloc): v8.1.3
  packages/flutter_bloc/CHANGELOG.md
  packages/flutter_bloc/pubspec.yaml
Labels: release candidate, pkg:flutter_bloc, chore

#3833 docs(firebase_login): improve inline api docs in `authentication_repository.dart`
  examples/flutter_firebase_login/packages/authentication_repository/lib/src/authentication_repository.dart
Labels: example, documentation

#3854 fix(bloc_test): test timeouts due to uncaught exceptions
  packages/bloc_test/lib/src/bloc_test.dart
  packages/bloc_test/test/bloc_bloc_test_test.dart
Labels: bug, pkg:bloc_test

#3858 chore(bloc_test): v9.1.3
  packages/bloc_test/CHANGELOG.md
  packages/bloc_test/pubspec.yaml
Labels: release candidate, pkg:bloc_test, chore
