Repository felangel/bloc, pull requests merged in 2023-06, with the labels that each got.

#3860 docs(flutter_todos): update `very_good_cli` command
  docs/fluttertodostutorial.md
Labels: documentation

#3879 fix(hydrated_bloc) clear HydratedStorage instance on close
  packages/hydrated_bloc/lib/src/hydrated_storage.dart
  packages/hydrated_bloc/test/hydrated_storage_test.dart
Labels: bug, pkg:hydrated_bloc

#3880 chore(hydrated_bloc): v9.1.2
  packages/hydrated_bloc/CHANGELOG.md
  packages/hydrated_bloc/pubspec.yaml
Labels: release candidate, chore, pkg:hydrated_bloc

#3871 docs(fluttertodostutorial): update `very_good_cli` commands to latest syntax
  docs/fluttertodostutorial.md
Labels: documentation

#3865 docs: add missing export barrel in `fluttercountertutorial.md`
  docs/fluttercountertutorial.md
Labels: documentation

#3828 feat(bricks): upgrade to Dart 3
  bricks/bloc/__brick__/{{~ basic_event }}
  bricks/bloc/__brick__/{{~ equatable_event }}
  bricks/hydrated_bloc/__brick__/{{~ basic_event }}
  bricks/hydrated_bloc/__brick__/{{~ equatable_event }}
Labels: enhancement, bricks

#3889 chore(bricks): bloc v0.3.0
  bricks/bloc/CHANGELOG.md
  bricks/bloc/LICENSE
  bricks/bloc/brick.yaml
Labels: release candidate, bricks

#3890 chore(bricks): hydrated_bloc v0.3.0
  bricks/hydrated_bloc/CHANGELOG.md
  bricks/hydrated_bloc/LICENSE
  bricks/hydrated_bloc/brick.yaml
Labels: release candidate, bricks

#3891 chore(bricks): flutter_bloc_feature v0.3.0
  bricks/flutter_bloc_feature/CHANGELOG.md
  bricks/flutter_bloc_feature/LICENSE
  bricks/flutter_bloc_feature/brick.yaml
  bricks/flutter_bloc_feature/hooks/pre_gen.dart
  bricks/flutter_bloc_feature/hooks/pubspec.yaml
Labels: release candidate, bricks
