Repository felangel/bloc, pull requests merged in 2023-11, with the labels that each got.

#3989 fix(vscode): show context menu conditionally
  extensions/vscode/package.json
  extensions/vscode/src/extension.ts
  extensions/vscode/src/utils/index.ts
  extensions/vscode/src/utils/set-show-context-menu.ts
Labels: bug, extension

#3990 chore(vscode): v6.6.5
  extensions/vscode/CHANGELOG.md
  extensions/vscode/LICENSE
  extensions/vscode/package-lock.json
  extensions/vscode/package.json
Labels: release candidate, extension, chore

#3993 chore(hydrated_bloc): add `platforms` to `pubspec.yaml`
  examples/flutter_weather/macos/Flutter/GeneratedPluginRegistrant.swift
  packages/hydrated_bloc/README.md
  packages/hydrated_bloc/pubspec.yaml
Labels: enhancement, pkg:hydrated_bloc

#4005 fix(hydrated_bloc): `fromJson` can safely access `state`
  packages/hydrated_bloc/lib/src/hydrated_bloc.dart
  packages/hydrated_bloc/test/cubits/cubits.dart
  packages/hydrated_bloc/test/cubits/from_json_state_cubit.dart
  packages/hydrated_bloc/test/e2e_test.dart
Labels: bug, pkg:hydrated_bloc

#3996 docs(core_concepts): update `Increment` to `Instance of 'CounterIncrementPressed'`
  docs/_snippets/core_concepts/counter_bloc_on_error_output.sh.md
  docs/_snippets/core_concepts/counter_bloc_on_transition_output.sh.md
  docs/_snippets/core_concepts/simple_bloc_observer_on_event_output.sh.md
  docs/_snippets/core_concepts/simple_bloc_observer_on_transition_output.sh.md
Labels: documentation
