Repository felangel/bloc, pull requests merged in 2023-02, with the labels that each got.

#3701 docs(hydrated_bloc): updated docs to reflect v9.0.0 changes
  packages/hydrated_bloc/lib/src/hydrated_storage.dart
Labels: documentation, pkg:hydrated_bloc

#3704 refactor(bloc): Add const constructor to `BlocObserver`
  packages/bloc/example/main.dart
  packages/bloc/lib/src/bloc.dart
  packages/bloc/lib/src/bloc_observer.dart
  packages/bloc/test/bloc_observer_test.dart
Labels: enhancement

#3708 chore(bloc): add screenshots to pubspec.yaml
  .github/workflows/bloc.yaml
  packages/bloc/pubspec.yaml
  packages/bloc/screenshots/logo.png
Labels: pkg:bloc, chore

#3709 chore(bloc): v8.1.1
  packages/bloc/CHANGELOG.md
  packages/bloc/pubspec.yaml
Labels: release candidate, pkg:bloc, chore

#3710 chore(bloc_concurrency): upgrade to mocktail v0.3.0
  packages/bloc_concurrency/pubspec.yaml
Labels: dependency updates, pkg:bloc_concurrency

#3711 chore(bloc_concurrency): add screenshots to pubspec.yaml
  .github/workflows/bloc_concurrency.yaml
  packages/bloc_concurrency/pubspec.yaml
  packages/bloc_concurrency/screenshots/logo.png
Labels: chore, pkg:bloc_concurrency

#3712 chore(bloc_concurrency): v0.2.1
  packages/bloc_concurrency/CHANGELOG.md
  packages/bloc_concurrency/pubspec.yaml
Labels: release candidate, pkg:bloc_concurrency

#3713 refactor: update BlocObserver instances to use const constructors
  examples/angular_counter/web/main.dart
  examples/flutter_complex_list/lib/main.dart
  examples/flutter_complex_list/lib/simple_bloc_observer.dart
  examples/flutter_counter/lib/counter_observer.dart
  examples/flutter_counter/lib/main.dart
  examples/flutter_firebase_login/lib/app/bloc_observer.dart
  examples/flutter_firebase_login/lib/main.dart
  examples/flutter_infinite_list/lib/main.dart
  examples/flutter_infinite_list/lib/simple_bloc_observer.dart
  examples/flutter_shopping_cart/lib/main.dart
  examples/flutter_shopping_cart/lib/simple_bloc_observer.dart
  examples/flutter_todos/lib/app/app_bloc_observer.dart
  examples/flutter_todos/lib/bootstrap.dart
  examples/flutter_todos/pubspec.lock
  examples/flutter_todos/pubspec.yaml
  examples/flutter_weather/lib/main.dart
  examples/flutter_weather/lib/weather_bloc_observer.dart
  packages/bloc_test/lib/src/bloc_test.dart
  packages/flutter_bloc/example/lib/main.dart
  packages/replay_bloc/example/lib/main.dart
Labels: enhancement, example

#3705 feat(hydrated_bloc): add storage.close
  packages/hydrated_bloc/example/macos/Podfile
  packages/hydrated_bloc/example/macos/Runner.xcodeproj/project.pbxproj
  packages/hydrated_bloc/example/macos/Runner.xcworkspace/contents.xcworkspacedata
  packages/hydrated_bloc/example/pubspec.yaml
  packages/hydrated_bloc/lib/src/hydrated_storage.dart
  packages/hydrated_bloc/pubspec.yaml
  packages/hydrated_bloc/test/cubits/freezed_cubit.freezed.dart
  packages/hydrated_bloc/test/cubits/json_serializable_cubit.g.dart
  packages/hydrated_bloc/test/e2e_test.dart
  packages/hydrated_bloc/test/hive_interference_test.dart
  packages/hydrated_bloc/test/hydrated_storage_test.dart
Labels: enhancement, pkg:hydrated_bloc

#3715 chore(flutter_bloc): update example to Dart 2.19
  packages/flutter_bloc/example/lib/main.dart
  packages/flutter_bloc/example/pubspec.yaml
Labels: example, pkg:flutter_bloc, chore

#3716 feat(flutter_bloc): upgrade to bloc ^8.1.1
  packages/flutter_bloc/pubspec.yaml
Labels: enhancement, pkg:flutter_bloc, dependency updates

#3717 chore(flutter_bloc): add screenshots to pubspec.yaml
  .github/workflows/flutter_bloc.yaml
  packages/flutter_bloc/pubspec.yaml
  packages/flutter_bloc/screenshots/logo.png
Labels: pkg:flutter_bloc, chore

#3718 chore(flutter_bloc): v8.1.2
  packages/flutter_bloc/CHANGELOG.md
  packages/flutter_bloc/pubspec.yaml
Labels: release candidate, pkg:flutter_bloc, chore

#3719 chore(hydrated_bloc): update to bloc ^8.1.1
  packages/hydrated_bloc/pubspec.yaml
Labels: chore, pkg:hydrated_bloc, dependency updates

#3720 chore(hydrated_bloc): update example to Dart 2.19
  packages/hydrated_bloc/example/pubspec.yaml
Labels: chore, pkg:hydrated_bloc

#3721 chore(hydrated_bloc): add screenshots to pubspec.yaml
  .github/workflows/hydrated_bloc.yaml
  packages/hydrated_bloc/pubspec.yaml
  packages/hydrated_bloc/screenshots/logo.png
Labels: chore, pkg:hydrated_bloc

#3722 chore(hydrated_bloc): v9.1.0
  packages/hydrated_bloc/CHANGELOG.md
  packages/hydrated_bloc/pubspec.yaml
Labels: release candidate, chore, pkg:hydrated_bloc

#3723 chore(bloc_test): upgrade to bloc ^8.1.1
  packages/bloc_test/pubspec.yaml
Labels: pkg:bloc_test, chore, dependency updates

#3724 chore(bloc_test): add screenshots to pubspec.yaml
  .github/workflows/bloc_test.yaml
  packages/bloc_test/pubspec.yaml
  packages/bloc_test/screenshots/logo.png
Labels: pkg:bloc_test, chore

#3725 chore(bloc_test): v9.1.1
  packages/bloc_test/CHANGELOG.md
  packages/bloc_test/pubspec.yaml
Labels: release candidate, pkg:bloc_test, chore

#3726 chore(replay_bloc): upgrade to bloc ^8.1.1
  packages/replay_bloc/pubspec.yaml
Labels: pkg:replay_bloc, dependency updates

#3727 chore(replay_bloc): update example to Dart 2.19
  packages/replay_bloc/example/lib/main.dart
  packages/replay_bloc/example/pubspec.yaml
  packages/replay_bloc/example/pubspec_overrides.yaml
Labels: example, chore, pkg:replay_bloc

#3728 chore(replay_bloc): add screenshots to pubspec.yaml
  .github/workflows/replay_bloc.yaml
  packages/replay_bloc/pubspec.yaml
  packages/replay_bloc/screenshots/logo.png
Labels: chore, pkg:replay_bloc

#3729 chore(replay_bloc): v0.2.3
  packages/replay_bloc/CHANGELOG.md
  packages/replay_bloc/example/ios/Flutter/AppFrameworkInfo.plist
  packages/replay_bloc/example/ios/Runner.xcodeproj/project.pbxproj
  packages/replay_bloc/example/ios/Runner/Info.plist
  packages/replay_bloc/pubspec.yaml
Labels: release candidate, chore, pkg:replay_bloc

#3700 refactor(angular_bloc)!: use `package:ngdart`
  .github/workflows/angular_bloc.yaml
  .github/workflows/angular_dart_examples.yaml
  examples/angular_counter/lib/app_component.dart
  examples/angular_counter/lib/src/counter_page/counter_page_component.dart
  examples/angular_counter/pubspec.yaml
  examples/angular_counter/pubspec_overrides.yaml
  examples/angular_counter/web/main.dart
  examples/github_search/angular_github_search/analysis_options.yaml
  examples/github_search/angular_github_search/lib/app_component.dart
  examples/github_search/angular_github_search/lib/src/search_form/search_bar/search_bar_component.dart
  examples/github_search/angular_github_search/lib/src/search_form/search_body/search_body_component.dart
  examples/github_search/angular_github_search/lib/src/search_form/search_body/search_results/search_result_item/search_result_item_component.dart
  examples/github_search/angular_github_search/lib/src/search_form/search_body/search_results/search_results_component.dart
  examples/github_search/angular_github_search/lib/src/search_form/search_form_component.dart
  examples/github_search/angular_github_search/pubspec.yaml
  examples/github_search/angular_github_search/pubspec_overrides.yaml
  examples/github_search/angular_github_search/web/main.dart
  examples/github_search/common_github_search/analysis_options.yaml
  examples/github_search/common_github_search/pubspec.yaml
  packages/angular_bloc/example/example.dart
  packages/angular_bloc/lib/src/pipes/bloc_pipe.dart
  packages/angular_bloc/pubspec.yaml
  packages/angular_bloc/pubspec_overrides.yaml
  packages/angular_bloc/test/bloc_pipe_test.dart
Labels: pkg:angular_bloc, breaking change, refactor

#3732 chore(angular_bloc): add screenshots to pubspec.yaml
  .github/workflows/angular_bloc.yaml
  packages/angular_bloc/pubspec.yaml
  packages/angular_bloc/screenshots/logo.png
Labels: pkg:angular_bloc, chore

#3733 chore(angular_bloc): v9.0.0
  packages/angular_bloc/CHANGELOG.md
  packages/angular_bloc/pubspec.yaml
Labels: release candidate, pkg:angular_bloc, chore

#3738 refactor(angular_bloc)!: upgrade ngdart to v8 pre-release
  .github/workflows/angular_bloc.yaml
  .github/workflows/angular_dart_examples.yaml
  examples/angular_counter/pubspec.yaml
  examples/github_search/angular_github_search/analysis_options.yaml
  examples/github_search/angular_github_search/pubspec.yaml
  examples/github_search/common_github_search/analysis_options.yaml
  examples/github_search/common_github_search/pubspec.yaml
  packages/angular_bloc/pubspec.yaml
Labels: pkg:angular_bloc, dependency updates

#3736 docs(flutter_timer_tutorial): update to `_TimerTicked` event in snippets
  docs/_snippets/flutter_timer_tutorial/timer_bloc_pause.dart.md
  docs/_snippets/flutter_timer_tutorial/timer_bloc_resume.dart.md
  docs/_snippets/flutter_timer_tutorial/timer_bloc_start.dart.md
  docs/_snippets/flutter_timer_tutorial/timer_bloc_tick.dart.md
  docs/es/fluttertimertutorial.md
  docs/fluttertimertutorial.md
  docs/fr/fluttertimertutorial.md
  docs/pt-br/fluttertimertutorial.md
  docs/ru/fluttertimertutorial.md
  docs/zh-cn/fluttertimertutorial.md
Labels: documentation

#3734 docs(bloc): remove superfluous word from inline docs
  packages/bloc/lib/src/bloc.dart
Labels: documentation, pkg:bloc

#3741 chore: minor updates to firebase_login and flutter_todos
  examples/flutter_firebase_login/test/app/bloc_observer_test.dart
  examples/flutter_todos/pubspec.lock
Labels: example, chore

#3742 chore(angular_bloc): v10.0.0-dev.0
  packages/angular_bloc/CHANGELOG.md
  packages/angular_bloc/pubspec.yaml
Labels: release candidate, pkg:angular_bloc, chore

#3752 docs(architecture): add missing semicolon in snippet
  docs/_snippets/architecture/do_not_do_this_at_home.dart.md
Labels: documentation
