Repository felangel/bloc, pull requests merged in 2023-01, with the labels that each got.

#3679 docs(bricks): fix typo in mason repo url
  bricks/README.md
Labels: documentation

#3683 fix(bricks): flutter_bloc_feature remove recase
  bricks/flutter_bloc_feature/hooks/pre_gen.dart
  bricks/flutter_bloc_feature/hooks/pubspec.yaml
Labels: bug, bricks

#3684 chore(bricks): flutter_bloc_feature v0.2.1
  bricks/flutter_bloc_feature/CHANGELOG.md
  bricks/flutter_bloc_feature/brick.yaml
Labels: release candidate, chore, bricks

#3681 refactor(flutter_login): dispose authentication repository
  examples/flutter_login/lib/app.dart
  examples/flutter_login/lib/authentication/bloc/authentication_bloc.dart
  examples/flutter_login/lib/main.dart
Labels: example, refactor

#3689 docs: fix sidebar toggle width
  docs/assets/style.css
Labels: documentation

#3675 refactor(flutter_bloc): remove unnecessary single child widget mixins
  packages/flutter_bloc/lib/flutter_bloc.dart
  packages/flutter_bloc/lib/src/bloc_listener.dart
  packages/flutter_bloc/lib/src/bloc_provider.dart
  packages/flutter_bloc/lib/src/multi_bloc_listener.dart
  packages/flutter_bloc/lib/src/multi_bloc_provider.dart
  packages/flutter_bloc/lib/src/multi_repository_provider.dart
  packages/flutter_bloc/lib/src/repository_provider.dart
Labels: pkg:flutter_bloc, refactor
