Repository felangel/bloc, pull requests merged in 2023-10, with the labels that each got.

#3965 docs(readme): remove broken link in README files
  docs/cs/README.md
  docs/de-de/README.md
  docs/es/README.md
  docs/fr/README.md
  docs/pt-br/README.md
  docs/zh-cn/README.md
Labels: documentation

#3978 docs(coreconcepts): fix outputs when observing blocs/cubits
  docs/_snippets/core_concepts/counter_cubit_on_change_usage_output.sh.md
  docs/_snippets/core_concepts/simple_bloc_observer_on_event_output.sh.md
  docs/_snippets/core_concepts/simple_bloc_observer_on_transition_output.sh.md
  docs/coreconcepts.md
Labels: documentation

#3976 fix(bloc_test): add await before expect
  packages/bloc_test/lib/src/bloc_test.dart
  packages/bloc_test/test/bloc_bloc_test_test.dart
  packages/bloc_test/test/cubit_bloc_test_test.dart
Labels: bug, pkg:bloc_test

#3986 chore(bloc_test): v9.1.5
  packages/bloc_test/CHANGELOG.md
  packages/bloc_test/pubspec.yaml
Labels: release candidate, pkg:bloc_test, chore
