Repository felangel/bloc, pull requests merged in 2024-11, with the labels that each got.

#4271 docs: fix typo in ko/bloc-concepts.mdx
  docs/src/content/docs/ko/bloc-concepts.mdx
Labels: translation

#4274 docs(deps): upgrade astro deps
  docs/package-lock.json
  docs/package.json
  docs/src/styles/landing.css
Labels: documentation, chore

#4276 docs: fix typo in `zh-cn/bloc-concepts.mdx`
  docs/src/content/docs/zh-cn/bloc-concepts.mdx
Labels: translation

#4275 fix(flutter_todos): use `ListView.builder` for improved performance
  examples/flutter_todos/lib/todos_overview/view/todos_overview_page.dart
Labels: example

#4273 docs: add fr translations for `architecture`, `getting-started`, `index`, `testing`, and `why-bloc`
  docs/src/content/docs/fr/architecture.mdx
  docs/src/content/docs/fr/getting-started.mdx
  docs/src/content/docs/fr/index.mdx
  docs/src/content/docs/fr/testing.mdx
  docs/src/content/docs/fr/why-bloc.mdx
Labels: translation

#4280 docs: add `pt-br/modeling-state.mdx`
  docs/src/content/docs/pt-br/modeling-state.mdx
Labels: translation

#4281 chore(bloc_lint): create empty package
  README.md
  packages/bloc_lint/CHANGELOG.md
  packages/bloc_lint/LICENSE
  packages/bloc_lint/README.md
  packages/bloc_lint/analysis_options.yaml
  packages/bloc_lint/pubspec.yaml
  packages/bloc_lint/screenshots/logo.png
Labels: chore, pkg:bloc_lint

#4262 feat(hydrated_bloc): use `package:hive_ce`
  packages/hydrated_bloc/lib/src/hydrated_cipher.dart
  packages/hydrated_bloc/lib/src/hydrated_storage.dart
  packages/hydrated_bloc/pubspec.yaml
  packages/hydrated_bloc/test/hive_interference_test.dart
  packages/hydrated_bloc/test/hydrated_aes_cipher_test.dart
  packages/hydrated_bloc/test/hydrated_storage_test.dart
Labels: enhancement, pkg:hydrated_bloc

#4285 chore(bricks): bloc v0.4.0
  bricks/bloc/CHANGELOG.md
  bricks/bloc/brick.yaml
  bricks/bloc/hooks/pubspec.yaml
Labels: release candidate, chore, bricks

#4286 chore(bricks): cubit v0.3.0
  bricks/cubit/CHANGELOG.md
  bricks/cubit/brick.yaml
  bricks/cubit/hooks/pubspec.yaml
Labels: release candidate, chore, bricks

#4287 chore(bricks): hydrated_bloc v0.4.0
  bricks/hydrated_bloc/CHANGELOG.md
  bricks/hydrated_bloc/brick.yaml
  bricks/hydrated_bloc/hooks/pubspec.yaml
Labels: release candidate, chore, bricks

#4290 chore(bricks): replay_cubit v0.3.0
  bricks/replay_cubit/CHANGELOG.md
  bricks/replay_cubit/brick.yaml
  bricks/replay_cubit/hooks/pubspec.yaml
Labels: release candidate, chore, bricks

#4291 chore(bricks): flutter_bloc_feature v0.4.0
  bricks/flutter_bloc_feature/CHANGELOG.md
  bricks/flutter_bloc_feature/brick.yaml
  bricks/flutter_bloc_feature/hooks/pre_gen.dart
  bricks/flutter_bloc_feature/hooks/pubspec.yaml
Labels: release candidate, chore, bricks

#4294 chore(hydrated_bloc): upgrade example web platform
  packages/hydrated_bloc/example/.metadata
  packages/hydrated_bloc/example/web/index.html
Labels: example, chore, pkg:hydrated_bloc
