Repository felangel/bloc, pull requests merged in 2024-08, with the labels that each got.

#4222 refactor(flutter_firebase_login): use `context.select` instead of BlocBuilders
  docs/src/content/docs/tutorials/flutter-firebase-login.mdx
  examples/flutter_firebase_login/lib/login/view/login_form.dart
  examples/flutter_firebase_login/lib/sign_up/view/sign_up_form.dart
Labels: example, refactor

#4223 refactor(flutter_firebase_login): use `emit.onEach` in `AppBloc`
  docs/src/content/docs/tutorials/flutter-firebase-login.mdx
  examples/flutter_firebase_login/ios/Podfile
  examples/flutter_firebase_login/ios/Runner/AppDelegate.swift
  examples/flutter_firebase_login/lib/app/bloc/app_bloc.dart
  examples/flutter_firebase_login/lib/app/bloc/app_event.dart
  examples/flutter_firebase_login/lib/app/bloc/app_state.dart
  examples/flutter_firebase_login/lib/app/view/app.dart
  examples/flutter_firebase_login/lib/home/view/home_page.dart
  examples/flutter_firebase_login/packages/authentication_repository/lib/src/models/user.dart
  examples/flutter_firebase_login/packages/authentication_repository/test/models/user_test.dart
  examples/flutter_firebase_login/packages/form_inputs/pubspec.yaml
  examples/flutter_firebase_login/pubspec.yaml
  examples/flutter_firebase_login/test/app/bloc/app_bloc_test.dart
  examples/flutter_firebase_login/test/app/bloc/app_state_test.dart
  examples/flutter_firebase_login/test/app/view/app_test.dart
  examples/flutter_firebase_login/test/home/view/home_page_test.dart
Labels: example, refactor

#4225 fix(flutter_todos): fix zone mismatch error
  examples/flutter_todos/lib/bootstrap.dart
Labels: example

#4237 fix(flutter_bloc): ensure widget is mounted before invoking listener
  packages/flutter_bloc/lib/src/bloc_listener.dart
Labels: bug, pkg:flutter_bloc
