Repository felangel/bloc, pull requests merged in 2024-07, with the labels that each got.

#4200 chore: add `funding` to `pubspec.yaml`
  packages/angular_bloc/pubspec.yaml
  packages/bloc/pubspec.yaml
  packages/bloc_concurrency/pubspec.yaml
  packages/bloc_test/pubspec.yaml
  packages/bloc_tools/pubspec.yaml
  packages/flutter_bloc/pubspec.yaml
  packages/hydrated_bloc/pubspec.yaml
  packages/replay_bloc/pubspec.yaml
Labels: chore

#4202 docs(getting-started): use `flutter pub add` for `flutter_bloc` installation
  docs/src/components/getting-started/InstallationTabs.astro
Labels: documentation

#4212 refactor(flutter_login): use `context.select` instead of BlocBuilders
  examples/flutter_login/ios/Flutter/AppFrameworkInfo.plist
  examples/flutter_login/ios/Runner.xcodeproj/project.pbxproj
  examples/flutter_login/ios/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
  examples/flutter_login/lib/home/view/home_page.dart
  examples/flutter_login/lib/login/view/login_form.dart
  examples/flutter_login/lib/login/view/login_page.dart
Labels: example, refactor

#4210 fix(flutter_login): fix flickering on login transition
  examples/flutter_login/lib/login/view/login_form.dart
  examples/flutter_login/test/login/view/login_form_test.dart
Labels: bug, example

#4211 refactor(flutter_login): use `emit.onEach` in `AuthenticationBloc`
  docs/src/content/docs/tutorials/flutter-login.mdx
  examples/flutter_login/lib/app.dart
  examples/flutter_login/lib/authentication/bloc/authentication_bloc.dart
  examples/flutter_login/lib/authentication/bloc/authentication_event.dart
  examples/flutter_login/lib/home/view/home_page.dart
  examples/flutter_login/test/authentication/authentication_bloc_test.dart
Labels: example, refactor

#4216 refactor(weather_example): simplify state management and improve layout
  docs/src/components/tutorials/flutter-weather/ThemeCubitTreeSnippet.astro
  docs/src/content/docs/tutorials/flutter-weather.mdx
  examples/flutter_weather/.metadata
  examples/flutter_weather/ios/Flutter/AppFrameworkInfo.plist
  examples/flutter_weather/ios/Podfile
  examples/flutter_weather/ios/Runner.xcodeproj/project.pbxproj
  examples/flutter_weather/ios/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
  examples/flutter_weather/lib/app.dart
  examples/flutter_weather/lib/settings/view/settings_page.dart
  examples/flutter_weather/lib/theme/cubit/theme_cubit.dart
  examples/flutter_weather/lib/theme/theme.dart
  examples/flutter_weather/lib/weather/view/weather_page.dart
  examples/flutter_weather/lib/weather/widgets/weather_populated.dart
  examples/flutter_weather/test/app_test.dart
  examples/flutter_weather/test/settings/view/settings_page_test.dart
  examples/flutter_weather/test/theme/cubit/theme_cubit_test.dart
  examples/flutter_weather/test/weather/view/weather_page_test.dart
  examples/flutter_weather/web/index.html
Labels: example, refactor
