Repository felangel/bloc, pull requests merged in 2024-03, with the labels that each got.

#4080 docs: fix chinese lang translation
  docs/astro.config.mjs
Labels: translation

#4076 chore(flutter_firebase_login): delete unused enum
  examples/flutter_firebase_login/lib/sign_up/cubit/sign_up_state.dart
Labels: example, chore

#4081 ci: add docs checks
  .github/actions/astro_site/action.yaml
  .github/actions/dart_package/action.yaml
  .github/actions/flutter_package/action.yaml
  .github/workflows/docs.yaml
  .github/workflows/main.yaml
Labels: ci

#4082 feat(flutter_bloc): override `debugFillProperties`
  packages/flutter_bloc/example/pubspec_overrides.yaml
  packages/flutter_bloc/lib/src/bloc_builder.dart
  packages/flutter_bloc/lib/src/bloc_consumer.dart
  packages/flutter_bloc/lib/src/bloc_listener.dart
  packages/flutter_bloc/lib/src/bloc_provider.dart
  packages/flutter_bloc/lib/src/bloc_selector.dart
  packages/flutter_bloc/test/bloc_builder_test.dart
  packages/flutter_bloc/test/bloc_consumer_test.dart
  packages/flutter_bloc/test/bloc_listener_test.dart
  packages/flutter_bloc/test/bloc_provider_test.dart
  packages/flutter_bloc/test/bloc_selector_test.dart
  packages/flutter_bloc/test/repository_provider_test.dart
Labels: enhancement, pkg:flutter_bloc

#4083 refactor: additional lint rules
  analysis_options.yaml
  examples/flutter_firebase_login/test/app/bloc_observer_test.dart
  examples/flutter_firebase_login/test/sign_up/view/sign_up_form_test.dart
  packages/replay_bloc/example/lib/main.dart
Labels: refactor

#4084 docs: add `es/index.mdx`
  docs/src/components/landing/Discord.astro
  docs/src/components/landing/SponsorsGrid.astro
  docs/src/content/docs/es/index.mdx
Labels: translation

#4085 docs: add fil/index.mdx
  docs/astro.config.mjs
  docs/src/content/docs/fil/index.mdx
Labels: translation

#4086 docs: add `ar/index.mdx`
  docs/astro.config.mjs
  docs/src/content/docs/ar/index.mdx
Labels: translation

#4087 docs: add `getting-started` and `why-bloc` fil translation
  docs/src/content/docs/fil/getting-started.mdx
  docs/src/content/docs/fil/why-bloc.mdx
Labels: translation

#4088 docs: fix the positions of `MultiRepositoryProvider` snippets
  docs/src/content/docs/flutter-bloc-concepts.mdx
Labels: documentation

#4092 fix(vscode): wrap with preserves `const`
  extensions/vscode/src/utils/get-selected-text.ts
Labels: bug, extension

#4093 fix(vscode): wrap with preserves escaping
  extensions/vscode/src/utils/wrap-with.ts
Labels: bug, extension

#4094 chore(bricks): bloc v0.3.1
  bricks/bloc/CHANGELOG.md
  bricks/bloc/brick.yaml
Labels: release candidate, chore, bricks

#4095 chore(bricks): cubit v0.2.1
  bricks/cubit/CHANGELOG.md
  bricks/cubit/brick.yaml
Labels: release candidate, chore, bricks

#4096 chore(bricks): hydrated_bloc v0.3.1
  bricks/hydrated_bloc/CHANGELOG.md
  bricks/hydrated_bloc/brick.yaml
Labels: release candidate, chore, bricks

#4097 chore(bricks): hydrated_cubit v0.2.1
  bricks/hydrated_cubit/CHANGELOG.md
  bricks/hydrated_cubit/brick.yaml
Labels: release candidate, chore, bricks

#4098 chore(bricks): replay_bloc v0.2.1
  bricks/replay_bloc/CHANGELOG.md
  bricks/replay_bloc/brick.yaml
Labels: release candidate, chore, bricks

#4099 chore(bricks): replay_cubit v0.2.1
  bricks/replay_cubit/CHANGELOG.md
  bricks/replay_cubit/brick.yaml
Labels: release candidate, chore, bricks

#4100 chore(bricks): flutter_bloc_feature v0.3.1
  bricks/flutter_bloc_feature/CHANGELOG.md
  bricks/flutter_bloc_feature/brick.yaml
Labels: release candidate, chore, bricks

#4102 chore(intellij): update dependencies
  extensions/intellij/intellij_generator_plugin/build.gradle
  extensions/intellij/intellij_generator_plugin/gradle/wrapper/gradle-wrapper.properties
  extensions/intellij/intellij_generator_plugin/src/main/java/com/bloc/intellij_generator_plugin/action/GenerateBlocDialog.java
  extensions/intellij/intellij_generator_plugin/src/main/java/com/bloc/intellij_generator_plugin/action/GenerateEquatablePropsAction.kt
Labels: extension

#4104 feat(intellij)!: generate sealed classes
  extensions/intellij/intellij_generator_plugin/src/main/java/com/bloc/intellij_generator_plugin/action/GenerateBlocAction.kt
  extensions/intellij/intellij_generator_plugin/src/main/java/com/bloc/intellij_generator_plugin/action/GenerateBlocDialog.java
  extensions/intellij/intellij_generator_plugin/src/main/java/com/bloc/intellij_generator_plugin/action/GenerateCubitAction.kt
  extensions/intellij/intellij_generator_plugin/src/main/java/com/bloc/intellij_generator_plugin/action/GenerateEquatablePropsAction.kt
  extensions/intellij/intellij_generator_plugin/src/main/java/com/bloc/intellij_generator_plugin/generator/BlocGenerator.kt
  extensions/intellij/intellij_generator_plugin/src/main/java/com/bloc/intellij_generator_plugin/generator/BlocGeneratorFactory.kt
  extensions/intellij/intellij_generator_plugin/src/main/java/com/bloc/intellij_generator_plugin/generator/CubitGenerator.kt
  extensions/intellij/intellij_generator_plugin/src/main/java/com/bloc/intellij_generator_plugin/generator/CubitGeneratorFactory.kt
  extensions/intellij/intellij_generator_plugin/src/main/resources/templates/bloc_basic/bloc.dart.template
  extensions/intellij/intellij_generator_plugin/src/main/resources/templates/bloc_basic/bloc_event.dart.template
  extensions/intellij/intellij_generator_plugin/src/main/resources/templates/bloc_basic/bloc_state.dart.template
  extensions/intellij/intellij_generator_plugin/src/main/resources/templates/bloc_equatable/bloc.dart.template
  extensions/intellij/intellij_generator_plugin/src/main/resources/templates/bloc_equatable/bloc_event.dart.template
  extensions/intellij/intellij_generator_plugin/src/main/resources/templates/bloc_equatable/bloc_state.dart.template
  extensions/intellij/intellij_generator_plugin/src/main/resources/templates/cubit_basic/cubit_state.dart.template
  extensions/intellij/intellij_generator_plugin/src/main/resources/templates/cubit_equatable/cubit_state.dart.template
Labels: extension, feedback wanted, breaking change

#4106 docs(flutter_bloc): add missing comma to `BlocListener` API docs
  packages/flutter_bloc/lib/src/bloc_listener.dart
Labels: documentation

#4105 chore(intellij): v4.0.0
  extensions/intellij/intellij_generator_plugin/build.gradle
  extensions/intellij/intellij_generator_plugin/src/main/java/com/bloc/intellij_generator_plugin/action/GenerateEquatablePropsAction.kt
  extensions/intellij/intellij_generator_plugin/src/main/resources/META-INF/plugin.xml
Labels: release candidate, extension

#4107 chore(angular_bloc): v10.0.0-dev.3
  packages/angular_bloc/CHANGELOG.md
  packages/angular_bloc/pubspec.yaml
Labels: release candidate, pkg:angular_bloc

#4119 chore(bloc): v8.1.4
  packages/bloc/CHANGELOG.md
  packages/bloc/pubspec.yaml
Labels: release candidate, pkg:bloc, chore

#4120 chore(bloc_concurrency): v0.2.5
  packages/bloc_concurrency/CHANGELOG.md
  packages/bloc_concurrency/pubspec.yaml
Labels: release candidate, chore, pkg:bloc_concurrency

#4121 chore(bloc_test): v9.1.7
  packages/bloc_test/CHANGELOG.md
  packages/bloc_test/pubspec.yaml
Labels: release candidate, pkg:bloc_test, chore

#4122 chore(flutter_bloc): v8.1.5
  packages/flutter_bloc/CHANGELOG.md
  packages/flutter_bloc/pubspec.yaml
Labels: release candidate, pkg:flutter_bloc, chore

#4123 chore(hydrated_bloc): v9.1.5
  packages/hydrated_bloc/CHANGELOG.md
  packages/hydrated_bloc/pubspec.yaml
Labels: release candidate, chore, pkg:hydrated_bloc

#4124 chore(replay_bloc): v0.2.7
  packages/replay_bloc/CHANGELOG.md
  packages/replay_bloc/pubspec.yaml
Labels: release candidate, chore, pkg:replay_bloc

#4125 chore(bloc_tools): v0.1.0-dev.6
  packages/bloc_tools/CHANGELOG.md
  packages/bloc_tools/pubspec.yaml
  packages/bloc_tools/screenshots/logo.png
Labels: release candidate, chore, pkg:bloc_tools

#4110 docs: add `pt-br/index.mdx`
  docs/src/content/docs/pt-br/index.mdx
Labels: translation

#4118 docs: add `pt-br/getting-started.mdx `
  docs/src/content/docs/pt-br/getting-started.mdx
Labels: translation

#4113 docs(testing): add Dart/Flutter tabs for installing dev dependencies
  docs/src/components/testing/AddDevDependenciesSnippet.astro
Labels: documentation
