Repository felangel/bloc, pull requests merged in 2024-02, with the labels that each got.

#4055 chore: update format and analyze commands in CONTRIBUTING.md
  CONTRIBUTING.md
Labels: chore

#4060 chore(angular_bloc): v10.0.0-dev.2
  .github/actions/angular_dart_package/action.yaml
  .github/actions/dart_package/action.yaml
  .github/actions/flutter_package/action.yaml
  examples/angular_counter/pubspec.yaml
  examples/github_search/angular_github_search/pubspec.yaml
  packages/angular_bloc/CHANGELOG.md
  packages/angular_bloc/pubspec.yaml
Labels: release candidate, pkg:angular_bloc

#4061 chore(bloc): v8.1.3
  packages/bloc/CHANGELOG.md
  packages/bloc/pubspec.yaml
Labels: release candidate, pkg:bloc, chore

#4062 chore(bloc_concurrency): v0.2.4
  packages/bloc_concurrency/CHANGELOG.md
  packages/bloc_concurrency/pubspec.yaml
Labels: release candidate, pkg:bloc_concurrency

#4063 chore(bloc_test): 9.1.6
  packages/bloc_test/CHANGELOG.md
  packages/bloc_test/pubspec.yaml
Labels: release candidate, pkg:bloc_test

#4064 chore(flutter_bloc): v8.1.4
  packages/flutter_bloc/CHANGELOG.md
  packages/flutter_bloc/pubspec.yaml
Labels: release candidate, pkg:flutter_bloc

#4065 chore(hydrated_bloc): v9.1.4
  packages/hydrated_bloc/CHANGELOG.md
  packages/hydrated_bloc/pubspec.yaml
Labels: release candidate, pkg:hydrated_bloc

#4066 chore(replay_bloc): v0.2.6
  packages/replay_bloc/CHANGELOG.md
  packages/replay_bloc/pubspec.yaml
Labels: release candidate, pkg:replay_bloc
