Repository felangel/bloc, pull requests merged in 2025-07, with the labels that each got.

#4555 fix(docs): remove stray backtick in RepositoryProvider example code comment
  packages/flutter_bloc/lib/src/repository_provider.dart
Labels: documentation

#4554 docs(modeling-state): add korean translation
  docs/src/content/docs/ko/modeling-state.mdx
Labels: translation

#4390 feat(hydrated_bloc): add `onError` and `HydrationErrorBehavior` to `hydrate`
  packages/hydrated_bloc/README.md
  packages/hydrated_bloc/lib/src/hydrated_bloc.dart
  packages/hydrated_bloc/test/hydrated_mixin_test.dart
Labels: enhancement, pkg:hydrated_bloc

#4565 chore(hydrated_bloc): v10.1.0
  packages/hydrated_bloc/CHANGELOG.md
  packages/hydrated_bloc/pubspec.yaml
Labels: release candidate, pkg:hydrated_bloc

#4537 fix(hydrated_bloc)!: `HydratedCubit` storage override should be a named parameter
  packages/hydrated_bloc/lib/src/hydrated_bloc.dart
  packages/hydrated_bloc/test/hydrated_cubit_test.dart
Labels: breaking change, pkg:hydrated_bloc

#4569 fix(bloc_lint): include bloc/cubit instances declared in any file
  packages/bloc_lint/lib/src/rules/avoid_public_bloc_methods.dart
  packages/bloc_lint/lib/src/rules/avoid_public_fields.dart
  packages/bloc_lint/lib/src/rules/prefer_void_public_cubit_methods.dart
  packages/bloc_lint/test/src/rules/avoid_public_bloc_methods_test.dart
  packages/bloc_lint/test/src/rules/avoid_public_fields_test.dart
  packages/bloc_lint/test/src/rules/prefer_void_public_cubit_methods_test.dart
Labels: bug, pkg:bloc_lint

#4571 chore(bloc_lint): v0.2.1
  packages/bloc_lint/CHANGELOG.md
  packages/bloc_lint/pubspec.yaml
Labels: release candidate, pkg:bloc_lint

#4574 docs(bloc_tools): `README.md` improvements
  packages/bloc_tools/README.md
Labels: documentation, pkg:bloc_tools

#4575 chore(bloc_tools): v0.1.0-dev.17
  packages/bloc_tools/CHANGELOG.md
  packages/bloc_tools/lib/src/version.dart
  packages/bloc_tools/pubspec.yaml
Labels: release candidate, chore, pkg:bloc_tools

#4576 chore(vscode): v6.8.9
  extensions/vscode/CHANGELOG.md
  extensions/vscode/package-lock.json
  extensions/vscode/package.json
  extensions/vscode/src/utils/install-bloc-tools.ts
Labels: release candidate, extension

#4577 chore(intellij): v4.1.7
  extensions/intellij/intellij_generator_plugin/build.gradle.kts
  extensions/intellij/intellij_generator_plugin/src/main/java/com/bloc/intellij_generator_plugin/language_server/BlocLanguageServer.kt
  extensions/intellij/intellij_generator_plugin/src/main/resources/META-INF/plugin.xml
Labels: release candidate, extension

#4578 feat(bloc_lint): add `prefer_file_naming_conventions` lint
  packages/bloc_lint/README.md
  packages/bloc_lint/lib/all.yaml
  packages/bloc_lint/lib/bloc_lint.dart
  packages/bloc_lint/lib/recommended.yaml
  packages/bloc_lint/lib/src/linter.dart
  packages/bloc_lint/lib/src/rules/prefer_bloc.dart
  packages/bloc_lint/lib/src/rules/prefer_cubit.dart
  packages/bloc_lint/lib/src/rules/prefer_file_naming_conventions.dart
  packages/bloc_lint/lib/src/rules/rules.dart
  packages/bloc_lint/lib/src/string_case.dart
  packages/bloc_lint/test/src/rules/prefer_bloc_test.dart
  packages/bloc_lint/test/src/rules/prefer_cubit_test.dart
  packages/bloc_lint/test/src/rules/prefer_file_naming_conventions_test.dart
  packages/bloc_lint/test/src/text_document_test.dart
Labels: enhancement, pkg:bloc_lint

#4580 docs(linter): update installation snippets
  docs/src/components/lint/BlocLintMultipleRecommendedAnalysisOptionsSnippet.astro
  docs/src/components/lint/InstallBlocLintSnippet.astro
Labels: documentation

#4581 docs(vscode): fix broken link in README
  extensions/vscode/README.md
Labels: documentation, extension

#4579 docs(linter): add `prefer_file_naming_conventions`
  docs/src/components/lint-rules/prefer_file_naming_conventions/BadSnippet.mdx
  docs/src/components/lint-rules/prefer_file_naming_conventions/GoodSnippet.astro
  docs/src/content/docs/lint-rules/prefer_file_naming_conventions.mdx
Labels: documentation, pkg:bloc_lint

#4566 feat(bloc_concurrency): add visualizer example
  .github/workflows/main.yaml
  README.md
  examples/bloc_concurrency_visualizer/.gitignore
  examples/bloc_concurrency_visualizer/.metadata
  examples/bloc_concurrency_visualizer/README.md
  examples/bloc_concurrency_visualizer/analysis_options.yaml
  examples/bloc_concurrency_visualizer/assets/demo.gif
  examples/bloc_concurrency_visualizer/lib/main.dart
  examples/bloc_concurrency_visualizer/lib/timeline/bloc/timeline_bloc.dart
  examples/bloc_concurrency_visualizer/lib/timeline/bloc/timeline_event.dart
  examples/bloc_concurrency_visualizer/lib/timeline/bloc/timeline_state.dart
  examples/bloc_concurrency_visualizer/lib/timeline/models/models.dart
  examples/bloc_concurrency_visualizer/lib/timeline/models/task.dart
  examples/bloc_concurrency_visualizer/lib/timeline/models/transformer.dart
  examples/bloc_concurrency_visualizer/lib/timeline/timeline.dart
  examples/bloc_concurrency_visualizer/lib/timeline/view/timeline_page.dart
  examples/bloc_concurrency_visualizer/pubspec.yaml
  examples/bloc_concurrency_visualizer/web/favicon.png
  examples/bloc_concurrency_visualizer/web/icons/Icon-192.png
  examples/bloc_concurrency_visualizer/web/icons/Icon-512.png
  examples/bloc_concurrency_visualizer/web/icons/Icon-maskable-192.png
  examples/bloc_concurrency_visualizer/web/icons/Icon-maskable-512.png
  examples/bloc_concurrency_visualizer/web/index.html
  examples/bloc_concurrency_visualizer/web/manifest.json
Labels: example, pkg:bloc_concurrency
