Repository felangel/bloc, pull requests merged in 2025-06, with the labels that each got.

#4516 feat(bloc_tools): cross compile for arm64 and x64
  .github/actions/dart_compile/action.yaml
  .github/workflows/main.yaml
Labels: enhancement, ci, pkg:bloc_tools

#4517 fix(vscode): support for x64 bloc_tools
  extensions/vscode/src/utils/install-bloc-tools.ts
Labels: bug, extension

#4521 fix(bloc_lint): `avoid_public_bloc_methods` false positive
  packages/bloc_lint/lib/bloc_lint.dart
  packages/bloc_lint/lib/src/rules/avoid_public_bloc_methods.dart
  packages/bloc_lint/test/src/rules/avoid_public_bloc_methods_test.dart
Labels: bug, pkg:bloc_lint

#4522 chore(bloc_lint): v0.2.0-dev.5
  packages/bloc_lint/CHANGELOG.md
  packages/bloc_lint/pubspec.yaml
Labels: release candidate, chore, pkg:bloc_lint

#4523 chore(bloc_tools): v0.1.0-dev.14
  packages/bloc_tools/CHANGELOG.md
  packages/bloc_tools/lib/src/version.dart
  packages/bloc_tools/pubspec.yaml
Labels: release candidate, pkg:bloc_tools

#4524 chore(vscode): upgrade to bloc_tools 0.1.0-dev.14
  extensions/vscode/src/utils/install-bloc-tools.ts
Labels: extension, chore

#4527 chore(bloc_tools): v0.1.0-dev.15
  packages/bloc_tools/CHANGELOG.md
  packages/bloc_tools/lib/src/version.dart
  packages/bloc_tools/pubspec.yaml
Labels: release candidate, pkg:bloc_tools

#4529 chore(vscode): v6.8.7
  extensions/vscode/CHANGELOG.md
  extensions/vscode/package-lock.json
  extensions/vscode/package.json
Labels: release candidate, extension, chore

#4530 ci(dart_compile): adjust the generated executable name
  .github/actions/dart_compile/action.yaml
Labels: ci

#4531 refactor: update `analysis_options.yaml`
  analysis_options.yaml
  examples/flutter_firebase_login/test/app/bloc_observer_test.dart
  examples/flutter_shopping_cart/lib/cart/view/cart_page.dart
  examples/flutter_todos/lib/stats/bloc/stats_bloc.dart
  examples/flutter_todos/lib/todos_overview/bloc/todos_overview_bloc.dart
  packages/bloc_tools/test/src/command_runner_test.dart
Labels: refactor

#4533 refactor(intellij): remove unused code
  extensions/intellij/intellij_generator_plugin/src/main/java/com/bloc/intellij_generator_plugin/util/CommandLineHelper.kt
  extensions/intellij/intellij_generator_plugin/src/main/java/com/bloc/intellij_generator_plugin/util/VersionComparator.kt
  extensions/intellij/intellij_generator_plugin/src/test/kotlin/com/bloc/intellij_generator_plugin/util/VersionComparatorTest.kt
Labels: extension, refactor

#4535 refactor(intellij): use installer api
  extensions/intellij/intellij_generator_plugin/src/main/java/com/bloc/intellij_generator_plugin/language_server/BlocLanguageServer.kt
  extensions/intellij/intellij_generator_plugin/src/main/java/com/bloc/intellij_generator_plugin/language_server/BlocLanguageServerFactory.kt
  extensions/intellij/intellij_generator_plugin/src/main/java/com/bloc/intellij_generator_plugin/language_server/BlocLanguageServerInstaller.kt
Labels: extension, refactor

#4534 chore(intellij): v4.1.5
  extensions/intellij/intellij_generator_plugin/build.gradle.kts
  extensions/intellij/intellij_generator_plugin/src/main/java/com/bloc/intellij_generator_plugin/language_server/BlocLanguageServer.kt
  extensions/intellij/intellij_generator_plugin/src/main/java/com/bloc/intellij_generator_plugin/util/MultiplatformCommandLine.kt
  extensions/intellij/intellij_generator_plugin/src/main/resources/META-INF/plugin.xml
Labels: release candidate, extension

#4542 fix(bloc_lint): ignore `.fvm`
  packages/bloc_lint/lib/src/linter.dart
Labels: bug, pkg:bloc_lint

#4543 chore(bloc_lint): v0.2.0
  packages/bloc_lint/CHANGELOG.md
  packages/bloc_lint/pubspec.yaml
Labels: release candidate, chore, pkg:bloc_lint

#4545 chore(bloc_tools): v0.1.0-dev.16
  packages/bloc_tools/CHANGELOG.md
  packages/bloc_tools/lib/src/version.dart
  packages/bloc_tools/pubspec.yaml
Labels: release candidate, chore, pkg:bloc_tools

#4546 chore(vscode): v6.8.8
  extensions/vscode/CHANGELOG.md
  extensions/vscode/package-lock.json
  extensions/vscode/package.json
Labels: release candidate, extension

#4547 chore(intellij): v4.1.6
  extensions/intellij/intellij_generator_plugin/build.gradle.kts
  extensions/intellij/intellij_generator_plugin/src/main/resources/META-INF/plugin.xml
Labels: release candidate, extension, chore

#4548 docs(bloc_concepts): update zh-cn copy
  docs/src/content/docs/zh-cn/bloc-concepts.mdx
Labels: documentation, translation
