Repository felangel/bloc, pull requests merged in 2025-02, with the labels that each got.

#4351 docs: add es translations for introductory pages
  docs/astro.config.mjs
  docs/src/content/docs/es/architecture.mdx
  docs/src/content/docs/es/bloc-concepts.mdx
  docs/src/content/docs/es/faqs.mdx
  docs/src/content/docs/es/flutter-bloc-concepts.mdx
  docs/src/content/docs/es/getting-started.mdx
  docs/src/content/docs/es/migration.mdx
  docs/src/content/docs/es/modeling-state.mdx
  docs/src/content/docs/es/naming-conventions.mdx
  docs/src/content/docs/es/testing.mdx
  docs/src/content/docs/es/why-bloc.mdx
  docs/src/content/docs/migration.mdx
Labels: translation

#4359 refactor(flutter_todos): simplify completedTodos logic
  examples/flutter_todos/packages/local_storage_todos_api/lib/src/local_storage_todos_api.dart
Labels: example, refactor

#4361 chore(sponsors): update Stream logo
  assets/sponsors/stream.png
Labels: chore

#4362 chore(bloc_tools): upgrade dependencies
  packages/bloc_tools/lib/src/command_runner.dart
  packages/bloc_tools/pubspec.yaml
  packages/bloc_tools/test/src/command_runner_test.dart
Labels: chore, pkg:bloc_tools

#4356 feat(flutter_bloc): expose `dispose` on `RepositoryProvider`
  packages/flutter_bloc/lib/flutter_bloc.dart
  packages/flutter_bloc/lib/src/repository_provider.dart
  packages/flutter_bloc/test/repository_provider_test.dart
Labels: enhancement, pkg:flutter_bloc
