Repository felangel/bloc, pull requests merged in 2025-01, with the labels that each got.

#4308 chore(flutter_todos): bump deps
  examples/flutter_todos/pubspec.lock
Labels: example, dependency

#4309 ci: use latest pana and dartdoc
  .github/actions/dart_package/action.yaml
  .github/actions/flutter_package/action.yaml
Labels: ci

#4305 refactor(weather_example): use named extension
  examples/flutter_weather/lib/weather/cubit/weather_cubit.dart
  examples/flutter_weather/test/weather/cubit/weather_cubit_test.dart
Labels: example, refactor

#4310 refactor(bloc): use `Object.hashAll`
  packages/bloc/lib/src/change.dart
  packages/bloc/lib/src/transition.dart
  packages/bloc/pubspec.yaml
  packages/bloc/test/blocs/async/async_event.dart
  packages/bloc/test/blocs/async/async_state.dart
  packages/bloc/test/transition_test.dart
Labels: pkg:bloc, refactor

#4311 refactor(bloc)!: introduce `EmittableStateStreamableSource`
  .github/actions/dart_package/action.yaml
  .github/workflows/main.yaml
  packages/bloc/lib/src/bloc_base.dart
  packages/bloc_test/lib/src/bloc_test.dart
  packages/bloc_test/pubspec.yaml
Labels: pkg:bloc, pkg:bloc_test, breaking change, refactor

#4313 feat(hydrated_bloc)!: support for WASM
  packages/hydrated_bloc/README.md
  packages/hydrated_bloc/example/lib/main.dart
  packages/hydrated_bloc/lib/src/_migration/_migration_io.dart
  packages/hydrated_bloc/lib/src/_migration/_migration_stub.dart
  packages/hydrated_bloc/lib/src/hydrated_storage.dart
  packages/hydrated_bloc/test/e2e_test.dart
  packages/hydrated_bloc/test/hydrated_storage_test.dart
Labels: enhancement, breaking change, pkg:hydrated_bloc

#4314 feat(hydrated_bloc): allow overriding storage
  packages/hydrated_bloc/lib/src/hydrated_bloc.dart
  packages/hydrated_bloc/test/hydrated_bloc_test.dart
Labels: enhancement, pkg:hydrated_bloc

#4319 chore(bloc): v9.0.0
  packages/bloc/CHANGELOG.md
  packages/bloc/pubspec.yaml
Labels: release candidate, pkg:bloc, chore

#4320 chore(angular_bloc): v10.0.0-dev.5
  packages/angular_bloc/CHANGELOG.md
  packages/angular_bloc/pubspec.yaml
  packages/bloc/CHANGELOG.md
Labels: release candidate, pkg:angular_bloc, chore

#4321 chore(bloc_concurrency): v0.3.0
  packages/bloc_concurrency/CHANGELOG.md
  packages/bloc_concurrency/README.md
  packages/bloc_concurrency/pubspec.yaml
Labels: release candidate, chore, pkg:bloc_concurrency

#4322 chore(bloc_test): v10.0.0
  packages/bloc_test/CHANGELOG.md
  packages/bloc_test/README.md
  packages/bloc_test/pubspec.yaml
Labels: release candidate, pkg:bloc_test, chore

#4326 docs: upgrade to astro 5
  docs/package-lock.json
  docs/package.json
  docs/src/content/config.ts
  docs/src/content/docs/tutorials/ngdart-counter.mdx
Labels: documentation, dependency

#4327 docs: bump to bloc v9
  docs/src/content/docs/ar/index.mdx
  docs/src/content/docs/de/index.mdx
  docs/src/content/docs/es/index.mdx
  docs/src/content/docs/fa/index.mdx
  docs/src/content/docs/fil/index.mdx
  docs/src/content/docs/fr/index.mdx
  docs/src/content/docs/index.mdx
  docs/src/content/docs/ko/index.mdx
  docs/src/content/docs/zh-cn/index.mdx
Labels: documentation, chore

#4318 docs(flutter_infinite_list): update snippets to reflect latest code
  docs/src/components/tutorials/flutter-infinite-list/PostBlocOnPostFetchedSnippet.astro
  docs/src/components/tutorials/flutter-infinite-list/PostBlocTransformerSnippet.astro
  docs/src/content/docs/tutorials/flutter-infinite-list.mdx
Labels: example, documentation

#4306 docs(flutter_weather): add top level weather barrel file
  docs/src/components/tutorials/flutter-weather/WeatherBarrelDartSnippet.astro
  docs/src/content/docs/tutorials/flutter-weather.mdx
Labels: documentation

#4328 docs: remove confusing note from core concepts
  docs/src/content/docs/bloc-concepts.mdx
  docs/src/content/docs/ko/bloc-concepts.mdx
  docs/src/content/docs/pt-br/bloc-concepts.mdx
  docs/src/content/docs/zh-cn/bloc-concepts.mdx
Labels: documentation

#4329 docs(migration): updates for bloc v9
  docs/src/content/docs/migration.mdx
Labels: documentation

#4334 docs(flutter_login): update tutorial to reflect latest code
  docs/src/content/docs/tutorials/flutter-login.mdx
Labels: documentation

#4333 refactor: prefer `{List,Map}.of` over `{List,Map}.from`
  docs/src/content/docs/faqs.mdx
  docs/src/content/docs/ko/faqs.mdx
  packages/hydrated_bloc/test/cubits/list_cubit.dart
Labels: refactor

#4336 chore(flutter_firebase_login): upgrade Android platform code
  examples/flutter_firebase_login/.metadata
  examples/flutter_firebase_login/android/.gitignore
  examples/flutter_firebase_login/android/app/build.gradle
  examples/flutter_firebase_login/android/app/src/main/AndroidManifest.xml
  examples/flutter_firebase_login/android/app/src/main/java/io/flutter/app/FlutterMultiDexApplication.java
  examples/flutter_firebase_login/android/app/src/main/kotlin/com/example/flutter_firebase_login/MainActivity.kt
  examples/flutter_firebase_login/android/build.gradle
  examples/flutter_firebase_login/android/gradle.properties
  examples/flutter_firebase_login/android/gradle/wrapper/gradle-wrapper.properties
  examples/flutter_firebase_login/android/settings.gradle
Labels: example

#4338 refactor(flutter_infinite_list): remove unnecessary `Material` widget
  examples/flutter_infinite_list/lib/posts/widgets/post_list_item.dart
  examples/flutter_infinite_list/test/posts/view/posts_list_test.dart
Labels: example, refactor

#4340 docs: update 'part' keyword link
  docs/src/content/docs/tutorials/flutter-weather.mdx
Labels: documentation
