Repository felangel/bloc, pull requests merged in 2025-03, with the labels that each got.

#4363 chore(flutter_bloc): v9.1.0
  packages/flutter_bloc/CHANGELOG.md
  packages/flutter_bloc/README.md
  packages/flutter_bloc/pubspec.yaml
Labels: release candidate, pkg:flutter_bloc, chore

#4366 refactor: update examples to use `RepositoryProvider` new `dispose` API
  examples/flutter_todos/lib/app/app.dart
  examples/flutter_todos/lib/bootstrap.dart
  examples/flutter_todos/packages/todos_repository/lib/src/todos_repository.dart
  examples/flutter_todos/packages/todos_repository/test/todos_repository_test.dart
  examples/flutter_todos/pubspec.lock
  examples/flutter_todos/test/app_test.dart
  examples/flutter_weather/lib/app.dart
  examples/flutter_weather/lib/main.dart
  examples/flutter_weather/packages/open_meteo_api/lib/src/open_meteo_api_client.dart
  examples/flutter_weather/packages/open_meteo_api/test/open_meteo_api_client_test.dart
  examples/flutter_weather/packages/weather_repository/lib/src/weather_repository.dart
  examples/flutter_weather/packages/weather_repository/test/weather_repository_test.dart
  examples/flutter_weather/test/app_test.dart
  examples/github_search/angular_github_search/lib/app_component.dart
  examples/github_search/common_github_search/lib/src/github_cache.dart
  examples/github_search/common_github_search/lib/src/github_client.dart
  examples/github_search/common_github_search/lib/src/github_repository.dart
  examples/github_search/flutter_github_search/lib/main.dart
  packages/flutter_bloc/README.md
  packages/flutter_bloc/lib/src/repository_provider.dart
Labels: example, refactor

#4367 chore(flutter_bloc): v9.1.0
  packages/flutter_bloc/CHANGELOG.md
  packages/flutter_bloc/pubspec.yaml
Labels: release candidate, pkg:flutter_bloc, chore

#4368 docs: update to flutter bloc v9.1.0
  docs/src/components/concepts/flutter-bloc/RepositoryProviderDisposeSnippet.astro
  docs/src/components/concepts/flutter-bloc/WeatherAppSnippet.astro
  docs/src/components/concepts/flutter-bloc/WeatherMainSnippet.astro
  docs/src/components/concepts/flutter-bloc/WeatherRepositorySnippet.astro
  docs/src/content/docs/flutter-bloc-concepts.mdx
  examples/flutter_bloc_with_stream/pubspec.yaml
  examples/flutter_complex_list/pubspec.yaml
  examples/flutter_counter/pubspec.yaml
  examples/flutter_dynamic_form/pubspec.yaml
  examples/flutter_firebase_login/pubspec.yaml
  examples/flutter_form_validation/pubspec.yaml
  examples/flutter_infinite_list/pubspec.yaml
  examples/flutter_login/pubspec.yaml
  examples/flutter_shopping_cart/pubspec.yaml
  examples/flutter_timer/pubspec.yaml
  examples/flutter_todos/pubspec.lock
  examples/flutter_todos/pubspec.yaml
  examples/flutter_weather/lib/main.dart
  examples/flutter_weather/packages/weather_repository/lib/src/weather_repository.dart
  examples/flutter_weather/pubspec.yaml
  examples/flutter_wizard/pubspec.yaml
  packages/flutter_bloc/example/pubspec.yaml
  packages/hydrated_bloc/example/pubspec.yaml
  packages/replay_bloc/example/pubspec.yaml
Labels: documentation

#4369 docs: fix typos in `ko/bloc-concepts.mdx`,`ko/flutter-bloc-concepts.mdx`
  docs/src/content/docs/ko/bloc-concepts.mdx
  docs/src/content/docs/ko/flutter-bloc-concepts.mdx
Labels: translation

#4373 docs: add `neovim` integration to `index.mdx`
  docs/src/content/docs/ar/index.mdx
  docs/src/content/docs/de/index.mdx
  docs/src/content/docs/es/index.mdx
  docs/src/content/docs/fa/index.mdx
  docs/src/content/docs/fil/index.mdx
  docs/src/content/docs/fr/index.mdx
  docs/src/content/docs/index.mdx
  docs/src/content/docs/ko/index.mdx
  docs/src/content/docs/pt-br/index.mdx
  docs/src/content/docs/zh-cn/index.mdx
Labels: documentation

#4377 docs: replace `flutter packages get` with `flutter pub get`
  CONTRIBUTING.md
  docs/src/components/tutorials/FlutterPubGetSnippet.astro
  docs/src/components/tutorials/flutter-firebase-login/FlutterPackagesGetSnippet.astro
  docs/src/components/tutorials/flutter-login/FlutterPackagesGetSnippet.astro
  docs/src/components/tutorials/github-search/FlutterPackagesGetSnippet.astro
  docs/src/content/docs/tutorials/flutter-counter.mdx
  docs/src/content/docs/tutorials/flutter-firebase-login.mdx
  docs/src/content/docs/tutorials/flutter-login.mdx
  docs/src/content/docs/tutorials/flutter-timer.mdx
  docs/src/content/docs/tutorials/flutter-weather.mdx
  docs/src/content/docs/tutorials/github-search.mdx
  docs/src/content/docs/zh-cn/tutorials/flutter-counter.mdx
  examples/github_search/README.md
Labels: documentation

#4387 feat(bloc_tools): add `bloc new <template>` command
  packages/bloc_tools/README.md
  packages/bloc_tools/bin/bloc.dart
  packages/bloc_tools/lib/src/command_runner.dart
  packages/bloc_tools/lib/src/commands/new/bundles/bloc_bundle.dart
  packages/bloc_tools/lib/src/commands/new/bundles/bundles.dart
  packages/bloc_tools/lib/src/commands/new/bundles/cubit_bundle.dart
  packages/bloc_tools/lib/src/commands/new/bundles/hydrated_bloc_bundle.dart
  packages/bloc_tools/lib/src/commands/new/bundles/hydrated_cubit_bundle.dart
  packages/bloc_tools/lib/src/commands/new/bundles/replay_bloc_bundle.dart
  packages/bloc_tools/lib/src/commands/new/bundles/replay_cubit_bundle.dart
  packages/bloc_tools/lib/src/commands/new/new.dart
  packages/bloc_tools/pubspec.yaml
  packages/bloc_tools/test/src/command_runner_test.dart
  packages/bloc_tools/test/src/commands/new/new_test.dart
Labels: enhancement, pkg:bloc_tools

#4388 chore(bloc_tools): v0.1.0-dev.8
  packages/bloc_tools/CHANGELOG.md
  packages/bloc_tools/LICENSE
  packages/bloc_tools/lib/src/version.dart
  packages/bloc_tools/pubspec.yaml
Labels: release candidate, pkg:bloc_tools
