Repository felangel/bloc, pull requests merged in 2025-05, with the labels that each got.

#4432 fix(bloc_tools): language server on windows
  packages/bloc_lint/lib/src/analysis_options.dart
  packages/bloc_lint/lib/src/linter.dart
  packages/bloc_tools/lib/src/lsp/language_server.dart
  packages/bloc_tools/test/src/lsp/language_server_test.dart
Labels: bug, pkg:bloc_tools, pkg:bloc_lint

#4434 chore(bloc_lint): v0.2.0-dev.1
  packages/bloc_lint/CHANGELOG.md
  packages/bloc_lint/README.md
  packages/bloc_lint/pubspec.yaml
Labels: release candidate, chore, pkg:bloc_lint

#4435 chore(bloc_tools): v0.1.0-dev.10
  packages/bloc_tools/CHANGELOG.md
  packages/bloc_tools/lib/src/version.dart
  packages/bloc_tools/pubspec.yaml
Labels: release candidate, chore, pkg:bloc_tools

#4436 chore(vscode): v6.8.1
  extensions/vscode/CHANGELOG.md
  extensions/vscode/package-lock.json
  extensions/vscode/package.json
  extensions/vscode/src/language-server/language-server.ts
  extensions/vscode/src/utils/are-bloc-tools-installed.ts
  extensions/vscode/src/utils/install-bloc-tools.ts
Labels: release candidate, extension, chore

#4415 fix(flutter_bloc): rebuild `BlocSelector` when `selector` changes
  packages/flutter_bloc/lib/src/bloc_selector.dart
  packages/flutter_bloc/test/bloc_selector_test.dart
Labels: bug, pkg:flutter_bloc

#4439 chore(flutter_bloc): v9.1.1
  packages/flutter_bloc/CHANGELOG.md
  packages/flutter_bloc/LICENSE
  packages/flutter_bloc/pubspec.yaml
Labels: release candidate, pkg:flutter_bloc, chore

#4440 chore: minor README updates
  README.md
Labels: chore

#4441 docs(getting-started): include `bloc_tools` and `bloc_lint`
  docs/src/content/docs/ar/getting-started.mdx
  docs/src/content/docs/ar/index.mdx
  docs/src/content/docs/de/index.mdx
  docs/src/content/docs/es/getting-started.mdx
  docs/src/content/docs/es/index.mdx
  docs/src/content/docs/fa/getting-started.mdx
  docs/src/content/docs/fa/index.mdx
  docs/src/content/docs/fil/getting-started.mdx
  docs/src/content/docs/fil/index.mdx
  docs/src/content/docs/fr/getting-started.mdx
  docs/src/content/docs/fr/index.mdx
  docs/src/content/docs/getting-started.mdx
  docs/src/content/docs/index.mdx
  docs/src/content/docs/ko/getting-started.mdx
  docs/src/content/docs/ko/index.mdx
  docs/src/content/docs/lint-rules/avoid_public_fields.mdx
  docs/src/content/docs/pt-br/getting-started.mdx
  docs/src/content/docs/pt-br/index.mdx
  docs/src/content/docs/zh-cn/getting-started.mdx
  docs/src/content/docs/zh-cn/index.mdx
Labels: documentation

#4443 feat(bloc_lint): `prefer_void_public_cubit_methods`
  packages/bloc_lint/lib/all.yaml
  packages/bloc_lint/lib/bloc_lint.dart
  packages/bloc_lint/lib/recommended.yaml
  packages/bloc_lint/lib/src/linter.dart
  packages/bloc_lint/lib/src/rules/prefer_void_public_cubit_methods.dart
  packages/bloc_lint/lib/src/rules/rules.dart
  packages/bloc_lint/test/src/rules/prefer_void_public_cubit_methods_test.dart
Labels: enhancement, pkg:bloc_lint

#4444 chore(bloc_lint): v0.2.0-dev.2
  packages/bloc_lint/CHANGELOG.md
  packages/bloc_lint/README.md
  packages/bloc_lint/pubspec.yaml
Labels: release candidate, chore, pkg:bloc_lint

#4446 chore(bloc_tools): v0.1.0-dev.11
  packages/bloc_tools/CHANGELOG.md
  packages/bloc_tools/lib/src/version.dart
  packages/bloc_tools/pubspec.yaml
Labels: release candidate, chore, pkg:bloc_tools

#4448 feat(intellij): add bloc_lint support in IntelliJ BLoC Plugin
  extensions/intellij/intellij_generator_plugin/build.gradle.kts
  extensions/intellij/intellij_generator_plugin/gradle.properties
  extensions/intellij/intellij_generator_plugin/src/main/java/com/bloc/intellij_generator_plugin/language_server/BlocLanguageServer.kt
  extensions/intellij/intellij_generator_plugin/src/main/java/com/bloc/intellij_generator_plugin/language_server/BlocLanguageServerFactory.kt
  extensions/intellij/intellij_generator_plugin/src/main/resources/META-INF/plugin.xml
Labels: enhancement, extension

#4449 chore(intellij): v4.1.0
  extensions/intellij/intellij_generator_plugin/build.gradle.kts
  extensions/intellij/intellij_generator_plugin/src/main/resources/META-INF/plugin.xml
Labels: release candidate, extension, chore

#4450 docs(lint): upgrade installation documentation
  docs/src/components/lint/BlocLintMultipleRecommendedAnalysisOptionsSnippet.astro
  docs/src/components/lint/InstallBlocLintSnippet.astro
  docs/src/content/docs/lint/installation.mdx
Labels: documentation, extension, pkg:bloc_lint

#4466 refactor(intellij): replace deprecated api
  extensions/intellij/intellij_generator_plugin/src/main/java/com/bloc/intellij_generator_plugin/action/GenerateEquatablePropsAction.kt
  extensions/intellij/intellij_generator_plugin/src/main/java/com/bloc/intellij_generator_plugin/generator/BlocGenerator.kt
  extensions/intellij/intellij_generator_plugin/src/main/java/com/bloc/intellij_generator_plugin/generator/CubitGenerator.kt
  extensions/intellij/intellij_generator_plugin/src/main/java/com/bloc/intellij_generator_plugin/live_templates/BlocContext.kt
  extensions/intellij/intellij_generator_plugin/src/main/java/com/bloc/intellij_generator_plugin/live_templates/BlocTemplateProvider.kt
  extensions/intellij/intellij_generator_plugin/src/main/resources/META-INF/plugin.xml
  extensions/intellij/intellij_generator_plugin/src/main/resources/liveTemplates/Bloc.xml
Labels: extension, refactor

#4471 fix(vscode): add dart sdk constraint for language server
  extensions/vscode/src/language-server/language-server.ts
  extensions/vscode/src/utils/get-dart-version.ts
  extensions/vscode/src/utils/index.ts
  extensions/vscode/src/utils/install-bloc-tools.ts
Labels: bug, extension

#4472 chore(vscode): v6.8.3
  extensions/vscode/CHANGELOG.md
  extensions/vscode/package-lock.json
  extensions/vscode/package.json
Labels: release candidate, extension, breaking change

#4469 fix(intellij): add dart sdk constraint to language server
  extensions/intellij/intellij_generator_plugin/build.gradle.kts
  extensions/intellij/intellij_generator_plugin/src/main/java/com/bloc/intellij_generator_plugin/language_server/BlocLanguageServer.kt
  extensions/intellij/intellij_generator_plugin/src/main/java/com/bloc/intellij_generator_plugin/language_server/BlocLanguageServerFactory.kt
  extensions/intellij/intellij_generator_plugin/src/main/java/com/bloc/intellij_generator_plugin/util/BlocPluginNotification.kt
  extensions/intellij/intellij_generator_plugin/src/main/java/com/bloc/intellij_generator_plugin/util/CommandLineHelper.kt
  extensions/intellij/intellij_generator_plugin/src/main/java/com/bloc/intellij_generator_plugin/util/VersionComparator.kt
  extensions/intellij/intellij_generator_plugin/src/test/kotlin/com/bloc/intellij_generator_plugin/util/VersionComparatorTest.kt
Labels: bug, extension

#4474 chore(intellij): v4.1.1
  extensions/intellij/intellij_generator_plugin/build.gradle.kts
  extensions/intellij/intellij_generator_plugin/src/main/resources/META-INF/plugin.xml
Labels: release candidate, extension, chore

#4475 ci: use `setup-bloc-tools` action
  .github/actions/angular_dart_package/action.yaml
  .github/actions/dart_package/action.yaml
  .github/actions/flutter_package/action.yaml
  .github/workflows/main.yaml
Labels: ci

#4481 fix(intellij): add .bat at the end of exe for windows users
  extensions/intellij/intellij_generator_plugin/src/main/java/com/bloc/intellij_generator_plugin/language_server/BlocLanguageServer.kt
  extensions/intellij/intellij_generator_plugin/src/main/java/com/bloc/intellij_generator_plugin/util/CommandLineHelper.kt
  extensions/intellij/intellij_generator_plugin/src/main/java/com/bloc/intellij_generator_plugin/util/MultiplatformCommandLine.kt
Labels: bug, extension

#4480 fix(intellij): apache commons text missing on some IJ versions
  extensions/intellij/intellij_generator_plugin/build.gradle.kts
  extensions/intellij/intellij_generator_plugin/gradle.properties
Labels: bug, extension

#4482 fix(intellij): new bloc/cubit invalid newline characters
  extensions/intellij/intellij_generator_plugin/src/main/java/com/bloc/intellij_generator_plugin/generator/BlocGenerator.kt
  extensions/intellij/intellij_generator_plugin/src/main/java/com/bloc/intellij_generator_plugin/generator/CubitGenerator.kt
Labels: bug, extension

#4483 chore(intellij): v4.1.2
  extensions/intellij/intellij_generator_plugin/build.gradle.kts
  extensions/intellij/intellij_generator_plugin/src/main/resources/META-INF/plugin.xml
Labels: release candidate, extension, chore

#4484 docs(lint): french translations
  docs/src/content/docs/fr/lint/index.mdx
  docs/src/content/docs/fr/lint/installation.mdx
Labels: documentation, translation

#4485 feat(bloc_lint): support `// ignore_for_file`
  packages/bloc_lint/lib/src/linter.dart
  packages/bloc_lint/lib/src/text_document.dart
  packages/bloc_lint/test/src/linter_test.dart
  packages/bloc_lint/test/src/text_document_test.dart
Labels: enhancement, pkg:bloc_lint

#4486 feat(bloc_lint): support `// ignore`
  packages/bloc_lint/lib/src/linter.dart
  packages/bloc_lint/lib/src/text_document.dart
  packages/bloc_lint/test/src/linter_test.dart
  packages/bloc_lint/test/src/text_document_test.dart
Labels: enhancement, pkg:bloc_lint

#4487 feat(bloc_lint): support `// ignore type=lint`
  packages/bloc_lint/lib/src/linter.dart
  packages/bloc_lint/lib/src/text_document.dart
  packages/bloc_lint/test/src/linter_test.dart
  packages/bloc_lint/test/src/text_document_test.dart
Labels: enhancement, pkg:bloc_lint

#4488 chore(bloc_lint): v0.2.0-dev.3
  packages/bloc_lint/CHANGELOG.md
  packages/bloc_lint/pubspec.yaml
Labels: release candidate, chore, pkg:bloc_lint

#4489 chore(bloc_tools): v0.1.0-dev.12
  packages/bloc_tools/CHANGELOG.md
  packages/bloc_tools/lib/src/version.dart
  packages/bloc_tools/pubspec.yaml
Labels: release candidate, chore, pkg:bloc_tools

#4491 chore(vscode): upgrade to bloc_tools 0.1.0-dev.12
  extensions/vscode/src/utils/install-bloc-tools.ts
Labels: dependency updates, pkg:bloc_tools

#4492 chore(vscode): v6.8.4
  extensions/vscode/CHANGELOG.md
  extensions/vscode/package-lock.json
  extensions/vscode/package.json
Labels: release candidate, extension, chore

#4493 chore(intellij): upgrade to bloc_tools 0.1.0-dev.12
  extensions/intellij/intellij_generator_plugin/src/main/java/com/bloc/intellij_generator_plugin/language_server/BlocLanguageServer.kt
Labels: extension, chore, dependency updates

#4494 chore(intellij): v4.1.3
  extensions/intellij/intellij_generator_plugin/build.gradle.kts
  extensions/intellij/intellij_generator_plugin/src/main/resources/META-INF/plugin.xml
Labels: release candidate, extension, chore

#4498 fix(bloc_tools): `bloc lint` canonicalize path
  packages/bloc_tools/lib/src/commands/lint/lint_command.dart
  packages/bloc_tools/test/src/commands/lint/lint_command_test.dart
Labels: bug, pkg:bloc_tools

#4502 chore: update build status badge
  README.md
  bricks/bloc/README.md
  bricks/cubit/README.md
  bricks/flutter_bloc_feature/README.md
  bricks/hydrated_bloc/README.md
  bricks/hydrated_cubit/README.md
  bricks/replay_bloc/README.md
  bricks/replay_cubit/README.md
  examples/angular_counter/README.md
  examples/flutter_bloc_with_stream/README.md
  examples/flutter_complex_list/README.md
  examples/flutter_dynamic_form/README.md
  examples/flutter_firebase_login/README.md
  examples/flutter_form_validation/README.md
  examples/flutter_infinite_list/README.md
  examples/flutter_shopping_cart/README.md
  examples/flutter_timer/README.md
  examples/flutter_weather/README.md
  examples/flutter_wizard/README.md
  examples/github_search/README.md
  examples/github_search/angular_github_search/README.md
  examples/github_search/flutter_github_search/README.md
  extensions/vscode/README.md
  packages/angular_bloc/README.md
  packages/bloc/README.md
  packages/bloc_concurrency/README.md
  packages/bloc_lint/README.md
  packages/bloc_test/README.md
  packages/bloc_tools/README.md
  packages/flutter_bloc/README.md
  packages/hydrated_bloc/README.md
  packages/replay_bloc/README.md
Labels: chore

#4503 fix(intellij): include environment during command execution
  extensions/intellij/intellij_generator_plugin/src/main/java/com/bloc/intellij_generator_plugin/language_server/BlocLanguageServer.kt
  extensions/intellij/intellij_generator_plugin/src/main/java/com/bloc/intellij_generator_plugin/util/CommandLineHelper.kt
Labels: bug, extension

#4504 chore(intellij): v4.1.4
  extensions/intellij/intellij_generator_plugin/build.gradle.kts
  extensions/intellij/intellij_generator_plugin/src/main/resources/META-INF/plugin.xml
Labels: release candidate, extension, chore

#4476 ci: add `dart_compile` action
  .github/actions/dart_compile/action.yaml
  .github/workflows/main.yaml
Labels: ci

#4507 fix(vscode): install compiled bloc_tools executable
  extensions/vscode/package-lock.json
  extensions/vscode/package.json
  extensions/vscode/src/extension.ts
  extensions/vscode/src/language-server/language-server.ts
  extensions/vscode/src/utils/downloader.ts
  extensions/vscode/src/utils/get-bloc-tools-executable.ts
  extensions/vscode/src/utils/get-bloc-tools-version.ts
  extensions/vscode/src/utils/index.ts
  extensions/vscode/src/utils/install-bloc-tools.ts
  extensions/vscode/src/utils/is-dart-installed.ts
  extensions/vscode/src/utils/retry.ts
  extensions/vscode/tsconfig.json
Labels: extension

#4509 chore(bloc_tools): v0.1.0-dev.13
  packages/bloc_tools/CHANGELOG.md
  packages/bloc_tools/lib/src/version.dart
  packages/bloc_tools/pubspec.yaml
Labels: release candidate, pkg:bloc_tools

#4510 chore(vscode): v6.8.5
  extensions/vscode/CHANGELOG.md
  extensions/vscode/package-lock.json
  extensions/vscode/package.json
  extensions/vscode/src/utils/install-bloc-tools.ts
Labels: release candidate, extension
